ion-grid {
  --ion-grid-padding: 0;

  ion-col {
    --ion-grid-column-padding: 0;
  }
}
form {

  mat-radio-group {
    margin: 10px !important;
    display: block;
    mat-radio-button {
      margin-right: 10px;
    }
  }
  mat-form-field {
    display: block;
    margin: 8px;
    width: unset;
  }
}
