<mat-card class="profile">
  <div class="position">
    <a routerLink="/admin/dashboard" href="javascript:;" class="link"><mat-icon slot="start">home</mat-icon>首页</a>
    <span>知产风险报告</span>
  </div>
  <mat-card-header>
    <mat-card-title>知产风险报告</mat-card-title>
  </mat-card-header>
</mat-card>
<div class="container">
  <table *ngIf="dataSource" mat-table [dataSource]="dataSource">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef style="width: 50px">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> 索引.</th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> <b>报告名称</b></th>
      <td mat-cell *matCellDef="let element">
        {{element.fileName}}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef style="width: 200px"> <b>生成日期</b></th>
      <td mat-cell *matCellDef="let element">
        {{element.createTime}}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 250px"> <b>操作</b></th>
      <td mat-cell *matCellDef="let element">
        <a (click)="preDownload(element.id)" [download]="'1.docx'" [href]="FILE_PREFIX_URL + element.fileId" style="color: #027CFF">
          下载
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  <mat-paginator [pageIndex]="params.page - 1" [pageSize]="params.rows" [length]="total" (page)="page($event)" [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
</div>
