<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img src="/assets/images/logo.png">
    </div>
    <mat-card-title>知产云</mat-card-title>
    <mat-card-subtitle>企业知产基础服务</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="auth-form">
      <mat-form-field>
        <mat-label>用户名</mat-label>
        <input type="number" matInput formControlName="loginid">
      </mat-form-field>
      <mat-form-field>
        <mat-label>验证码</mat-label>
        <input formControlName="validCode" matInput placeholder="请输入验证码">

        <button mat-button matSuffix id="sendValidCode" class="valid-code" (click)="sendValidCode()">
          {{activeText}}
        </button>
      </mat-form-field>
      <button id="submit" [disabled]="form.invalid" (click)="login()" type="button" mat-raised-button color="primary">登录</button>
    </form>
  </mat-card-content>
</mat-card>
<div id="popup-captcha"></div>
