.button-row {
  position: absolute;
  right: var(--ion-grid-column-padding-xl, var(--ion-grid-column-padding, 5px));
  z-index: 999;

  button {
    margin-left: 10px;
  }
}

.content {
  background: #fff;
  display: block;
}

mat-tab-group.main-tab {
  &::ng-deep {
    .mat-tab-label {
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      border-radius: 4px 4px 0 0;
      opacity: 0.85;
      margin-right: 5px;

      &.mat-tab-label-active {
        background: #027CFF;
        opacity: 1;
        color: #fff;
      }
    }

    .mat-tab-body-wrapper {
      display: none !important;
    }
  }
}

mat-tab-group.sub-tab {
  &::ng-deep {
    .mat-tab-label {
      min-width: 100px;
    }

    .mat-tab-body-wrapper {
      display: none !important;
    }
  }
}

table {
  th {
    background: #fafafa;
  }
}

.uploader {
  &::ng-deep {
    .mat-form-field-underline {
      display: none;
    }
  }

  .weui-uploader__input-box {
    margin: 10px 10px 0 0;
    border-radius: 5px;
    border: 1px dashed currentColor;

    &:before, &:after {
      display: none;
    }

    .weui-uploader__input-box-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);

      ion-icon {
        display: block;
        margin: 5px auto;
        font-size: 36px;
      }

      h3 {
        font-size: 14px;
        text-align: center;
        margin: 5px 0 10px;
      }

      p {
        text-align: center;
        margin: 10px 0 0;
        color: #999;
      }
    }
    &.uploaded {
      border: 1px dashed #fff;
      color: #fff;
    }
  }

  .weui-uploader__bd {
    margin-bottom: 0;
    margin-right: 0;
  }

  .weui-uploader__file {
    width: 100%;
    height: 150px;
  }

  .weui-uploader__input-box {
    width: 100%;
    height: 150px;
  }
}
