<div class="container">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <mat-card>
                    <div class="company">
                        <div class="degree">
                            <p style="color: #333;font-size: 18px;font-weight: 700;margin: 10px auto 5px">{{policy?.weight}}%</p>
                            <p style="color: #333;font-size: 14px;font-weight: 400;">政策匹配程度</p>
                        </div>
                        <div class="company_left"></div>
                        <div class="company_right"><p>{{policy?.name}}</p></div>
                    </div>
                </mat-card>
            </ion-col>

            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>政策信息</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <label>有效地区： {{policy?.province ? policy?.province : '全国'}}</label>
                        <label>适用行业：
                            <article>
                                {{policy?.industryNames}}
                            </article>
                        </label>
                        <label style="margin-top: 30px">补贴金额范围（万元）：{{policy?.subsidyAmtBegin}} 至 {{policy?.subsidyAmtEnd}}</label>
                        <label>政策有效时间：{{policy?.expiryBeginDate | date:'yyyy-MM-dd'}} 至 {{policy?.expiryEndDate | date:'yyyy-MM-dd'}}</label>
                        <label>申报时间范围：{{policy?.reportDateBegin | date:'yyyy-MM-dd'}} 至 {{policy?.reportDateEnd | date:'yyyy-MM-dd'}}</label>
                        <label>申报所需时长：{{policy?.reportTiming}}个月</label>
                    </mat-card-content>
                </mat-card>
            </ion-col>

            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>支持内容</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <label *ngIf="policy?.supportRemark" [innerHTML]="policy?.supportRemark"></label>
                        <!--<label *ngIf="!policy?.supportRemark">
                            （1）提升企业资质，为投标、融资、上市提供便捷；<br>
                            （2）减少征收10%企业所得税；<br>
                            （3）受理认定后补助科技经费最高35万。
                        </label>-->
                    </mat-card-content>
                </mat-card>
            </ion-col>

            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            科技项目咨询及规划服务——科创直通车
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <article
                                style="text-indent: 10px;margin: 20px;font-size: 13px;color: #595e73;line-height: 20px">
                            根据相关国家优惠政策及企业情况，定期推送并量身定制科技项目，就政府项目规划、培育、申报等提供全方位、前瞻性的咨询顾问服务。从而帮助企业享受政策红利，降低产业升级成本，通过获取政府资金的途径缓解企业的资金链难题。
                        </article>
                        <div class="content">
                            <table cellpadding="0" cellspacing="0" border="0" class="kc">
                                <thead>
                                <tr>
                                    <th class="user">服务内容</th>
                                    <th class="grade">一级科创直通车</th>
                                    <th class="consumption">二级科创直通车</th>
                                    <th class="date">三级科创直通车</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="user">服务期</td>
                                    <td class="grade">2年</td>
                                    <td class="consumption">2年</td>
                                    <td class="date">2年</td>
                                </tr>
                                <tr>
                                    <td class="user">产品内容</td>
                                    <td class="grade">科技项目规划与申报，扶持资金达 60 万</td>
                                    <td class="consumption">科技项目规划与申报，扶持资金达 100 万</td>
                                    <td class="date">科技项目规划与申报，扶持资金达 350 万</td>
                                </tr>
                                <tr>
                                    <td class="user">价格</td>
                                    <td class="grade">¥58000</td>
                                    <td class="consumption">¥98000</td>
                                    <td class="date">¥288000</td>
                                </tr>
                                <tr>
                                    <td class="user">超出部分收获奖励</td>
                                    <td class="grade">20%</td>
                                    <td class="consumption">15%</td>
                                    <td class="date">10%</td>
                                </tr>
                                <tr>
                                    <td class="user">客户需求分析（上门）</td>
                                    <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                </tr>
                                <tr>
                                    <td class="user">诊断规划报告</td>
                                    <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                </tr>
                                <tr>
                                    <td class="user">政策监控</td>
                                    <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                </tr>
                                <tr>
                                    <td class="user">科技政策定期推送与培训</td>
                                    <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                </tr>
                                <tr>
                                    <td class="user">项目申报专业咨询</td>
                                    <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                </tr>
                                <tr>
                                    <td class="user">项目培育与申报实施</td>
                                    <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                </tr>
                                <tr>
                                    <td class="user">项目监理与申报系统维护</td>
                                    <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                    <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="content_2">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th class="user">联系人</th>
                                    <th class="grade">联系电话</th>
                                    <th class="consumption">负责区域</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="user">林先生</td>
                                    <td class="grade">180-2808-9901</td>
                                    <td class="consumption">广州</td>
                                </tr>
                                <tr>
                                    <td class="user">刘先生</td>
                                    <td class="grade">199-0773-4188</td>
                                    <td class="consumption">海南</td>
                                </tr>
                                <tr>
                                    <td class="user">许先生</td>
                                    <td class="grade">138-0270-7665</td>
                                    <td class="consumption">全国</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
