<mat-card class="profile">
    <div class="position">
        <a routerLink="/admin/dashboard" href="javascript:;" class="link">
            <mat-icon slot="start">home</mat-icon>
            首页</a>
        <span>我的工单</span>
    </div>
    <mat-card-header>
        <mat-card-title>我的工单</mat-card-title>
    </mat-card-header>
</mat-card>
<div class="container">
    <form>
        <ion-grid style="margin: 0 -10px">
            <ion-row>
                <ion-col size="4">
                    <mat-form-field appearance="outline">
                        <input type="text" name="workOrderNo" [(ngModel)]="params.workOrderNo" matInput
                               placeholder="请输入工单编号关键字">
                    </mat-form-field>
                </ion-col>
                <ion-col size="8">
                    <button (click)="search()" mat-raised-button color="primary">搜索</button>
                </ion-col>
                <ion-col size="2">
                    <mat-form-field appearance="outline">
                        <mat-select name="workType" [(ngModel)]="params.workType" (ngModelChange)="getData()" placeholder="工单类型">
                            <mat-option *ngFor="let item of types" [value]="item.dictValue">
                                {{item.dictName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ion-col>
                <ion-col size="2">
                    <mat-form-field appearance="outline">
                        <mat-select name="workStatus" [(ngModel)]="params.workStatus" (ngModelChange)="getData()" placeholder="工单状态" multiple>
                            <mat-option *ngFor="let item of statuses" [value]="item.value">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ion-col>
                <ion-col size="2">
                    <mat-form-field appearance="outline">
                        <mat-select name="serviceStatus" [(ngModel)]="params.serviceStatus" (ngModelChange)="getData()" placeholder="服务状态" multiple>
                            <mat-option *ngFor="let item of serviceStatuses" [value]="item.dictValue">
                                {{item.dictName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ion-col>
                <ion-col size="1" class="search-label">开始时间</ion-col>
                <ion-col size="2">
                    <mat-form-field appearance="outline">
                        <input name="createDateBegin" [(ngModel)]="params.createDateBegin" (ngModelChange)="getData()" placeholder="请选择日期" matInput
                               [matDatepicker]="startPicker">
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>
                </ion-col>
                <ion-col size="1" class="search-label">更新时间</ion-col>
                <ion-col size="2">
                    <mat-form-field appearance="outline">
                        <input name="updateDateBegin" [(ngModel)]="params.updateDateBegin" (ngModelChange)="getData()" placeholder="请选择日期" matInput
                               [matDatepicker]="updatePicker">
                        <mat-datepicker-toggle matSuffix [for]="updatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #updatePicker></mat-datepicker>
                    </mat-form-field>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <table *ngIf="dataSource" mat-table [dataSource]="dataSource">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef style="width: 50px">
                <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef><b>工单编号</b></th>
            <td mat-cell *matCellDef="let element"> {{element.workOrderNo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef><b>工单类型</b></th>
            <td mat-cell *matCellDef="let element">
                {{element.workTypeName}}
            </td>
        </ng-container>

        <!-- Weight Column -->
        // 正常，冻结，作废，已完成
        <ng-container matColumnDef="ticketStatus">
            <th mat-header-cell *matHeaderCellDef><b>工单状态</b></th>
            <td mat-cell *matCellDef="let element"
                [ngClass]="{'danger':element.workStatusWebName === '冻结',
                'disabled':element.workStatusWebName === '作废',
                'success':element.workStatusWebName === '正常'}">
                {{element.workStatusWebName}}
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef><b>开始时间</b></th>
            <td mat-cell *matCellDef="let element">
                {{element.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="serviceStatus">
            <th mat-header-cell *matHeaderCellDef><b>服务状态</b></th>
            <td mat-cell *matCellDef="let element">
                {{element.serviceStatusName}}
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef><b>异常原因</b></th>
            <td mat-cell *matCellDef="let element">
                {{element.workErrRemark}}
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="updateTime">
            <th mat-header-cell *matHeaderCellDef><b>更新时间</b></th>
            <td mat-cell *matCellDef="let element">
                {{element.updateTime | date : 'yyyy-MM-dd HH:mm:ss'}}
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="admin">
            <th mat-header-cell *matHeaderCellDef><b>当前负责人</b></th>
            <td mat-cell *matCellDef="let element">
                {{element.updateByName}}
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef><b>操作</b></th>
            <td mat-cell *matCellDef="let element">
                <a class="actions-icon" [routerLink]="['/admin/ticket/item',element.id]">
                    <img src="/assets/images/view.png">
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
    </table>
    <ion-grid class="ion-no-padding">
        <ion-row style="align-items: center">
            <ion-col size="2" class="ion-no-padding"><button (click)="export()" mat-raised-button color="primary">导出</button></ion-col>
            <ion-col size="10" class="ion-no-padding">
                <mat-paginator [pageIndex]="params.page - 1" [pageSize]="params.rows" [length]="total" (page)="page($event)"
                               [pageSizeOptions]="[10,20,50]" showFirstLastButtons>123</mat-paginator>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
