<mat-card class="profile">
    <div class="position">
        <a routerLink="/admin/dashboard" class="link">
            <mat-icon slot="start">home</mat-icon>
            首页</a>
        <a routerLink="/admin/company/list" class="link" href="javascript:;">我的主体</a>
        <span>{{id === '0' ? '添加主体' : form.get('company').value}}</span>
    </div>
    <mat-card-header>
        <mat-card-title>{{id === '0' ? '添加主体' : form.get('company').value}}</mat-card-title>
    </mat-card-header>
</mat-card>
<div class="container">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>工商基础信息</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <table *ngIf="cloudCompany" width="100%" border="0" cellspacing="0" cellpadding="0" class="table-style">
                            <tr>
                                <td align="left" valign="middle" bgcolor="#f6f7f9">企业名称</td>
                                <td align="left" valign="middle">{{cloudCompany.companyName ? cloudCompany.companyName : '-'}}</td>
                                <td align="left" valign="middle" bgcolor="#f6f7f9">法人</td>
                                <td align="left" valign="middle">{{cloudCompany.legalRepresentative ? cloudCompany.legalRepresentative : '-'}}</td>
                                <td align="left" valign="middle" bgcolor="#f6f7f9">    经营状态</td>
                                <td align="left" valign="middle">{{cloudCompany.businessType ? cloudCompany.businessType : '-'}}</td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#f6f7f9">成立时间</td>
                                <td align="left" valign="middle">{{cloudCompany.registeredDate ? (cloudCompany.registeredDate | repairDate | date : 'yyyy-MM-dd') : '-'}}</td>
                                <td align="left" valign="middle" bgcolor="#f6f7f9">注册资金</td>
                                <td align="left" valign="middle">{{cloudCompany.registeredCapitalStr ? cloudCompany.registeredCapitalStr : '-'}}</td>
                                <td align="left" valign="middle" bgcolor="#f6f7f9">实缴资本</td>
                                <td align="left" valign="middle">{{cloudCompany.paidInCapitalStr ? cloudCompany.paidInCapitalStr : '-'}}</td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#f6f7f9">统一社会信用代码</td>
                                <td align="left" valign="middle">{{cloudCompany.unifiedSocialCreditCode ? cloudCompany.unifiedSocialCreditCode : ''}}</td>
                                <td align="left" valign="middle" bgcolor="#f6f7f9">组织机构代码</td>
                                <td align="left" valign="middle">{{cloudCompany.organizationCode ? cloudCompany.organizationCode : '-'}}</td>
                                <td align="left" valign="middle" bgcolor="#f6f7f9">营业期限</td>
                                <td align="left" valign="middle">{{cloudCompany.businessTermStartDate ? (cloudCompany.businessTermStartDate  | repairDate | date : 'yyyy-MM-dd') : '-'}} 至 {{cloudCompany.businessTermEndDate ? (cloudCompany.businessTermEndDate | repairDate | date : 'yyyy-MM-dd') : '-'}}</td>
                            </tr>
                            <tr>
                                <td align="left" valign="middle" bgcolor="#f6f7f9">所属地区</td>
                                <td align="left" valign="middle">{{company.province}} {{company.city}} {{company.area}}</td>
                                <td align="left" valign="middle" bgcolor="#f6f7f9">企业地址</td>
                                <td colspan="3" align="left" valign="middle">{{cloudCompany.address ? cloudCompany.address : '-'}}</td>
                            </tr>
                        </table>

                        <!--<ng-container *ngIf="cloudCompany">
                            <ion-row>
                                <ion-col size="4">
                                    <ion-row>
                                        <ion-col size="5">
                                            <span class="right bottom">企业名称</span>
                                        </ion-col>
                                        <ion-col size="7">
                                            <span style="background: #fff"
                                                  class="right bottom">{{cloudCompany.companyName ? cloudCompany.companyName : '-'}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-row>
                                        <ion-col size="5">
                                            <span class="right bottom">法人</span>
                                        </ion-col>
                                        <ion-col size="7">
                                            <span style="background: #fff"
                                                  class="right bottom">{{cloudCompany.legalRepresentative ? cloudCompany.legalRepresentative : '-'}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-row>
                                        <ion-col size="5">
                                            <span class="right bottom">经营状态</span>
                                        </ion-col>
                                        <ion-col size="7">
                                            <span style="background: #fff"
                                                  class="bottom">{{cloudCompany.businessType ? cloudCompany.businessType : '-'}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>

                                <ion-col size="4">
                                    <ion-row>
                                        <ion-col size="5">
                                            <span class="right bottom">成立时间</span>
                                        </ion-col>
                                        <ion-col size="7">
                                            <span style="background: #fff"
                                                  class="right bottom">{{cloudCompany.registeredDate ? cloudCompany.registeredDate : '-'}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-row>
                                        <ion-col size="5">
                                            <span class="right bottom">注册资金</span>
                                        </ion-col>
                                        <ion-col size="7">
                                            <span style="background: #fff"
                                                  class="right bottom">{{cloudCompany.registeredCapitalStr ? cloudCompany.registeredCapitalStr : '-'}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-row>
                                        <ion-col size="5">
                                            <span class="right bottom">实缴资本</span>
                                        </ion-col>
                                        <ion-col size="7">
                                            <span style="background: #fff"
                                                  class="bottom">{{cloudCompany.paidInCapitalStr ? cloudCompany.paidInCapitalStr : '-'}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>

                                <ion-col size="4">
                                    <ion-row>
                                        <ion-col size="5">
                                            <span class="right bottom">统一社会信用代码</span>
                                        </ion-col>
                                        <ion-col size="7">
                                            <span style="background: #fff"
                                                  class="right bottom">{{cloudCompany.unifiedSocialCreditCode ? cloudCompany.unifiedSocialCreditCode : ''}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-row>
                                        <ion-col size="5">
                                            <span class="right bottom">组织机构代码</span>
                                        </ion-col>
                                        <ion-col size="7">
                                            <span style="background: #fff"
                                                  class="right bottom">{{cloudCompany.organizationCode ? cloudCompany.organizationCode : '-'}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-row>
                                        <ion-col size="5">
                                            <span class="right bottom">营业期限</span>
                                        </ion-col>
                                        <ion-col size="7">
                                            <span style="background: #fff"
                                                  class="bottom">{{cloudCompany.businessTermStartDate ? cloudCompany.businessTermStartDate : '-'}}
                                                至 {{cloudCompany.businessTermEndDate ? cloudCompany.businessTermEndDate : '-'}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>

                                <ion-col size="4">
                                    <ion-row>
                                        <ion-col size="5">
                                            <span class="right">所属地区</span>
                                        </ion-col>
                                        <ion-col size="7">
                                            <span style="background: #fff"
                                                  class="right">{{company.province}} {{company.city}} {{company.area}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col size="8">
                                    <ion-row>
                                        <ion-col size="2.5">
                                            <span class="right">企业地址</span>
                                        </ion-col>
                                        <ion-col size="9.5">
                                            <span style="background: #fff">{{cloudCompany.address ? cloudCompany.address : '-'}}</span>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ng-container>-->

                    </mat-card-content>
                </mat-card>
            </ion-col>
            <form [formGroup]="form">
                <ng-template matStepLabel>填写经营及重要信息</ng-template>
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <ng-container formGroupName="company">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title style="margin-bottom: 50px">联系人信息
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="4">
                                                    <mat-form-field appearance="outline"
                                                                    style="margin-bottom: 0">
                                                        <label><em>*</em>联系人</label>
                                                        <input formControlName="name" type="text" matInput required>
                                                    </mat-form-field>
                                                </ion-col>

                                                <ion-col size="4">
                                                    <mat-form-field appearance="outline"
                                                                    style="margin-bottom: 0">
                                                        <label><em>*</em>联系电话</label>
                                                        <input formControlName="mobile" type="text" matInput required>
                                                    </mat-form-field>
                                                </ion-col>

                                                <ion-col size="4">
                                                    <mat-form-field appearance="outline"
                                                                    style="margin-bottom: 0">
                                                        <label>职务</label>
                                                        <input formControlName="job" type="text" matInput>
                                                    </mat-form-field>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </mat-card-content>
                                </mat-card>
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title style="margin-bottom: 50px">经营信息</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="4" class="form-field">
                                                    <mat-form-field appearance="outline">
                                                        <label><em>*</em>行业</label>
                                                        <input style="cursor: pointer" (click)="industryPanelShow = true" [value]="form.get('company').get('industryIds').value | industryName : sourceIndustries" placeholder="所属行业" matInput
                                                               required readonly>
                                                        <!--<mat-chip-list #chipList required>
                                                            <mat-chip *ngFor="let industry of selectedIndustries"
                                                                      (removed)="remove(industry)">{{industry.industryName}}
                                                                <mat-icon matChipRemove>cancel</mat-icon>
                                                            </mat-chip>
                                                            <input [matChipInputFor]="chipList"
                                                                   (click)="presentModal()" matInput required readonly>
                                                        </mat-chip-list>-->
                                                        <ion-icon style="cursor: pointer" (click)="industryPanelShow = true" matSuffix name="arrow-down"></ion-icon>
                                                    </mat-form-field>
                                                    <div *ngIf="industryPanelShow" class="industry-container">
                                                        <div class="main-content">
                                                            <ion-radio-group formControlName="industryIds" [value]="form.get('company').get('industryIds').value">
                                                                <ul>
                                                                    <li *ngFor="let item of industries">
                                                                        <ion-radio [value]="item.id"></ion-radio>
                                                                        {{item.industryName}}
                                                                        <div class="sub-content">
                                                                            <ul>
                                                                                <li *ngFor="let sub of item.children">
                                                                                    <ion-radio [value]="sub.id"></ion-radio>{{sub.industryName}}
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </ion-radio-group>
                                                        </div>
                                                        <div class="sub-content"></div>
                                                    </div>
                                                </ion-col>
                                                <ion-col size="8">
                                                    <mat-form-field appearance="outline"
                                                                    style="width: 40%;">
                                                        <label><em>*</em>业务运营时间
                                                                <img src="/assets/images/qualification.png"
                                                                     matTooltip="企业当前主营业务开始运营时间。因企业存在转型情况，所以需要按照新主营业务时间生成智能画像"
                                                                     matTooltipPosition="after"
                                                                     style="width: 20px;height: 20px; position:relative;top:5px;left: 4px">
                                                        </label>
                                                        <input formControlName="operateDate" required matInput
                                                               placeholder="请选择" [matDatepicker]="picker">
                                                        <mat-datepicker-toggle matSuffix
                                                                               [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                    </mat-form-field>
                                                    <span style="display: inline;border: none;background: #fff;font-weight: 400;color: #FF0000;font-size: 14px">
                                        <em style="font-style: normal;">*</em>注：企业每年仅可调整一次</span>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </mat-card-content>
                                </mat-card>
                            </ng-container>
                        </ion-col>
                        <ion-col size="12">
                            <ng-container formGroupName="conds">
                                <mat-card>
                                    <mat-card-content>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="4" class="form-field">
                                                    <mat-form-field appearance="outline">
                                                        <label><em>*</em>企业总人数</label>
                                                        <mat-select [compareWith]="compareFn" formControlName="18">
                                                            <mat-option *ngFor="let item of option['18']"
                                                                        [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </ion-col>

                                                <ion-col size="4" class="form-field">
                                                    <mat-form-field appearance="outline">
                                                        <label><em>*</em>年营收范围</label>
                                                        <mat-select [compareWith]="compareFn" formControlName="19">
                                                            <mat-option *ngFor="let item of option['19']"
                                                                        [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </ion-col>

                                                <ion-col size="4">
                                                    <mat-form-field appearance="outline">
                                                        <label><em>*</em>固定资产范围</label>
                                                        <mat-select [compareWith]="compareFn" formControlName="17">
                                                            <mat-option *ngFor="let item of option['17']"
                                                                        [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </ion-col>

                                                <ion-col size="4" class="form-field">
                                                    <ion-row>
                                                        <ion-col size="4">
                                                            <mat-form-field appearance="outline">
                                                                <label>管理人员比例</label>
                                                                <mat-select
                                                                        (selectionChange)="selectionChange('man',[2])"
                                                                        [compareWith]="compareFn"
                                                                        formControlName="2">
                                                                    <mat-option
                                                                            *ngFor="let item of option['2']"
                                                                            [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </ion-col>
                                                        <ion-col size="8">
                                                            <div *ngIf="circle['man']" echarts [options]="circle['man']"
                                                                 style="width: 11em;height: 180px;top: -25px;left: -20px;"
                                                                 class="main-chart"></div>
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-col>

                                                <ion-col size="4" class="form-field">
                                                    <ion-row>
                                                        <ion-col size="2">
                                                            <span class="function">研发</span>
                                                            <span class="function"
                                                                  style="margin-top: 5px">销售</span>
                                                            <span class="function"
                                                                  style="margin-top: 5px">服务</span>
                                                        </ion-col>
                                                        <ion-col size="3">
                                                            <mat-form-field appearance="outline"
                                                                            style="margin-bottom: -15px">
                                                                <label style="left: -60px">职能分布</label>
                                                                <mat-select
                                                                        (selectionChange)="selectionChange('job',[21,25,26])"
                                                                        [compareWith]="compareFn"
                                                                        formControlName="21">
                                                                    <mat-option
                                                                            [disabled]="getDisabled(item,[21,25,26])"
                                                                            *ngFor="let item of option['21']"
                                                                            [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <mat-form-field appearance="outline"
                                                                            style="margin-bottom: -15px">
                                                                <mat-select
                                                                        (selectionChange)="selectionChange('job',[21,25,26])"
                                                                        [compareWith]="compareFn"
                                                                        formControlName="25">
                                                                    <mat-option
                                                                            [disabled]="getDisabled(item,[21,25,26])"
                                                                            *ngFor="let item of option['25']"
                                                                            [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <mat-form-field appearance="outline"
                                                                            style="margin-bottom: -15px">
                                                                <mat-select
                                                                        (selectionChange)="selectionChange('job',[21,25,26])"
                                                                        [compareWith]="compareFn"
                                                                        formControlName="26">
                                                                    <mat-option
                                                                            [disabled]="getDisabled(item,[21,25,26])"
                                                                            *ngFor="let item of option['26']"
                                                                            [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </ion-col>
                                                        <ion-col size="6">
                                                            <div *ngIf="circle['job']" echarts [options]="circle['job']"
                                                                 style="width:11em;height: 180px;top: -25px;left: -20px;"
                                                                 class="main-chart"></div>
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-col>
                                                <ion-col size="4">
                                                    <ion-row>
                                                        <ion-col size="2">
                                                            <span class="function">专科</span>
                                                            <span class="function"
                                                                  style="margin-top:5px;padding:2px 0 0 20px">本科<br/>及以上</span>
                                                        </ion-col>
                                                        <ion-col size="4">
                                                            <mat-form-field appearance="outline"
                                                                            style="margin-bottom: -15px">
                                                                <label style="left: -60px">学历组成</label>
                                                                <mat-select
                                                                        (selectionChange)="selectionChange('edu',[28,29])"
                                                                        [compareWith]="compareFn"
                                                                        formControlName="28">
                                                                    <mat-option
                                                                            [disabled]="getDisabled(item,[28,29])"
                                                                            *ngFor="let item of option['28']"
                                                                            [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                            <mat-form-field appearance="outline"
                                                                            style="margin-bottom: -15px">
                                                                <mat-select
                                                                        (selectionChange)="selectionChange('edu',[28,29])"
                                                                        [compareWith]="compareFn"
                                                                        formControlName="29">
                                                                    <mat-option
                                                                            [disabled]="getDisabled(item,[28,29])"
                                                                            *ngFor="let item of option['29']"
                                                                            [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </ion-col>
                                                        <ion-col size="6">
                                                            <div *ngIf="circle['edu']" echarts [options]="circle['edu']"
                                                                 style="width:  11em;height: 180px;top: -25px;left: -20px;"
                                                                 class="main-chart"></div>
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </mat-card-content>
                                </mat-card>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col size="12">
                                            <mat-card>
                                                <mat-card-header>
                                                    <mat-card-title style="margin-bottom: 50px">科研创造力信息</mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <ion-row>
                                                        <ion-col size="4" class="form-field">
                                                            <mat-form-field appearance="outline">
                                                                <label>企业研发投入</label>
                                                                <mat-select [compareWith]="compareFn"
                                                                            formControlName="24">
                                                                    <mat-option
                                                                            *ngFor="let item of option['24']"
                                                                            [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </ion-col>

                                                        <ion-col size="4">
                                                            <ion-row>
                                                                <ion-col size="2">
                                                                    <span class="function">专科</span>
                                                                    <span class="function"
                                                                          style="margin-top:5px;padding:2px 0 0 20px">本科<br/>及以上</span>
                                                                </ion-col>
                                                                <ion-col size="3">
                                                                    <mat-form-field appearance="outline"
                                                                                    style="margin-bottom: -15px">
                                                                        <label style="left: -60px">科研人员学历组成</label>
                                                                        <mat-select
                                                                                (selectionChange)="selectionChange('sci',[30,31])"
                                                                                [compareWith]="compareFn"
                                                                                formControlName="31">
                                                                            <mat-option
                                                                                    [disabled]="getDisabled(item,[30,31])"
                                                                                    *ngFor="let item of option['31']"
                                                                                    [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>
                                                                    <mat-form-field appearance="outline"
                                                                                    style="margin-bottom: -15px">
                                                                        <mat-select
                                                                                (selectionChange)="selectionChange('sci',[30,31])"
                                                                                [compareWith]="compareFn"
                                                                                formControlName="30">
                                                                            <mat-option
                                                                                    [disabled]="getDisabled(item,[30,31])"
                                                                                    *ngFor="let item of option['30']"
                                                                                    [value]="{condId:item.condId,valId:item.id}">{{item.name}}</mat-option>
                                                                        </mat-select>
                                                                    </mat-form-field>
                                                                </ion-col>
                                                                <ion-col size="6">
                                                                    <div echarts *ngIf="circle.sci" echarts
                                                                         [options]="circle.sci"
                                                                         style="width: 11em;height: 180px;top: -25px;left: -20px;"
                                                                         class="main-chart"></div>
                                                                </ion-col>
                                                            </ion-row>
                                                        </ion-col>
                                                    </ion-row>
                                                </mat-card-content>
                                            </mat-card>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ng-container>
                            <ng-container>
                                <ion-grid>
                                    <ion-col size="12">
                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title style="margin-bottom: 50px">政策匹配信息</mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <ion-row formGroupName="form">
                                                    <ion-col size="12">
                                                        <h3 *ngIf="required.num">必填资质（{{required.valueNum}} / {{required.num}}）</h3>
                                                    </ion-col>
                                                    <ion-col class="form-field"
                                                             *ngFor="let condition of required.list;let i = index"
                                                             [size]="4">
                                                        <mat-form-field class="nl"
                                                                        *ngIf="condition.fieldType === '0001'"
                                                                        appearance="outline">
                                                            <label><em
                                                                    *ngIf="!!condition.required">*</em>{{condition.conditionName}}
                                                                <i [matTooltip]="condition.conditionRemark" matTooltipPosition="after"  *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i>
                                                            </label>
                                                            <input style="display: none"
                                                                   [formControlName]="condition.conditionId" matInput
                                                                   [required]="!!condition.required">
                                                            <mat-radio-group [formControlName]="condition.conditionId">
                                                                <mat-radio-button [value]="true">是</mat-radio-button>
                                                                <mat-radio-button [value]="false">否</mat-radio-button>
                                                            </mat-radio-group>
                                                        </mat-form-field>
                                                        <mat-form-field
                                                                *ngIf="condition.fieldType === '0002' && dict[condition.conditionId]"
                                                                appearance="outline">
                                                            <label><em
                                                                    *ngIf="!!condition.required">*</em>{{condition.conditionName}}
                                                                <i [matTooltip]="condition.conditionRemark" matTooltipPosition="after"  *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i>
                                                            </label>
                                                            <input *ngIf="dict[condition.conditionId]?.length < 1"
                                                                   [placeholder]="'请输入' + condition.conditionName"
                                                                   [formControlName]="condition.conditionId"
                                                                   matInput
                                                                   pattern="(^([-]?)[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^([-]?)(0){1}$)|(^([-]?)[0-9]\.[0-9]([0-9])?$)"
                                                                   [maxlength]="12" [required]="!!condition.required">
                                                            <mat-select *ngIf="dict[condition.conditionId]?.length > 0"
                                                                        [formControlName]="condition.conditionId"
                                                                        [placeholder]="'请选择'"
                                                                        [required]="!!condition.required">
                                                                <mat-option
                                                                        *ngFor="let item of dict[condition.conditionId]"
                                                                        [value]="item.dictValue">
                                                                    {{item.dictName}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error
                                                                    *ngIf="form.get('form').get(condition.conditionId + '').hasError('pattern') && !form.get('form').get(condition.conditionId + '').hasError('required')">
                                                                {{condition.conditionName}}必须是 <strong>数字</strong>
                                                            </mat-error>
                                                            <mat-error
                                                                    *ngIf="form.get('form').get(condition.conditionId + '').hasError('maxlength') && !form.get('form').get(condition.conditionId + '').hasError('required')">
                                                                {{condition.conditionName}}的长度不能大于 <strong>12</strong>
                                                            </mat-error>
                                                            <mat-error
                                                                    *ngIf="form.get('form').get(condition.conditionId + '').hasError('required')">
                                                                {{condition.conditionName}}是 <strong>必填</strong> 项
                                                            </mat-error>
                                                        </mat-form-field>
                                                        <mat-form-field
                                                                *ngIf="condition.fieldType === '0003'"
                                                                appearance="outline">
                                                            <label><em
                                                                    *ngIf="!!condition.required">*</em>{{condition.conditionName}}
                                                                <i [matTooltip]="condition.conditionRemark" matTooltipPosition="after"  *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i>
                                                            </label>
                                                            <input [formControlName]="condition.conditionId" matInput
                                                                   placeholder="请选择"
                                                                   [matDatepicker]="picker"
                                                                   [required]="!!condition.required">
                                                            <mat-datepicker-toggle matSuffix
                                                                                   [for]="picker"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                    </ion-col>
                                                    <ion-col size="12">
                                                        <h3>选填资质（{{optional.valueNum}} / {{optional.num}}）</h3>
                                                    </ion-col>
                                                    <ng-container *ngFor="let item of optional.list;let i = index">
                                                        <ion-col [size]="12">
                                                            <span class="value">{{item._name}}</span>
                                                        </ion-col>
                                                        <ion-col class="form-field"
                                                                 *ngFor="let condition of item.list;let i = index"
                                                                 [size]="4">
                                                            <mat-form-field class="nl"
                                                                            *ngIf="condition.fieldType === '0001'"
                                                                            appearance="outline">
                                                                <label><em
                                                                        *ngIf="!!condition.required">*</em>{{condition.conditionName}}
                                                                    <i [matTooltip]="condition.conditionRemark" matTooltipPosition="after"  *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i>
                                                                </label>
                                                                <input style="display: none"
                                                                       [formControlName]="condition.conditionId"
                                                                       matInput>
                                                                <mat-radio-group
                                                                        [formControlName]="condition.conditionId">
                                                                    <mat-radio-button [value]="true">是
                                                                    </mat-radio-button>
                                                                    <mat-radio-button [value]="false">否
                                                                    </mat-radio-button>
                                                                </mat-radio-group>
                                                            </mat-form-field>
                                                            <mat-form-field
                                                                    *ngIf="condition.fieldType === '0002'"
                                                                    appearance="outline">
                                                                <label><em
                                                                        *ngIf="!!condition.required">*</em>{{condition.conditionName}}
                                                                    <i [matTooltip]="condition.conditionRemark" matTooltipPosition="after"  *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i>
                                                                </label>
                                                                <input *ngIf="dict[condition.conditionId]?.length < 1"
                                                                       [placeholder]="'请输入' + condition.conditionName"
                                                                       [formControlName]="condition.conditionId"
                                                                       matInput
                                                                       pattern="(^([-]?)[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^([-]?)(0){1}$)|(^([-]?)[0-9]\.[0-9]([0-9])?$)"
                                                                       [maxlength]="12"
                                                                       [required]="!!condition.required">
                                                                <mat-select
                                                                        *ngIf="dict[condition.conditionId]?.length > 0"
                                                                        [formControlName]="condition.conditionId"
                                                                        [placeholder]="'请选择'"
                                                                        [required]="!!condition.required">
                                                                    <mat-option
                                                                            *ngFor="let item of dict[condition.conditionId]"
                                                                            [value]="item.dictValue">
                                                                        {{item.dictName}}
                                                                    </mat-option>
                                                                </mat-select>
                                                                <mat-error
                                                                        *ngIf="form.get('form').get(condition.conditionId + '').hasError('pattern') && !form.get('form').get(condition.conditionId + '').hasError('required')">
                                                                    {{condition.conditionName}}必须是 <strong>数字</strong>
                                                                </mat-error>
                                                                <mat-error
                                                                        *ngIf="form.get('form').get(condition.conditionId + '').hasError('maxlength') && !form.get('form').get(condition.conditionId + '').hasError('required')">
                                                                    {{condition.conditionName}}的长度不能大于
                                                                    <strong>12</strong>
                                                                </mat-error>
                                                                <mat-error
                                                                        *ngIf="form.get('form').get(condition.conditionId + '').hasError('required')">
                                                                    {{condition.conditionName}}是 <strong>必填</strong> 项
                                                                </mat-error>
                                                            </mat-form-field>
                                                            <mat-form-field
                                                                    *ngIf="condition.fieldType === '0003'"
                                                                    appearance="outline">
                                                                <label><em
                                                                        *ngIf="!!condition.required">*</em>{{condition.conditionName}}
                                                                    <i [matTooltip]="condition.conditionRemark" matTooltipPosition="after"  *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i>
                                                                </label>
                                                                <input [formControlName]="condition.conditionId"
                                                                       placeholder="请选择" matInput
                                                                       [matDatepicker]="picker"
                                                                       [required]="!!condition.required">
                                                                <mat-datepicker-toggle matSuffix
                                                                                       [for]="picker"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                            </mat-form-field>
                                                        </ion-col>
                                                    </ng-container>
                                                </ion-row>
                                            </mat-card-content>
                                        </mat-card>
                                    </ion-col>
                                </ion-grid>
                            </ng-container>
                        </ion-col>
                    </ion-row>
                    <ion-row>

                    </ion-row>
                </ion-grid>
            </form>
        </ion-row>
    </ion-grid>
</div>
<div class="container-bottom">
    <ion-button (click)="save(1)" color="primary"
                style="width: 177px !important;height: 48px!important;">查看企业适配政策
    </ion-button>
    <ion-button (click)="save(2)" color="primary">查看体检报告</ion-button>
    <ion-button (click)="save()" style="--background: rgba(13, 215, 141, 1);">保存本次修改</ion-button>
</div>
<div (click)="industryPanelShow = false" *ngIf="industryPanelShow" class="selected-overlay"></div>
