.industry-container {
  position: absolute;
  z-index: 10001;
  background: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  border-radius: 4px;
  margin-top: -60px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 14px;
      line-height: 3em;
      height: 3em;
      margin: 0;
      padding: 0 16px 0 46px;
      cursor: pointer;
      text-overflow: unset;
      white-space: nowrap;
      min-width: 160px;

      &:hover {
        background: rgba(0, 0, 0, 0.04);

        .sub-content {
          display: block;
        }
      }

      &.selected {
        color: #3f51b5;
        background: rgba(0, 0, 0, 0.12);
      }

      ion-radio {
        position: absolute;
        margin-left: -30px;
        margin-top: 11px;
      }

      .sub-content {
        position: absolute;
        left: 100%;
        background: #fff;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
        top: 50%;
        transform: translate3d(0, -50%, 0);
        height: 100%;
        overflow-y: scroll;
        display: none;
      }
    }
  }
}

.selected-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
}
