:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: 56px;
  z-index: 2;
}
mat-toolbar {
  height: 56px;
  background: #fff;
  span{
    font-size: 16px;
    font-weight: 600;
  }
}
.fill-remaining-space {
  flex: 1 1 auto;
}
