<div class="container">
    <mat-card>
        <mat-card-content>
            <mat-horizontal-stepper labelPosition="bottom" linear>
                <mat-step [stepControl]="form">
                    <form [formGroup]="form">
                        <ng-template matStepLabel>确认主体信息</ng-template>
                        <p style="margin-bottom: 10px;">请输入企业名称</p>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    <mat-form-field appearance="outline" style="margin-bottom: 0;width: 100%">
                                        <input type="text" matInput formControlName="companyName"
                                               placeholder="请输入企业名称" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option (click)="setCompany()" *ngFor="let option of options"
                                                        [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <!--<mat-icon [class.loading-show]="loading" [class.loading-hide]="!loading" matSuffix>loop</mat-icon>-->
                                        <div class="el-loading-spinner" [class.loading-show]="loading" [class.loading-hide]="!loading"><i><img src="/assets/images/loading_search.png"  class="el-icon-loading"></i></div>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="8">
                                    <button (click)="search()" mat-raised-button color="primary" style="margin-left: 20px">搜索</button>
                                </ion-col>

                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-style"  *ngIf="company">
                                    <tr>
                                        <td align="left" valign="middle" bgcolor="#f6f7f9">企业名称</td>
                                        <td align="left" valign="middle">{{company.companyName ? company.companyName : '-'}}</td>
                                        <td align="left" valign="middle" bgcolor="#f6f7f9">法人</td>
                                        <td align="left" valign="middle">{{company.legalRepresentative ? company.legalRepresentative : '-'}}</td>
                                        <td align="left" valign="middle" bgcolor="#f6f7f9">    经营状态</td>
                                        <td align="left" valign="middle">{{company.businessType ? company.businessType : '-'}}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" bgcolor="#f6f7f9">成立时间</td>
                                        <td align="left" valign="middle">{{company.registeredDate ? company.registeredDate : '-'}}</td>
                                        <td align="left" valign="middle" bgcolor="#f6f7f9">注册资金</td>
                                        <td align="left" valign="middle">{{company.registeredCapitalStr ? company.registeredCapitalStr : '-'}}</td>
                                        <td align="left" valign="middle" bgcolor="#f6f7f9">实缴资本</td>
                                        <td align="left" valign="middle">{{company.paidInCapitalStr ? company.paidInCapitalStr : '-'}}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" bgcolor="#f6f7f9">统一社会信用代码</td>
                                        <td align="left" valign="middle">{{company.unifiedSocialCreditCode ? company.unifiedSocialCreditCode : ''}}</td>
                                        <td align="left" valign="middle" bgcolor="#f6f7f9">组织机构代码</td>
                                        <td align="left" valign="middle">{{company.organizationCode ? company.organizationCode : '-'}}</td>
                                        <td align="left" valign="middle" bgcolor="#f6f7f9">营业期限</td>
                                        <td align="left" valign="middle">{{company.businessTermStartDate ? company.businessTermStartDate : '-'}} 至 {{company.businessTermEndDate ? company.businessTermEndDate : '-'}}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign="middle" bgcolor="#f6f7f9">所属地区</td>
                                        <td align="left" valign="middle">{{company.province}} {{company.city}} {{company.area}}</td>
                                        <td align="left" valign="middle" bgcolor="#f6f7f9">企业地址</td>
                                        <td colspan="3" align="left" valign="middle">{{company.address ? company.address : '-'}}</td>
                                    </tr>
                                </table>
                                <!--<ng-container *ngIf="company">
                                    <ion-col size="4">
                                        <ion-row>
                                            <ion-col size="5">
                                                <span class="right bottom">企业名称</span>
                                            </ion-col>
                                            <ion-col size="7">
                                                <span style="background: #fff" class="right bottom">{{company.companyName ? company.companyName : '-'}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-row>
                                            <ion-col size="5">
                                                <span class="right bottom">法人</span>
                                            </ion-col>
                                            <ion-col size="7">
                                                <span style="background: #fff" class="right bottom">{{company.legalRepresentative ? company.legalRepresentative : '-'}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-row>
                                            <ion-col size="5">
                                                <span class="right bottom">经营状态</span>
                                            </ion-col>
                                            <ion-col size="7">
                                                <span style="background: #fff" class="bottom">{{company.businessType ? company.businessType : '-'}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>

                                    <ion-col size="4">
                                        <ion-row>
                                            <ion-col size="5">
                                                <span class="right bottom">成立时间</span>
                                            </ion-col>
                                            <ion-col size="7">
                                                <span style="background: #fff" class="right bottom">{{company.registeredDate ? company.registeredDate : '-'}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-row>
                                            <ion-col size="5">
                                                <span class="right bottom">注册资金</span>
                                            </ion-col>
                                            <ion-col size="7">
                                                <span style="background: #fff" class="right bottom">{{company.registeredCapitalStr ? company.registeredCapitalStr : '-'}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-row>
                                            <ion-col size="5">
                                                <span class="right bottom">实缴资本</span>
                                            </ion-col>
                                            <ion-col size="7">
                                                <span style="background: #fff" class="bottom">{{company.paidInCapitalStr ? company.paidInCapitalStr : '-'}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>

                                    <ion-col size="4">
                                        <ion-row>
                                            <ion-col size="5">
                                                <span class="right bottom">统一社会信用代码</span>
                                            </ion-col>
                                            <ion-col size="7">
                                            <span style="background: #fff"
                                                  class="right bottom">{{company.unifiedSocialCreditCode ? company.unifiedSocialCreditCode : ''}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-row>
                                            <ion-col size="5">
                                                <span class="right bottom">组织机构代码</span>
                                            </ion-col>
                                            <ion-col size="7">
                                                <span style="background: #fff" class="right bottom">{{company.organizationCode ? company.organizationCode : '-'}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-row>
                                            <ion-col size="5">
                                                <span class="right bottom">营业期限</span>
                                            </ion-col>
                                            <ion-col size="7">
                                                <span style="background: #fff" class="bottom">{{company.businessTermStartDate ? company.businessTermStartDate : '-'}} 至 {{company.businessTermEndDate ? company.businessTermEndDate : '-'}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>

                                    <ion-col size="4">
                                        <ion-row>
                                            <ion-col size="5">
                                                <span class="right">所属地区</span>
                                            </ion-col>
                                            <ion-col size="7">
                                                <span style="background: #fff" class="right">-</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col size="8">
                                        <ion-row>
                                            <ion-col size="2.5">
                                                <span class="right">企业地址</span>
                                            </ion-col>
                                            <ion-col size="9.5">
                                                <span style="background: #fff">{{company.address ? company.address : '-'}}</span>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>

                                </ng-container>-->
                            </ion-row>
                            <ion-row *ngIf="company">
                                <ion-col size="12">
                                    <p style="margin-bottom: 10px;"><em style="color: #FD5451">*</em>企业注册地</p>
                                </ion-col>
                                <ion-col size="2">
                                    <mat-form-field appearance="outline" style="margin-bottom: 0;width: 98%">
                                        <mat-select placeholder="省" formControlName="province">
                                            <mat-option *ngFor="let province of provinces" [value]="province.name">
                                                {{province.name}}
                                            </mat-option>
                                        </mat-select>
                                        <!--<input type="text" matInput formControlName="province"
                                               placeholder="省" [matAutocomplete]="auto">-->
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="2">
                                    <mat-form-field appearance="outline" style="margin-bottom: 0;width: 98%">
                                        <mat-select placeholder="市" formControlName="city">
                                            <mat-option *ngFor="let city of cities" [value]="city.name">
                                                {{city.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="2">
                                    <mat-form-field appearance="outline" style="margin-bottom: 0;width: 98%">
                                        <mat-select placeholder="区" formControlName="area">
                                            <mat-option *ngFor="let district of districts" [value]="district.name">
                                                {{district.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <div class="form_bottom">
                            <button [disabled]="form.invalid" (click)="submit()" mat-raised-button color="primary">下一步</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step disabled>
                    <form>
                        <ng-template matStepLabel>填写经营及重要信息</ng-template>
                    </form>
                </mat-step>
                <mat-step disabled>
                    <ng-template matStepLabel>填写政策匹配信息</ng-template>
                    <div class="form_bottom">
                        <button mat-raised-button matStepperPrevious color="primary">上一步</button>
                        <button mat-raised-button color="primary">完成</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>
