<app-header></app-header>
<mat-sidenav-container>

    <mat-sidenav mode="side" opened>
        <mat-list>
            <h3 routerLink="/admin/dashboard" routerLinkActive="active" mat-subheader class="index">
                <mat-icon mat-list-icon>cloud</mat-icon>
                首页
            </h3>
            <ng-container>
                <mat-accordion class="accordion">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3 mat-subheader>
                                    <mat-icon mat-list-icon>thumb_up</mat-icon>
                                    托管
                                </h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list-item [routerLink]="['/admin/trust/list']" [queryParams]="{selectedIndex:0}"
                                       routerLinkActive="active">
                            <p mat-line>商标托管</p>
                        </mat-list-item>
                        <mat-list-item [routerLink]="['/admin/trust/list']" [queryParams]="{selectedIndex:1}"
                                       routerLinkActive="active">
                            <p mat-line>专利托管</p>
                        </mat-list-item>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3 mat-subheader>
                                    <mat-icon mat-list-icon>card_travel</mat-icon>
                                    保险箱
                                </h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list-item routerLink="/admin/box/list" routerLinkActive="active">
                            <p mat-line>我的知产</p>
                        </mat-list-item>
                        <mat-list-item routerLink="/admin/box/upload" routerLinkActive="active">
                            <p mat-line>添加知产</p>
                        </mat-list-item>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3 mat-subheader>
                                    <mat-icon mat-list-icon>supervisor_account</mat-icon>
                                    报告
                                </h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list-item routerLink="/admin/plan/list" routerLinkActive="active">
                            <p mat-line>企业体检报告</p>
                        </mat-list-item>
                        <mat-list-item routerLink="/admin/risk/list" routerLinkActive="active">
                            <p mat-line>知产风险报告</p>
                        </mat-list-item>
                        <mat-list-item routerLink="/admin/monitor/list" routerLinkActive="active">
                            <p mat-line>竞争对手监控</p>
                        </mat-list-item>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>
            <h3 routerLink="/admin/order/list" routerLinkActive="active" mat-subheader class="index">
                <mat-icon mat-list-icon>assignment</mat-icon>
                订单
            </h3>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet (change)="routeChange($event)"></router-outlet>
        <!--<ion-fab class="fav-fab" *ngIf="show" horizontal="right" vertical="bottom" slot="fixed" cdkDrag>
            <ion-fab-button>
                <ion-icon name="ios-share"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button href="https://www.wispclouds.com/" color="primary">
                    商城
                </ion-fab-button>
            </ion-fab-list>
            <ion-fab-list side="end">
                <ion-fab-button routerLink="/admin/checkout" color="dark">
                    下单
                </ion-fab-button>
            </ion-fab-list>
            <ion-fab-list side="bottom">
                <ion-fab-button (click)="show = false" color="secondary">
                    关闭
                </ion-fab-button>
            </ion-fab-list>
            <ion-fab-list side="start">
                <ion-fab-button routerLink="/admin/dashboard" color="light">
                    首页
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>-->
    </mat-sidenav-content>
</mat-sidenav-container>
