<app-header></app-header>
<mat-sidenav-container>

    <mat-sidenav mode="side" opened>
        <mat-list>
            <h3 routerLink="/admin/dashboard" (mouseover)="trustTrigger.closeMenu();boxTrigger.closeMenu();checkoutTrigger.closeMenu();reportTrigger.closeMenu();companyTrigger.closeMenu()" routerLinkActive="active" mat-subheader>
                <span class="mat-list-icon">
                    <img src="/assets/images/side/1.png">
                </span>
                首页
            </h3>
            <h3 [ngClass]="{'active' : menuIndex === 1}" [matMenuTriggerFor]="menuCompany" #companyTrigger="matMenuTrigger" (mouseover)="trustTrigger.closeMenu();boxTrigger.closeMenu();checkoutTrigger.closeMenu();reportTrigger.closeMenu();companyTrigger.openMenu()" mat-subheader>
                <span class="mat-list-icon">
                    <img src="/assets/images/side/2.png">
                </span>
                企业信息管理
            </h3>
            <mat-menu [hasBackdrop]="false" xPosition="after" [classList]="'side-sub-menu'" #menuCompany="matMenu">
                <button [routerLink]="['/admin/company/list']" routerLinkActive="active" mat-menu-item>企业主体管理</button>
                <button [routerLink]="['/admin/company/qualification',company.id]" routerLinkActive="active"
                        mat-menu-item>企业资质
                </button>
                <button routerLink="/admin/policy/index" routerLinkActive="active" mat-menu-item>匹配政策</button>
            </mat-menu>
            <h3 [ngClass]="{'active' : menuIndex === 2}" [matMenuTriggerFor]="menuTrust" #trustTrigger="matMenuTrigger" (mouseover)="companyTrigger.closeMenu();boxTrigger.closeMenu();checkoutTrigger.closeMenu();reportTrigger.closeMenu();trustTrigger.openMenu()" mat-subheader>
                <span class="mat-list-icon">
                    <img src="/assets/images/side/3.png">
                </span>
                知产托管
            </h3>
            <mat-menu [hasBackdrop]="false" xPosition="after" [classList]="'side-sub-menu'" #menuTrust="matMenu">
                <button [routerLink]="['/admin/trust/list']" [queryParams]="{selectedIndex:0}" routerLinkActive="active" mat-menu-item>商标托管</button>
                <button [routerLink]="['/admin/trust/list']" [queryParams]="{selectedIndex:1}" routerLinkActive="active" mat-menu-item>专利托管</button>
            </mat-menu>
            <h3 [ngClass]="{'active' : menuIndex === 4}" [matMenuTriggerFor]="menuBox" #boxTrigger="matMenuTrigger" (mouseover)="companyTrigger.closeMenu();trustTrigger.closeMenu();checkoutTrigger.closeMenu();reportTrigger.closeMenu();boxTrigger.openMenu()" mat-subheader>
                <span class="mat-list-icon">
                    <img src="/assets/images/side/5.png">
                </span>
                知产保险箱
            </h3>
            <mat-menu [hasBackdrop]="false" xPosition="after" [classList]="'side-sub-menu'" #menuBox="matMenu">
                <button routerLink="/admin/box/list" routerLinkActive="active" mat-menu-item>我的知产</button>
                <button routerLink="/admin/box/upload" routerLinkActive="active" mat-menu-item>添加知产</button>
            </mat-menu>
            <h3 [ngClass]="{'active' : menuIndex === 5}" [matMenuTriggerFor]="menuCheckout" #checkoutTrigger="matMenuTrigger" (mouseover)="companyTrigger.closeMenu();trustTrigger.closeMenu();boxTrigger.closeMenu();reportTrigger.closeMenu();checkoutTrigger.openMenu()" mat-subheader>
                <span class="mat-list-icon">
                    <img src="/assets/images/side/6.png">
                </span>
                知产智能服务
            </h3>
            <mat-menu [hasBackdrop]="false" xPosition="after" [classList]="'side-sub-menu'" #menuCheckout="matMenu">
                <button routerLink="/admin/checkout" routerLinkActive="active" mat-menu-item>商标自助智能注册</button>
                <button (click)="presentLoading();" routerLinkActive="active" mat-menu-item>专利快捷提交</button>
                <button (click)="presentLoading();" routerLinkActive="active" mat-menu-item>版权智能存证登记</button>
            </mat-menu>
            <h3 [ngClass]="{'active' : menuIndex === 6}" [matMenuTriggerFor]="menuReport" #reportTrigger="matMenuTrigger" (mouseover)="companyTrigger.closeMenu();trustTrigger.closeMenu();boxTrigger.closeMenu();checkoutTrigger.closeMenu();reportTrigger.openMenu()" mat-subheader>
                <span class="mat-list-icon">
                    <img src="/assets/images/side/7.png">
                </span>
                报告中心
            </h3>
            <mat-menu [hasBackdrop]="false" xPosition="after" [classList]="'side-sub-menu'" #menuReport="matMenu">
                <button routerLink="/admin/plan/list" routerLinkActive="active" mat-menu-item>企业体检报告</button>
                <button routerLink="/admin/risk/list" routerLinkActive="active" mat-menu-item>知产风险报告</button>
            </mat-menu>
            <h3 routerLink="/admin/monitor/list" (mouseover)="trustTrigger.closeMenu();boxTrigger.closeMenu();checkoutTrigger.closeMenu();reportTrigger.closeMenu();companyTrigger.closeMenu()" routerLinkActive="active" mat-subheader>
                <span class="mat-list-icon">
                    <img src="/assets/images/side/4.png">
                </span>
                竞争对手监控
            </h3>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content (mouseover)="trustTrigger.closeMenu();boxTrigger.closeMenu();checkoutTrigger.closeMenu();reportTrigger.closeMenu();companyTrigger.closeMenu()">
        <router-outlet></router-outlet>
        <!--<ion-fab class="fav-fab" *ngIf="show" horizontal="right" vertical="bottom" slot="fixed" cdkDrag>
            <ion-fab-button>
                <ion-icon name="ios-share"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button href="https://www.wispclouds.com/" color="primary">
                    商城
                </ion-fab-button>
            </ion-fab-list>
            <ion-fab-list side="end">
                <ion-fab-button routerLink="/admin/checkout" color="dark">
                    下单
                </ion-fab-button>
            </ion-fab-list>
            <ion-fab-list side="bottom">
                <ion-fab-button (click)="show = false" color="secondary">
                    关闭
                </ion-fab-button>
            </ion-fab-list>
            <ion-fab-list side="start">
                <ion-fab-button routerLink="/admin/dashboard" color="light">
                    首页
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>-->
    </mat-sidenav-content>
</mat-sidenav-container>
