<mat-card class="profile">
    <div class="position">
        <a routerLink="/admin/dashboard" class="link">
            <mat-icon slot="start">home</mat-icon>
            首页</a>
        <span class="divider">/</span>
        <span>知产保险箱</span>
    </div>
    <mat-card-header>
        <mat-card-title>知产保险箱</mat-card-title>
    </mat-card-header>
</mat-card>
<div class="container">
    <mat-tab-group (selectedTabChange)="onTab('fileField',$event)" class="main-tab">
        <mat-tab aria-label="0" label="商标"></mat-tab>
        <mat-tab aria-label="1" label="专利"></mat-tab>
        <mat-tab aria-label="2" label="版权"></mat-tab>
        <mat-tab aria-label="3" label="科技项目"></mat-tab>
        <mat-tab aria-label="4" label="品牌"></mat-tab>
    </mat-tab-group>
    <div class="content">
        <mat-tab-group (selectedTabChange)="onTab('fileType',$event)" class="sub-tab" style="width: 100%">
            <mat-tab aria-label="" label="全部"></mat-tab>
            <mat-tab aria-label="0" label="发票"></mat-tab>
            <mat-tab aria-label="2" label="证书"></mat-tab>
            <mat-tab aria-label="1" label="合同"></mat-tab>
            <mat-tab aria-label="3" label="做件"></mat-tab>
        </mat-tab-group>
        <div class="row-buttons">
            <ion-button [routerLink]="['/admin/box/upload']" mat-raised-button color="primary">
                <ion-icon name="md-cloud-upload"></ion-icon>
                上传
            </ion-button>
            <ion-button mat-raised-button color="primary">
                <ion-icon name="md-download"></ion-icon>
                下载
            </ion-button>
            <ion-button mat-raised-button color="danger">
                <ion-icon name="md-trash"></ion-icon>
                删除
            </ion-button>
        </div>
        <table *ngIf="dataSource" mat-table [dataSource]="dataSource">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef style="width: 50px">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> 索引.</th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> 文件名</th>
                <td mat-cell *matCellDef="let element">{{element.fileName}}</td>
            </ng-container>

            <!-- Post Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef style="width: 160px"> 类型</th>
                <td mat-cell *matCellDef="let element">{{element.uploadType === 1 ? '用户上传' : '系统生成'}}</td>
            </ng-container>

            <!-- projects Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef style="width: 200px"> 上传日期</th>
                <td mat-cell *matCellDef="let element">{{element.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="width: 200px"> 操作</th>
                <td class="actions" mat-cell *matCellDef="let element">
                    <ion-button (click)="preDownload(element.id)" [download]="'1.docx'" size="small" color="light"
                                [href]="FILE_PREFIX_URL + element.fileId">
                        <ion-icon name="md-download"></ion-icon>
                        下载
                    </ion-button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
        </table>
        <mat-paginator [pageIndex]="params.page - 1" [pageSize]="params.rows" [length]="total" (page)="page($event)" [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
    </div>
</div>
