mat-form-field {
  .mat-form-field-outline {
    top: 0 !important;

    .mat-form-field-outline-end, .mat-form-field-outline-start, .mat-form-field-outline-gap {
      border-width: 1px !important;
    }
  }

  .mat-form-field-infix {
    padding: 10px 0 !important;
    border-top: none !important;

    input {
      line-height: 20px;
      margin-top: 0;
      font-size: 13px;
    }

    .mat-select-arrow-wrapper {
      transform: translateY(0);
    }
  }

  .mat-select-placeholder {
    font-size: 13px;
  }

  .mat-select-value {
    font-size: 13px;
  }

  .mat-form-field-suffix {
    font-size: 13px;
    top: unset !important;
    align-self: center;

    .mat-icon-button {
    }
  }

  .mat-select {
    line-height: 20px;
    height: 20px;
  }

  mat-radio-group {
    mat-radio-button {
      margin-right: 20px;
      .mat-radio-label {
        font-size: 13px;
      }
    }
  }

  label {
    font-size: 13px;
  }
}