.side-sub-menu {
  position: absolute;
  top: -60px;
  left: 200px;
  right: auto;
  min-width: 205px !important;
  max-width: 205px !important;
  box-shadow: none !important;
  background: none !important;
  border-radius: 0 !important;

  .mat-menu-content {
    margin-left: 5px;
    background: #333951;
    color: #fff;
    border-radius: 4px;
    button {
      position: relative;
      height: 40px;
      line-height: 40px;
      color: #fff;

      &:focus {
        background-color: unset !important;
      }

      &:hover {
        background-color: rgba(233, 246, 255, 1) !important;
        color: #000 !important;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        bottom: 0;
        right: auto;
        width: 5px;
        background-color: #2C9EF7;
        display: none;
      }

      &.active {
        background-color: rgba(233, 246, 255, 1) !important;
        color: #000 !important;

        &:before {
          display: block;
        }
      }
    }
  }
}