.mat-raised-button {
  line-height: 40px !important;
  box-shadow: none !important;
  padding: 0 24px !important;
  &.mat-primary {
    background-color: #2C9EF7 !important;
    &:hover {
      background-color: #6BBBF9 !important;
    }
  }
  &[disabled] {
    background-color: #DCE5EC !important;
    color: #fff !important;
    &:hover {
      background-color: #DCE5EC !important;
      color: #fff !important;
    }
  }
}

ion-button{
  &.ion-color-primary {
    height: 40px !important;
    --background-activated: #6BBBF9 !important;
    --box-shadow: none !important;
    --background-focused: #6BBBF9 !important;
    --background-hover: #6BBBF9 !important;

    button {

    }

    &[disabled] {
      background: #DCE5EC !important;
    }
  }
  &.ion-color-danger {
    height: 40px !important;
    --box-shadow: none !important;
    button {

    }

    &[disabled] {
      background: #DCE5EC !important;
    }
  }
}