<mat-card class="profile">
    <div class="position">
        <a routerLink="/admin/dashboard" class="link">
            <mat-icon slot="start">home</mat-icon>
            首页</a>
        <span>商标自助智能申请</span>
    </div>
    <mat-card-header>
        <mat-card-title>商标自助智能申请</mat-card-title>
    </mat-card-header>
</mat-card>
<div class="container">
    <mat-card>
        <mat-card-content>
            <mat-horizontal-stepper labelPosition="bottom" [selectedIndex]="order.index" linear #stepper>
                <mat-step [stepControl]="firstForm">
                    <form [formGroup]="firstForm">
                        <ng-template matStepLabel><b>填写商标信息</b></ng-template>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6">
                                    <div class="mat-radio-content">
                                        <label>商标类型：</label>
                                        <mat-radio-group formControlName="brandRegType" required>
                                            <mat-radio-button class="example-margin" [value]="0">文字</mat-radio-button>
                                            <mat-radio-button class="example-margin" [value]="1">图形</mat-radio-button>
                                            <mat-radio-button class="example-margin" [value]="2">文字及图形
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </ion-col>
                                <ion-col size="6"></ion-col>
                                <ion-col size="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>商标名称</mat-label>
                                        <input matInput formControlName="brandName" required>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6"></ion-col>
                                <ion-col size="6">
                                    <div class="mat-radio-content">
                                        <label>商标图标：</label>
                                        <mat-radio-group [(ngModel)]="generateType"
                                                         (change)="change($event)"
                                                         [ngModelOptions]="{standalone:true}" required>
                                            <mat-radio-button class="example-margin" [value]="0">自动生成
                                            </mat-radio-button>
                                            <mat-radio-button class="example-margin" [value]="1">手动上传</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </ion-col>
                                <ion-col size="6"></ion-col>
                                <ion-col *ngIf="generateType === 0" size="6">
                                    <mat-form-field class="uploader">
                                        <mat-label>自动生成商标图样</mat-label>
                                        <input type="text" formControlName="brandLogoId" matInput placeholder="自动生成商标图样"
                                               style="display: none" required>
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__hd">
                                                <div class="weui-uploader__info"></div>
                                            </div>
                                            <div class="weui-uploader__bd">
                                                <div class="weui-uploader__input-box"
                                                     [ngClass]="{'uploaded' : firstForm.get('brandLogoId').valid}"
                                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + order.generateId + ')'}">
                                                    <div *ngIf="!order.generateId"
                                                         class="weui-uploader__input-box-text">
                                                        <ion-icon name="cloud-upload"></ion-icon>
                                                        <h3>暂无图片</h3>
                                                        <p>华海云平台默认以“宋体字样自左向右排列”递交官方</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col *ngIf="generateType === 1" size="6">
                                    <mat-form-field class="uploader">
                                        <mat-label>上传商标图样</mat-label>
                                        <input type="text" formControlName="brandLogoId" matInput placeholder="请上传商标图样"
                                               style="display: none" required>
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__hd">
                                                <div class="weui-uploader__info"></div>
                                            </div>
                                            <div class="weui-uploader__bd">
                                                <div class="weui-uploader__input-box"
                                                     [ngClass]="{'uploaded' : order.uploadId}"
                                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + order.uploadId + ')'}">
                                                    <div *ngIf="!order.uploadId"
                                                         class="weui-uploader__input-box-text">
                                                        <ion-icon name="cloud-upload"></ion-icon>
                                                        <h3>请选择上传文件</h3>
                                                        <p>可上传图片、文档类型文件</p>
                                                    </div>
                                                    <div *ngIf="order.uploadId"
                                                         class="weui-uploader__input-box-text">
                                                        <ion-icon name="cloud-upload"></ion-icon>
                                                        <h3>重新上传</h3>
                                                    </div>
                                                    <input
                                                            class="weui-uploader__input"
                                                            type="file"
                                                            accept="image/*"
                                                            multiple
                                                            [weui-uploader-file]="uploader.brandLogoId"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6"></ion-col>
                            </ion-row>
                        </ion-grid>
                        <div>
                            <button [disabled]="this.firstForm.invalid" (click)="first()" mat-raised-button
                                    color="primary" matStepperNext style="background: #027CFF;">下一步
                            </button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondForm">
                    <ng-template matStepLabel><b>注册类别选择</b></ng-template>
                    <table *ngIf="source?.base" mat-table [dataSource]="source?.base"
                           style="background: #fafafa;border-radius: 5px">

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> 商标名称</th>
                            <td mat-cell *matCellDef="let element">
                                <span>{{element.brandName}}</span>
                            </td>
                        </ng-container>

                        <!-- Logo Column -->
                        <ng-container matColumnDef="logo">
                            <th mat-header-cell *matHeaderCellDef style="width: 250px"> 商标图样</th>
                            <td mat-cell *matCellDef="let element">
                                <img *ngIf="element.brandLogoId" style="height: 36px"
                                     [src]="FILE_PREFIX_URL + element.brandLogoId">
                            </td>
                        </ng-container>

                        <!-- Price Column -->
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px"> 单价</th>
                            <td mat-cell *matCellDef="let element">￥{{element.price}}.00</td>
                        </ng-container>

                        <!-- count Column -->
                        <ng-container matColumnDef="count">
                            <th mat-header-cell *matHeaderCellDef style="width: 100px"> 数量</th>
                            <td mat-cell *matCellDef="let element">{{element.count}}</td>
                        </ng-container>

                        <!-- Amount Column -->
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef style="width: 200px"> 管费总额</th>
                            <td mat-cell *matCellDef="let element">￥{{element.amount}}.00</td>
                        </ng-container>

                        <!-- Total Column -->
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef style="width: 200px"> 应付总额</th>
                            <td mat-cell *matCellDef="let element">￥{{element.total}}.00</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayed['base']"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayed['base'];"
                            (click)="selection['base'].toggle(row)">
                        </tr>
                    </table>
                    <app-admin-checkout-types (change)="typesChange($event)" [data]="order.data"
                                              [name]="order?.firstForm?.brandName"></app-admin-checkout-types>
                    <div class="step-actions" style="margin-top: 20px;">
                        <button [disabled]="this.firstForm.invalid" mat-raised-button matStepperPrevious>上一步</button>
                        <button [disabled]="secondForm.invalid" (click)="second()" mat-raised-button
                                color="primary" matStepperNext style="background: #027CFF;margin-left: 20px">下一步
                        </button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="thirdForm">
                    <ng-template matStepLabel><b>填写申请人信息</b></ng-template>
                    <mat-divider style="margin-top: -20px"></mat-divider>
                    <form [formGroup]="thirdForm" style="margin-top: 20px;">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6">
                                    <h5>申请人信息</h5>
                                    <mat-button-toggle-group formControlName="custType" #group="matButtonToggleGroup">
                                        <mat-button-toggle [value]="1">
                                            企业
                                        </mat-button-toggle>
                                        <mat-button-toggle [value]="0">
                                            个体工商户
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>
                                </ion-col>
                                <ion-col size="6">
                                    <h5>订单联系人</h5>
                                    <mat-form-field appearance="outline">
                                        <mat-label>客户联系人</mat-label>
                                        <input formControlName="name" matInput placeholder="客户联系人" required>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>公司名称</mat-label>
                                        <input formControlName="companyName" matInput placeholder="公司名称" required>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>身份证号</mat-label>
                                        <input formControlName="idCard" matInput placeholder="身份证号"
                                               [required]="thirdForm.get('custType').value === 0">
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>统一社会信用代码</mat-label>
                                        <input formControlName="creditNumber" matInput placeholder="统一社会信用代码" required>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>联系电话</mat-label>
                                        <input formControlName="mobile" placeholder="联系电话" matInput required>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>营业执照所在省</mat-label>
                                        <mat-select formControlName="province" placeholder="营业执照所在省" required>
                                            <mat-option *ngFor="let item of provinces" [value]="item.name">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>市</mat-label>
                                        <mat-select formControlName="city" placeholder="市" required>
                                            <mat-option *ngFor="let item of cities" [value]="item.name">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="2">
                                    <mat-form-field appearance="outline">
                                        <mat-label>区</mat-label>
                                        <mat-select formControlName="area" placeholder="区" required>
                                            <mat-option *ngFor="let item of districts" [value]="item.name">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>电子邮箱</mat-label>
                                        <input formControlName="email" matInput placeholder="电子邮箱" required>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>邮政编码</mat-label>
                                        <input formControlName="zipCode" matInput placeholder="邮政编码" required>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>座机号码</mat-label>
                                        <input formControlName="telephone" placeholder="座机号码" matInput>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>营业执照详情地址</mat-label>
                                        <input formControlName="address" matInput placeholder="营业执照详情地址" required>
                                    </mat-form-field>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <mat-divider></mat-divider>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <h5>材料信息<span>（可在支付完成后，在订单中上传）</span></h5>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field class="uploader">
                                        <mat-label>营业执照副本复印件</mat-label>
                                        <input type="text" formControlName="licenseFileId" matInput
                                               style="display: none">
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__hd">
                                                <div class="weui-uploader__info"></div>
                                            </div>
                                            <div class="weui-uploader__bd">
                                                <div class="weui-uploader__input-box"
                                                     [ngClass]="{'uploaded' : thirdForm.get('licenseFileId').value}"
                                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('licenseFileId').value + ')'}">
                                                    <div *ngIf="!thirdForm.get('licenseFileId').value"
                                                         class="weui-uploader__input-box-text">
                                                        <ion-icon name="cloud-upload"></ion-icon>
                                                        <h3>请选择上传文件</h3>
                                                        <p>可上传图片、文档类型文件</p>
                                                    </div>
                                                    <div *ngIf="thirdForm.get('licenseFileId').value"
                                                         class="weui-uploader__input-box-text">
                                                        <ion-icon name="cloud-upload"></ion-icon>
                                                        <h3>重新上传</h3>
                                                    </div>
                                                    <input
                                                            class="weui-uploader__input"
                                                            type="file"
                                                            accept="image/*"
                                                            [weui-uploader-file]="uploader.licenseFileId"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field class="uploader">
                                        <mat-label>委托书</mat-label>
                                        <a style="left:50px;" [href]="FILE_PREFIX_URL + proxyId">模板下载（下载后请盖章并扫描上传）</a>
                                        <input type="text" formControlName="proxyFileId" matInput style="display: none">
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__hd">
                                                <div class="weui-uploader__info"></div>
                                            </div>
                                            <div class="weui-uploader__bd">
                                                <div class="weui-uploader__input-box"
                                                     [ngClass]="{'uploaded' : thirdForm.get('proxyFileId').value}"
                                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('proxyFileId').value + ')'}">
                                                    <div *ngIf="!thirdForm.get('proxyFileId').value"
                                                         class="weui-uploader__input-box-text">
                                                        <ion-icon name="cloud-upload"></ion-icon>
                                                        <h3>请选择上传文件</h3>
                                                        <p>可上传图片、文档类型文件</p>
                                                    </div>
                                                    <div *ngIf="thirdForm.get('proxyFileId').value"
                                                         class="weui-uploader__input-box-text">
                                                        <ion-icon name="cloud-upload"></ion-icon>
                                                        <h3>重新上传</h3>
                                                    </div>
                                                    <input
                                                            class="weui-uploader__input"
                                                            type="file"
                                                            accept="image/*"
                                                            multiple
                                                            [weui-uploader-file]="uploader.proxyFileId"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field class="uploader">
                                        <mat-label>优先权证明</mat-label>
                                        <a style="left:80px;"
                                           [href]="FILE_PREFIX_URL + priorityId">模板下载（下载后请盖章并扫描上传）</a>
                                        <input type="text" formControlName="priorityFileId" matInput
                                               style="display: none">
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__hd">
                                                <div class="weui-uploader__info"></div>
                                            </div>
                                            <div class="weui-uploader__bd">
                                                <div class="weui-uploader__input-box"
                                                     [ngClass]="{'uploaded' : thirdForm.get('priorityFileId').value}"
                                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('priorityFileId').value + ')'}">
                                                    <div *ngIf="!thirdForm.get('priorityFileId').value"
                                                         class="weui-uploader__input-box-text">
                                                        <ion-icon name="cloud-upload"></ion-icon>
                                                        <h3>请选择上传文件</h3>
                                                        <p>可上传图片、文档类型文件</p>
                                                    </div>
                                                    <div *ngIf="thirdForm.get('priorityFileId').value"
                                                         class="weui-uploader__input-box-text">
                                                        <ion-icon name="cloud-upload"></ion-icon>
                                                        <h3>重新上传</h3>
                                                    </div>
                                                    <input
                                                            class="weui-uploader__input"
                                                            type="file"
                                                            accept="image/*"
                                                            multiple
                                                            [weui-uploader-file]="uploader.priorityFileId"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </ion-col>
                                <ion-col size="6">
                                    <mat-form-field class="uploader">
                                        <mat-label>身份证复印件</mat-label>
                                        <input type="text" formControlName="cardFileId" matInput style="display: none">
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__hd">
                                                <div class="weui-uploader__info"></div>
                                            </div>
                                            <div class="weui-uploader__bd">
                                                <div class="weui-uploader__input-box"
                                                     [ngClass]="{'uploaded' : thirdForm.get('cardFileId').value}"
                                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('cardFileId').value + ')'}">
                                                    <div *ngIf="!thirdForm.get('cardFileId').value"
                                                         class="weui-uploader__input-box-text">
                                                        <ion-icon name="cloud-upload"></ion-icon>
                                                        <h3>请选择上传文件</h3>
                                                        <p>可上传图片、文档类型文件</p>
                                                    </div>
                                                    <div *ngIf="thirdForm.get('cardFileId').value"
                                                         class="weui-uploader__input-box-text">
                                                        <ion-icon name="cloud-upload"></ion-icon>
                                                        <h3>重新上传</h3>
                                                    </div>
                                                    <input
                                                            class="weui-uploader__input"
                                                            type="file"
                                                            accept="image/*"
                                                            multiple
                                                            [weui-uploader-file]="uploader.cardFileId"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </form>
                    <div class="step-actions" style="margin-top: 20px;">
                        <button mat-raised-button matStepperPrevious>上一步</button>
                        <button [disabled]="thirdForm.invalid" (click)="third()" mat-raised-button
                                color="primary" matStepperNext style="background: #027CFF;margin-left: 20px">下一步
                        </button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="fourthForm">
                    <ng-template matStepLabel><b>申请信息确认</b></ng-template>
                    <form [formGroup]="fourthForm" style="margin-top: 20px;">
                        <h5>商品信息</h5>
                        <table *ngIf="source.base" mat-table [dataSource]="source.base"
                               style="background: #fafafa;border-radius: 5px">

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> 商标名称</th>
                                <td mat-cell *matCellDef="let element">
                                    <span>{{element.brandName}}</span>
                                </td>
                            </ng-container>

                            <!-- Logo Column -->
                            <ng-container matColumnDef="logo">
                                <th mat-header-cell *matHeaderCellDef style="width: 250px"> 商标图样</th>
                                <td mat-cell *matCellDef="let element">
                                    <img *ngIf="element.brandLogoId" style="height: 36px"
                                         [src]="FILE_PREFIX_URL + element.brandLogoId">
                                </td>
                            </ng-container>

                            <!-- Price Column -->
                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef style="width: 100px"> 单价</th>
                                <td mat-cell *matCellDef="let element">￥{{element.price}}.00</td>
                            </ng-container>

                            <!-- count Column -->
                            <ng-container matColumnDef="count">
                                <th mat-header-cell *matHeaderCellDef style="width: 100px"> 数量</th>
                                <td mat-cell *matCellDef="let element">{{element.count}}</td>
                            </ng-container>

                            <!-- Amount Column -->
                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef style="width: 200px"> 管费总额</th>
                                <td mat-cell *matCellDef="let element">￥{{element.amount}}.00</td>
                            </ng-container>

                            <!-- Total Column -->
                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef style="width: 200px"> 应付总额</th>
                                <td mat-cell *matCellDef="let element">￥{{element.total}}.00</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayed['base']"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayed['base'];"
                                (click)="selection['base'].toggle(row)">
                            </tr>
                        </table>

                        <ion-grid style="margin-top: 20px;">
                            <ion-row>
                                <ion-col size="12">
                                    <mat-form-field>
                                        <mat-label>商标类别</mat-label>
                                        <mat-chip-list #typeList>
                                            <mat-chip
                                                    *ngFor="let item of secondForm.get('brandNames').value.split(',')">
                                                {{item}}
                                            </mat-chip>
                                            <input [matChipInputFor]="typeList" matInput
                                                   required readonly>
                                        </mat-chip-list>
                                        <!--<mat-error *ngIf="form.get('industryIds').hasError('required')">
                                            所属行业是 <strong>必填</strong> 项
                                        </mat-error>-->
                                    </mat-form-field>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <mat-divider></mat-divider>
                        <h5>申请人及联系人信息</h5>
                        <ion-grid class="company-info">
                            <ion-row>
                                <ion-col size="4">
                                    <p><span>申请人资质：</span>公司</p>
                                </ion-col>
                                <ion-col size="4">
                                    <p><span>公司名称：</span>{{thirdForm.get('companyName').value}}</p>
                                </ion-col>
                                <ion-col size="4">
                                    <p><span>邮政编码：</span>{{thirdForm.get('zipCode').value}}</p>
                                </ion-col>
                                <ion-col size="4">
                                    <p>
                                        <span>公司地址：</span>{{thirdForm.get('province').value}}{{thirdForm.get('city').value}}{{thirdForm.get('area').value}}{{thirdForm.get('address').value}}
                                    </p>
                                </ion-col>
                                <ion-col size="4">
                                    <p><span>联系人：</span>{{thirdForm.get('name').value}}</p>
                                </ion-col>
                                <ion-col size="4">
                                    <p><span>联系电话：</span>{{thirdForm.get('mobile').value}}</p>
                                </ion-col>
                                <ion-col size="4">
                                    <p><span>电子邮箱：</span>{{thirdForm.get('email').value}}</p>
                                </ion-col>
                                <ion-col size="4">
                                    <p><span>座机号码：</span>{{thirdForm.get('telephone').value}}</p>
                                </ion-col>
                                <ion-col size="4">
                                    <p><span>统一社会信用代码：</span>{{thirdForm.get('creditNumber').value}}</p>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <mat-divider></mat-divider>
                        <h5>材料信息<span>（可在支付完成后，在订单中上传）</span></h5>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6">
                                    <div class="uploader">
                                        <mat-label>营业执照副本复印件</mat-label>
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__hd">
                                                <div class="weui-uploader__info"></div>
                                            </div>
                                            <div class="weui-uploader__bd">
                                                <div class="weui-uploader__input-box"
                                                     [ngClass]="{'uploaded' : thirdForm.get('licenseFileId').value}"
                                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('licenseFileId').value + ')'}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col size="6">
                                    <div class="uploader">
                                        <mat-label>委托书</mat-label>
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__hd">
                                                <div class="weui-uploader__info"></div>
                                            </div>
                                            <div class="weui-uploader__bd">
                                                <div class="weui-uploader__input-box"
                                                     [ngClass]="{'uploaded' : thirdForm.get('proxyFileId').value}"
                                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('proxyFileId').value + ')'}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col size="6">
                                    <div class="uploader">
                                        <mat-label>优先权证明</mat-label>
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__hd">
                                                <div class="weui-uploader__info"></div>
                                            </div>
                                            <div class="weui-uploader__bd">
                                                <div class="weui-uploader__input-box"
                                                     [ngClass]="{'uploaded' : thirdForm.get('priorityFileId').value}"
                                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('priorityFileId').value + ')'}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col size="6">
                                    <div class="uploader">
                                        <mat-label>身份证复印件</mat-label>
                                        <div class="weui-uploader">
                                            <div class="weui-uploader__hd">
                                                <div class="weui-uploader__info"></div>
                                            </div>
                                            <div class="weui-uploader__bd">
                                                <div class="weui-uploader__input-box"
                                                     [ngClass]="{'uploaded' : thirdForm.get('cardFileId').value}"
                                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('cardFileId').value + ')'}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <mat-divider></mat-divider>
                        <h5>订单备注</h5>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12">
                                    <mat-form-field appearance="outline">
                                        <mat-label>备注</mat-label>
                                        <textarea matInput formControlName="remark" placeholder="备注"></textarea>
                                    </mat-form-field>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </form>
                    <div class="step-actions" style="margin-top: 20px;">
                        <button mat-raised-button matStepperPrevious>上一步</button>
                        <button [disabled]="thirdForm.invalid" (click)="fourth()" mat-raised-button
                                color="primary" matStepperNext style="background: #027CFF;margin-left: 20px">提交订单
                        </button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="fifthForm">
                    <ng-template matStepLabel><b>支付交官费用</b></ng-template>
                    <ion-list>
                        <ion-item lines="none">
                            <ion-thumbnail slot="start" style="width: 72px;height: 72px">
                                <ion-icon color="success" style="font-size: 72px;width: 72px;height: 72px"
                                          name="md-checkmark-circle"></ion-icon>
                            </ion-thumbnail>
                            <ion-label>
                                <h3 style="font-size: 24px">订单提交成功，应付金额：￥{{order.amount}}.00</h3>
                                <p>(业务总价：¥{{order.amount}}.00，优惠：¥ 0.00)</p>
                                <p>订单编号：{{order.no}}，购买服务：智能自助注册</p>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                    <mat-divider></mat-divider>
                    <div class="additional">
                        <h3>余额支付</h3>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="3">
                                    <div (click)="setAdditionalPay('zct',0,account.zct === 0 || payType === 'OFFLINE_PAY')"
                                         class="{{additionalPayTypes[0] === 'zct' ? 'curr' : ''}} pay-box {{account.zct === 0 || payType === 'OFFLINE_PAY' ? 'disabled' : ''}}">
                                        <img src="/assets/images/paymode/zct.png">
                                        <span>知产通</span>
                                        <ion-text color="danger">（余额：￥{{account.zct}}）</ion-text>
                                    </div>
                                </ion-col>
                                <ion-col size="3">
                                    <div (click)="setAdditionalPay('qb',1,account.qb === 0 || payType === 'OFFLINE_PAY')"
                                         class="{{additionalPayTypes[1] === 'qb' ? 'curr' : ''}} pay-box {{account.qb === 0 || payType === 'OFFLINE_PAY' ? 'disabled' : ''}}">
                                        <img src="/assets/images/paymode/qb.png">
                                        <span>钱包</span>
                                        <ion-text color="danger">（余额：￥{{account.qb}}）</ion-text>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                    <h3>其它支付</h3>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="2">
                                <div (click)="setPay('wxpay',account.amount >= order.amount)"
                                     class="{{payType === 'wxpay' ? 'curr' : ''}} pay-box {{account.amount >= order.amount ? 'disabled' : ''}}">
                                    <img src="/assets/images/paymode/wx.png">
                                    <span>微信支付</span>
                                </div>
                            </ion-col>
                            <ion-col size="2">
                                <div (click)="setPay('alipay',true)"
                                     class="{{payType === 'alipay' ? 'curr' : ''}} pay-box disabled {{account.amount >= order.amount ? 'disabled' : ''}}">
                                    <img src="/assets/images/paymode/alipay.png">
                                    <span>支付宝支付</span>
                                </div>
                            </ion-col>
                            <ion-col size="2">
                                <div (click)="setPay('OFFLINE_PAY',account.amount >= order.amount)"
                                     class="{{payType === 'OFFLINE_PAY' ? 'curr' : ''}} pay-box {{account.amount >= order.amount ? 'disabled' : ''}}">
                                    <img src="/assets/images/paymode/underline.png">
                                    <span>线下支付</span>
                                </div>
                            </ion-col>
                            <ion-col size="2"></ion-col>
                        </ion-row>
                    </ion-grid>
                    <div class="step-actions" style="margin-top: 20px;">
                        <button (click)="fifth(stepper)" color="primary" mat-raised-button style="background: #027CFF;">
                            确认支付
                        </button>
                        <!--<button (click)="reset(stepper)" mat-raised-button color="primary">再来一单</button>-->
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel><b>支付成功</b></ng-template>
                    <ion-list>
                        <ion-item lines="none">
                            <ion-thumbnail slot="start" style="width: 72px;height: 72px">
                                <ion-icon color="success" style="font-size: 72px;width: 72px;height: 72px"
                                          name="md-checkmark-circle"></ion-icon>
                            </ion-thumbnail>
                            <ion-label>
                                <h3 style="font-size: 24px">订单提交成功，应付金额：￥{{order.amount}}.00</h3>
                                <p>(业务总价：¥{{order.amount}}.00，优惠：¥ 0.00)</p>
                                <p>订单编号：{{order.no}}，购买服务：智能自助注册</p>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                    <div class="step-actions" style="margin-top: 20px;">
                        <button (click)="home()" color="primary" mat-raised-button style="background: #027CFF;">返回首页
                        </button>
                        <!--<button (click)="reset(stepper)" mat-raised-button color="primary">再来一单</button>-->
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>

