<mat-card class="profile">
    <div class="position">
        <a routerLink="/admin/dashboard" class="link">
            <mat-icon slot="start">home</mat-icon>
            首页</a>
        <span class="divider">/</span>
        <span>商标自助智能申请</span>
    </div>
    <mat-card-header>
        <mat-card-title>商标自助智能申请</mat-card-title>
    </mat-card-header>
</mat-card>
<div class="container">
    <mat-card>
        <mat-card-content>
            <mat-horizontal-stepper labelPosition="bottom" [selectedIndex]="order.index" linear #stepper>
                <app-admin-checkout-form-first-form></app-admin-checkout-form-first-form>
                <app-admin-checkout-form-second-form></app-admin-checkout-form-second-form>
                <app-admin-checkout-form-second-form></app-admin-checkout-form-second-form>
                <app-admin-checkout-form-fourth-form></app-admin-checkout-form-fourth-form>
                <mat-step>
                    <ng-template matStepLabel>订单提交成功</ng-template>
                    <ion-list>
                        <ion-item lines="none">
                            <ion-thumbnail slot="start" style="width: 72px;height: 72px">
                                <ion-icon color="success" style="font-size: 72px;width: 72px;height: 72px"
                                          name="md-checkmark-circle"></ion-icon>
                            </ion-thumbnail>
                            <ion-label>
                                <h3 style="font-size: 24px">订单提交成功，应付金额：￥{{order.amount}}.00</h3>
                                <p>(业务总价：¥{{order.amount}}.00，优惠：¥ 0.00)</p>
                                <p>订单编号：{{order.no}}，购买服务：智能自助注册</p>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                    <div class="step-actions" style="margin-top: 20px;">
                        <button (click)="home()" color="primary" mat-raised-button>返回首页</button>
                        <!--<button (click)="reset(stepper)" mat-raised-button color="primary">再来一单</button>-->
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>
