/*ion-grid {
  --ion-grid-padding: 0;

  ion-col {
    --ion-grid-column-padding: 0;
  }
}*/
.mat-radio-content {
  margin-bottom: 20px;

  label {
    line-height: 20px;
    display: inline-block;
  }

  mat-radio-button {
    margin: 0 5px;
  }
}

:host {
  &::ng-deep {
    .mat-horizontal-content-container {
      padding: 24px;
    }

    .mat-horizontal-stepper-header-container {
      .mat-stepper-horizontal-line {
        top: 64px !important;
      }

      mat-step-header {
        &:after, &:before {
          top: 64px !important;
          width: calc(50% - 40px) !important;
        }

        .mat-step-icon {
          width: 80px;
          height: 80px;
          background: #fff;
          border: 1px solid #ededed;
          &:after {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            background-size: cover;
            background-position: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          .mat-step-icon-content {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: var(--ion-color-medium);
            text-align: center;
            line-height: 24px;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &.mat-step-icon-selected {
            border: 1px solid var(--ion-color-primary);
            .mat-step-icon-content {
              background: var(--ion-color-primary);
            }
          }
        }
        &:nth-child(1) {
          .mat-step-icon {
            &:after {
              background-image: url("/assets/images/checkout/brand.png");
            }
          }
        }
        &:nth-child(3) {
          .mat-step-icon {
            &:after {
              background-image: url("/assets/images/checkout/register_on.png");
            }
          }
        }
        &:nth-child(5) {
          .mat-step-icon {
            &:after {
              background-image: url("/assets/images/checkout/applicant_on.png");
            }
          }
        }
        &:nth-child(7) {
          .mat-step-icon {
            &:after {
              background-image: url("/assets/images/checkout/confirm_on.png");
            }
          }
        }
        &:nth-child(9) {
          .mat-step-icon {
            &:after {
              background-image: url("/assets/images/checkout/pay_on.png");
            }
          }
        }
        &:nth-child(11) {
          .mat-step-icon {
            &:after {
              background-image: url("/assets/images/checkout/success _on.png");
            }
          }
        }
      }
    }
  }
}

mat-form-field {
  &.no-border {
    &::ng-deep {
      .mat-form-field-underline {
        display: none;
      }
    }
  }
}

.uploader {
  &::ng-deep {
    .mat-form-field-underline {
      display: none;
    }

    a {
      top: 4px;
      font-size: 16px;
      color: #3880ff;
      cursor: pointer;
      text-decoration: none;
      position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .weui-uploader__input-box {
    margin: 10px 10px 0 0;
    border-radius: 5px;
    border: 1px dashed currentColor;

    &:before, &:after {
      display: none;
    }

    .weui-uploader__input-box-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);

      ion-icon {
        display: block;
        margin: 5px auto;
        font-size: 36px;
      }

      h3 {
        font-size: 14px;
        text-align: center;
        margin: 5px 0 10px;
      }

      p {
        text-align: center;
        margin: 10px 0 0;
        color: #999;
      }
    }

    &.uploaded {
      border: 1px dashed #fff;
      color: #fff;
    }
  }

  .weui-uploader__bd {
    margin-bottom: 0;
    margin-right: 0;
  }

  .weui-uploader__file {
    width: 100%;
    height: 150px;
  }

  .weui-uploader__input-box {
    width: 100%;
    height: 150px;
  }
}

.step-actions {
  button {
    margin-right: 10px;
  }
}

.company-info {
  p {
    margin: 7px;

    span {
      color: #666;
    }
  }
}

h5 {
  span {
    font-size: 14px;
    color: #999;
  }
}

.pay-box {
  border-radius: 4px;
  border: 2px solid #EDEDED;
  cursor: pointer;

  img, span, ion-text {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    width: 32px;
    height: 32px;
    margin: 10px 15px 10px 20px;
  }

  span, ion-text {
    font-weight: bold;
  }

  &.curr {
    border: 2px solid #961522;

    span {
      color: #961522;
    }
  }

  &.disabled {
    opacity: 0.5;
  }
}
button{
  width: 160px;
  height: 40px;
}
mat-button-toggle-group{
  &::ng-deep{
    .mat-button-toggle-checked{
      background-color: #027CFF;
      color: #fff;
    }
  }
}
