<mat-card class="profile">
    <div class="position">
        <a routerLink="/admin/dashboard" href="javascript:;" class="link">
            <mat-icon slot="start">home</mat-icon>
            首页</a>
        <a href="/admin/trust/list">知产托管</a>
        <span>{{data?.inventionTitle}}</span>
    </div>
    <mat-card-header>
        <mat-card-title>{{data?.inventionTitle}}</mat-card-title>
    </mat-card-header>
</mat-card>
<div class="container">
    <mat-card style="padding-top: 0;padding-bottom: 0">
        <mat-card-content>
            <table *ngIf="source.data" mat-table [dataSource]="source.data">

                <!-- Name Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef style="width: 150px"> <b>申请公布日</b></th>
                    <td mat-cell *matCellDef="let element">{{element.publicationDate}}</td>
                </ng-container>

                <!-- Level Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> <b>专利名称</b></th>
                    <td mat-cell *matCellDef="let element">
                        <a *ngIf="element.status" [routerLink]="['/admin/trust/item',element.applicationCode]"
                           class="link" href="javascript:;">{{element.inventionTitle}}</a>
                        <span *ngIf="!element.status">{{element.inventionTitle}}</span>
                    </td>
                </ng-container>

                <!-- Qualification Column -->
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef style="width: 150px"> <b>申请号</b></th>
                    <td mat-cell *matCellDef="let element">{{element.applicationCode}}</td>
                </ng-container>

                <!-- Qualification Column -->
                <ng-container matColumnDef="publishNo">
                    <th mat-header-cell *matHeaderCellDef style="width: 150px"> <b>申请公布号</b></th>
                    <td mat-cell *matCellDef="let element">{{element.publicationCode}}</td>
                </ng-container>

                <!-- Qualification Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef style="width: 100px"> <b>专利类型</b></th>
                    <td mat-cell *matCellDef="let element">{{element.patentType}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayed['data']"></tr>
                <tr mat-row *matRowDef="let row; columns: displayed['data'];"
                    (click)="selection['data'].toggle(row)">
                </tr>
            </table>
        </mat-card-content>
    </mat-card>

    <mat-card style="margin-top: 20px">
        <mat-card-content>
            <mat-tab-group (selectedTabChange)="onTab($event)" style="margin-top: 16px">
                <mat-tab aria-label="change" label="专利变更信息">
                    <table *ngIf="source.change" mat-table [dataSource]="source.change" class="mat-elevation-z8">

                        <!-- Name Column -->
                        <ng-container matColumnDef="title">
                            <td mat-cell *matCellDef="let element">{{element.content}}</td>
                        </ng-container>

                        <!-- Qualification Column -->
                        <ng-container matColumnDef="date">
                            <td mat-cell *matCellDef="let element"
                                style="width: 200px">{{element.createTime | date : 'yyyy-MM-dd'}}</td>
                        </ng-container>
                        <tr mat-row *matRowDef="let row; columns: displayed['change'];"
                            (click)="selection['change'].toggle(row)">
                        </tr>
                    </table>
                    <mat-paginator [pageIndex]="change.params.page - 1" (page)="changePage($event)"
                                   [length]="change.total" [pageSize]="change.params.rows"
                                   [pageSizeOptions]="[10,20,50]"
                                   showFirstLastButtons></mat-paginator>
                </mat-tab>
                <mat-tab aria-label="risk" label="专利风险">
                    <table *ngIf="source.risk" mat-table [dataSource]="source.risk" class="mat-elevation-z8">


                        <!-- Name Column -->
                        <ng-container matColumnDef="title">
                            <td mat-cell *matCellDef="let element">{{element.content}}</td>
                        </ng-container>

                        <!-- Qualification Column -->
                        <ng-container matColumnDef="date">
                            <td mat-cell *matCellDef="let element"
                                style="width: 200px">{{element.createTime | date : 'yyyy-MM-dd'}}</td>
                        </ng-container>

                        <tr mat-row *matRowDef="let row; columns: displayed['risk'];"
                            (click)="selection['risk'].toggle(row)">
                        </tr>
                    </table>
                    <mat-paginator [pageIndex]="risk.params.page - 1" (page)="riskPage($event)"
                                   [length]="risk.total" [pageSize]="risk.params.rows" [pageSizeOptions]="[10,20,50]"
                                   showFirstLastButtons></mat-paginator>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>
