<ion-grid>
    <ion-row>
        <ion-col size="12">
            <mat-button-toggle-group (change)="typeChange($event)" [value]="data.type" name="fontStyle"
                                     aria-label="Font Style">
                <mat-button-toggle color="primary" [value]="0">智能推荐</mat-button-toggle>
                <mat-button-toggle color="primary" [value]="1">自主选择</mat-button-toggle>
                <mat-button-toggle color="primary" [value]="2">全类保护</mat-button-toggle>
            </mat-button-toggle-group>
        </ion-col>
        <ion-col size="12">
            <mat-form-field style="margin-top: 20px;" appearance="outline">
                <label><em>*</em>行业</label>
                <input style="cursor: pointer" (click)="industryPanelShow = true" [value]="industryIds | industryName : sourceIndustries" placeholder="所属行业" matInput
                       required readonly>
                <ion-icon style="cursor: pointer" (click)="industryPanelShow = true" matSuffix name="arrow-down"></ion-icon>
            </mat-form-field>
            <div *ngIf="industryPanelShow" class="industry-container">
                <div class="main-content">
                    <ion-radio-group [(ngModel)]="industryIds" (ionChange)="industryChange($event)" [value]="industryIds">
                        <ul>
                            <li *ngFor="let item of industries">
                                <ion-radio [value]="item.id"></ion-radio>
                                {{item.industryName}}
                                <div class="sub-content">
                                    <ul>
                                        <li *ngFor="let sub of item.children">
                                            <ion-radio [value]="sub.id"></ion-radio>{{sub.industryName}}
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </ion-radio-group>
                </div>
                <div class="sub-content"></div>
            </div>
        </ion-col>
        <ion-col size="12">
            <div class="tips">我们为您推荐以下商品/服务项目<span>因商标注册存在盲期，以下群组的通过率检索结果可能存在偏差，仅供参考！ </span></div>
        </ion-col>
        <ion-col size="3">
            <ion-list>
                <ion-list-header>推荐类别</ion-list-header>
                <ion-item (click)="selected(item)" [ngClass]="{'selected' : item.selected}"
                          *ngFor="let item of data.types;let i = index"
                          [lines]="'none'">
                    <ion-label>{{item.n}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col size="9">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let item of data.items" [expanded]="item.expanded"
                                     (opened)="item.expanded = true" (closed)="item.expanded = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="name">{{item.n}}</span><span class="count">(共选{{item.count}}项)</span><span
                                class="risk-count">已为您检索到{{item.riskCount}}条近似商标</span><span
                                class="score {{item.score | score}}">{{item.grade}}</span>
                        </mat-panel-title>
                        <mat-panel-description>
                            ￥{{item.total}}
                        </mat-panel-description>
                        <ion-icon (click)="del(data.items,item,$event)" name="ios-trash"></ion-icon>
                    </mat-expansion-panel-header>
                    <mat-divider [inset]="true"></mat-divider>
                    <div *ngFor="let children of item.children;let i = index" class="chip-list">
                        <mat-label>{{children.n}} <span class="link" style="float: right" (click)="groupDel(item.children,children,$event)">删除</span>
                        </mat-label>
                        <mat-chip-list multiple>
                            <mat-chip color="primary" (click)="selectedItem(item,children,chip,$event)"
                                      [selected]="chip.selected"
                                      *ngFor="let chip of children.children.slice(0,children.expanded ? children.children.length : 10)">
                                {{chip.n}}
                            </mat-chip>
                            <mat-chip (click)="children.expanded = !children.expanded" color="accent" selected>
                                {{children.expanded ? '收起' : '更多'}}
                            </mat-chip>
                        </mat-chip-list>
                        <mat-divider *ngIf="i !== item.children.length - 1" [inset]="true" class="dashed"></mat-divider>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </ion-col>
    </ion-row>
</ion-grid>
<div (click)="industryPanelShow = false" *ngIf="industryPanelShow" class="selected-overlay"></div>
