ion-grid {
  margin: 0 -10px;
}

mat-button-toggle-group {
  margin-bottom: 15px;
}

mat-form-field {
  display: block;
  width: 100%;
}

ion-list {
  background: #ededed;
  border-radius: 4px;

  ion-item {
    --background: transparent;
    font-size: 12px;
    margin-left: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    &.selected {
      --background: #fff
    }
  }
}

.tips {
  font-size: 16px;
  margin-bottom: 16px;

  span {
    font-size: 12px;
    color: #999;
    margin-left: 16px;
  }
}

mat-expansion-panel {
  mat-expansion-panel-header {
    mat-panel-title {
      flex: 1;

      .name {
        font-weight: bold;
        color: #000;
        font-size: 16px;
        padding: 0
      }

      span {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.65);
        display: inline-block;
        vertical-align: middle;
        line-height: 22px;
        padding: 0 10px;
      }
    }

    mat-panel-description {
      flex: unset;
    }
    ion-icon {
      position: absolute;
      right: -24px;
      font-size: 22px;
    }
  }

  &::ng-deep {
    .mat-expansion-panel-body {

      .chip-list {
        mat-label {
          display: block;
          margin: 20px 0;
        }

        mat-divider {
          margin-top: 20px;
          border-top-style: dashed;
        }
      }
    }
  }
}

.score {
  font-weight: bold;
  &.warning {
    color: rgba(255, 137, 19, 1) !important;
    background: rgba(255, 137, 19, 0.3);
    border: 1px dashed rgba(255, 137, 19, 1);
  }
  &.danger {
    color: rgba(255, 58, 19, 1) !important;
    background: rgba(255, 58, 19, 0.3);
    border: 1px dashed rgba(255, 58, 19, 1);
  }
  &.success {
    color: rgba(27, 178, 43, 1) !important;
    background: rgba(27, 178, 43, 0.2);
    border: 1px dashed rgba(27, 178, 43, 1);
  }
}

.industry-container {
  position: absolute;
  z-index: 10001;
  background: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  border-radius: 4px;
  margin-top: -60px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 14px;
      line-height: 3em;
      height: 3em;
      margin: 0;
      padding: 0 16px 0 46px;
      cursor: pointer;
      text-overflow: unset;
      white-space: nowrap;
      min-width: 160px;

      &:hover {
        background: rgba(0, 0, 0, 0.04);

        .sub-content {
          display: block;
        }
      }

      &.selected {
        color: #3f51b5;
        background: rgba(0, 0, 0, 0.12);
      }

      ion-radio {
        position: absolute;
        margin-left: -30px;
        margin-top: 11px;
      }

      .sub-content {
        position: absolute;
        left: 100%;
        background: #fff;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
        top: 50%;
        transform: translate3d(0, -50%, 0);
        height: 100%;
        overflow-y: scroll;
        display: none;
      }
    }
  }
}

.selected-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
}

mat-form-field {
  width: 80%;
  margin-bottom: 50px;
  label {
    position: absolute;
    top: -30px;
    white-space: nowrap;
    em {
      color: #FD5451;
      font-style: normal;
    }
  }

  &::ng-deep {

    .mat-form-field-subscript-wrapper {
      position: absolute;
      margin-top: 0;
      top: 0;
      left: 220px;
    }

    .mat-form-field-outline {
      .mat-form-field-outline-end, .mat-form-field-outline-start, .mat-form-field-outline-gap {
        border-width: 1px !important;
      }
    }

    .mat-form-field-infix {

      input {
        font-size: 14px;
      }
    }

    .mat-select-placeholder {
      font-size: 14px;
    }

    .mat-select-value {
      font-size: 14px;
    }

    .mat-form-field-suffix {
      font-size: 14px;

    }
  }


  label {
    font-size: 14px;
  }

  &.nl {
    &::ng-deep {
      .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end {
        border: none !important;
      }
    }
  }
}
mat-horizontal-stepper{
  &::ng-deep{
    .mat-horizontal-content-container{
      padding: 0;
    }
  }
}
mat-radio-group {
  mat-radio-button {
    margin: 15px 50px 15px 0 !important;
  }

}
