<mat-step [stepControl]="thirdForm">
    <ng-template matStepLabel>填写申请人信息</ng-template>
    <mat-divider style="margin-top: -20px"></mat-divider>
    <form [formGroup]="thirdForm" style="margin-top: 20px;">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <h5>申请人信息</h5>
                    <mat-button-toggle-group formControlName="custType" #group="matButtonToggleGroup">
                        <mat-button-toggle [value]="1">
                            企业
                        </mat-button-toggle>
                        <mat-button-toggle [value]="0">
                            个人
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </ion-col>
                <ion-col size="6">
                    <h5>订单联系人</h5>
                    <mat-form-field appearance="outline">
                        <mat-label>客户联系人</mat-label>
                        <input formControlName="name" matInput required>
                    </mat-form-field>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field appearance="outline">
                        <mat-label>公司名称</mat-label>
                        <input formControlName="companyName" matInput required>
                    </mat-form-field>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field appearance="outline">
                        <mat-label>身份证号</mat-label>
                        <input formControlName="idCard" matInput
                               [required]="thirdForm.get('custType').value === 0">
                    </mat-form-field>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field appearance="outline">
                        <mat-label>统一社会信用代码</mat-label>
                        <input formControlName="creditNumber" matInput required>
                    </mat-form-field>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field appearance="outline">
                        <mat-label>联系电话</mat-label>
                        <input formControlName="mobile" matInput required>
                    </mat-form-field>
                </ion-col>
                <ion-col size="2">
                    <mat-form-field appearance="outline">
                        <mat-label>营业执照所在省</mat-label>
                        <mat-select formControlName="province" required>
                            <mat-option *ngFor="let item of provinces" [value]="item.name">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ion-col>
                <ion-col size="2">
                    <mat-form-field appearance="outline">
                        <mat-label>市</mat-label>
                        <mat-select formControlName="city" required>
                            <mat-option *ngFor="let item of cities" [value]="item.name">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ion-col>
                <ion-col size="2">
                    <mat-form-field appearance="outline">
                        <mat-label>区</mat-label>
                        <mat-select formControlName="area" required>
                            <mat-option *ngFor="let item of districts" [value]="item.name">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field appearance="outline">
                        <mat-label>电子邮箱</mat-label>
                        <input formControlName="email" matInput required>
                    </mat-form-field>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field appearance="outline">
                        <mat-label>邮政编码</mat-label>
                        <input formControlName="zipCode" matInput required>
                    </mat-form-field>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field appearance="outline">
                        <mat-label>座机号码</mat-label>
                        <input formControlName="telephone" matInput>
                    </mat-form-field>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field appearance="outline">
                        <mat-label>营业执照详情地址</mat-label>
                        <input formControlName="address" matInput required>
                    </mat-form-field>
                </ion-col>
            </ion-row>
        </ion-grid>
        <mat-divider></mat-divider>
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <h5>材料信息<span>（可在支付完成后，在订单中上传）</span></h5>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field class="uploader">
                        <mat-label>营业执照副本复印件</mat-label>
                        <input type="text" formControlName="licenseFileId" matInput
                               style="display: none">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <div class="weui-uploader__info"></div>
                            </div>
                            <div class="weui-uploader__bd">
                                <div class="weui-uploader__input-box"
                                     [ngClass]="{'uploaded' : thirdForm.get('licenseFileId').value}"
                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('licenseFileId').value + ')'}">
                                    <div *ngIf="!thirdForm.get('licenseFileId').value"
                                         class="weui-uploader__input-box-text">
                                        <ion-icon name="cloud-upload"></ion-icon>
                                        <h3>请选择上传文件</h3>
                                        <p>可上传图片、文档类型文件</p>
                                    </div>
                                    <div *ngIf="thirdForm.get('licenseFileId').value"
                                         class="weui-uploader__input-box-text">
                                        <ion-icon name="cloud-upload"></ion-icon>
                                        <h3>重新上传</h3>
                                    </div>
                                    <input
                                            class="weui-uploader__input"
                                            type="file"
                                            accept="image/*"
                                            multiple
                                            [weui-uploader-file]="uploader.licenseFileId"
                                    />
                                </div>
                            </div>
                        </div>
                    </mat-form-field>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field class="uploader">
                        <mat-label>委托书
                            <span style="margin-left:5px; font-size: 16px;color: #3880ff">模板下载（下载后请盖章并扫描上传）</span>
                        </mat-label>
                        <input type="text" formControlName="proxyFileId" matInput style="display: none">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <div class="weui-uploader__info"></div>
                            </div>
                            <div class="weui-uploader__bd">
                                <div class="weui-uploader__input-box"
                                     [ngClass]="{'uploaded' : thirdForm.get('proxyFileId').value}"
                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('proxyFileId').value + ')'}">
                                    <div *ngIf="!thirdForm.get('proxyFileId').value"
                                         class="weui-uploader__input-box-text">
                                        <ion-icon name="cloud-upload"></ion-icon>
                                        <h3>请选择上传文件</h3>
                                        <p>可上传图片、文档类型文件</p>
                                    </div>
                                    <div *ngIf="thirdForm.get('proxyFileId').value"
                                         class="weui-uploader__input-box-text">
                                        <ion-icon name="cloud-upload"></ion-icon>
                                        <h3>重新上传</h3>
                                    </div>
                                    <input
                                            class="weui-uploader__input"
                                            type="file"
                                            accept="image/*"
                                            multiple
                                            [weui-uploader-file]="uploader.proxyFileId"
                                    />
                                </div>
                            </div>
                        </div>
                    </mat-form-field>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field class="uploader">
                        <mat-label>优先权证明
                            <span style="margin-left:5px; font-size: 16px;color: #3880ff">模板下载（下载后请盖章并扫描上传）</span>
                        </mat-label>
                        <input type="text" formControlName="priorityFileId" matInput
                               style="display: none">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <div class="weui-uploader__info"></div>
                            </div>
                            <div class="weui-uploader__bd">
                                <div class="weui-uploader__input-box"
                                     [ngClass]="{'uploaded' : thirdForm.get('priorityFileId').value}"
                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('priorityFileId').value + ')'}">
                                    <div *ngIf="!thirdForm.get('priorityFileId').value"
                                         class="weui-uploader__input-box-text">
                                        <ion-icon name="cloud-upload"></ion-icon>
                                        <h3>请选择上传文件</h3>
                                        <p>可上传图片、文档类型文件</p>
                                    </div>
                                    <div *ngIf="thirdForm.get('priorityFileId').value"
                                         class="weui-uploader__input-box-text">
                                        <ion-icon name="cloud-upload"></ion-icon>
                                        <h3>重新上传</h3>
                                    </div>
                                    <input
                                            class="weui-uploader__input"
                                            type="file"
                                            accept="image/*"
                                            multiple
                                            [weui-uploader-file]="uploader.priorityFileId"
                                    />
                                </div>
                            </div>
                        </div>
                    </mat-form-field>
                </ion-col>
                <ion-col size="6">
                    <mat-form-field class="uploader">
                        <mat-label>身份证复印件</mat-label>
                        <input type="text" formControlName="cardFileId" matInput style="display: none">
                        <div class="weui-uploader">
                            <div class="weui-uploader__hd">
                                <div class="weui-uploader__info"></div>
                            </div>
                            <div class="weui-uploader__bd">
                                <div class="weui-uploader__input-box"
                                     [ngClass]="{'uploaded' : thirdForm.get('cardFileId').value}"
                                     [ngStyle]="{'backgroundImage':'url(' + FILE_PREFIX_URL + thirdForm.get('cardFileId').value + ')'}">
                                    <div *ngIf="!thirdForm.get('cardFileId').value"
                                         class="weui-uploader__input-box-text">
                                        <ion-icon name="cloud-upload"></ion-icon>
                                        <h3>请选择上传文件</h3>
                                        <p>可上传图片、文档类型文件</p>
                                    </div>
                                    <div *ngIf="thirdForm.get('cardFileId').value"
                                         class="weui-uploader__input-box-text">
                                        <ion-icon name="cloud-upload"></ion-icon>
                                        <h3>重新上传</h3>
                                    </div>
                                    <input
                                            class="weui-uploader__input"
                                            type="file"
                                            accept="image/*"
                                            multiple
                                            [weui-uploader-file]="uploader.cardFileId"
                                    />
                                </div>
                            </div>
                        </div>
                    </mat-form-field>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <div class="step-actions" style="margin-top: 20px;">
        <button mat-raised-button matStepperPrevious>上一步</button>
        <button [disabled]="thirdForm.invalid" (click)="third()" mat-raised-button
                color="primary" matStepperNext>下一步
        </button>
    </div>
</mat-step>
