.container {
  background: rgba(246, 247, 249, 1);
  padding: 0;
}

ion-grid {
  --ion-grid-padding: 0;

  ion-col {
    --ion-grid-column-padding: 0;
  }
}

mat-card {
  margin: 10px;

  &:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

  .company {
    width: 100%;

    .company_left {
      border: none;
      width: 10px;
      height: 50px;
      background: inherit;
      background-color: rgba(44, 158, 247, 1);
      border-radius: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      display: inline-block;
    }

    .company_right {
      display: inline-block;
      position: absolute;
      margin: 2px 8px;

      p {
        font-size: 32px;
        font-weight: bold;
        margin: 0;
      }
    }

    img {
      display: block;
      position: absolute;
      right: 20px;
      top: 25px;
      height: 30px;
      width: 30px;
      cursor: pointer;
    }

  }

  mat-card-header {

    mat-card-title {
      font-size: 20px;
      font-weight: bold;
    }

    mat-card-subtitle {
      top: 16px;
      right: 16px;
      position: absolute;
      margin: 0;

      img {
        width: 30px;
        height: 30px;
      }
    }

    &::ng-deep {
      .mat-card-header-text {
        margin: 0;
      }
    }
  }


}

circle-progress {
  display: block;
  margin: 16px auto 0 !important;
  text-align: center;
}

mat-card {
  &.auto-height {
    height: calc(100% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    /*a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      font-size: 12px;
    }*/
  }

  mat-card-content {
    height: calc(100% - 32px);

    .subsidy-chart {
      width: calc(100% - 1px);
    }

    .hot {
      display: flex;
      flex-direction: row;
      margin: 15px auto;

      .hot_img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;

        img {
          position: relative;
          width: 100px;
          height: auto;
        }
      }

      .hot_left {
        width: 200px;
        height: 120px;
        background: inherit;
        background-color: rgba(44, 158, 247, 1);
        border: none;
        border-radius: 4px;
      }

      .hot_right {
        width: 20rem;
        height: 120px;
        background: inherit;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border: 1px solid rgba(220, 229, 235, 1);
        border-radius: 4px;
        margin-left: 20px;
        position: relative;

        p {
          margin-left: 30px;
        }
      }
    }

    .my_work {
      ion-item {
        margin: 15px auto;
      }
    }

    .work {
      display: flex;
      flex-direction: row;
      border-radius: 4px;

      .work_left {
        width: 84px;
        height: 60px;
        background: inherit;
        background-color: rgba(44, 158, 247, 1);
        border-radius: 4px 0 0 4px;

        img {
          width: 32px;
          height: 30px;
          position: absolute;
          top: 13px;
          left: 25px;
        }
      }

      .work_right {
        width: 281px;
        height: 60px;
        background: inherit;
        background-color: rgba(0, 115, 205, 1);
        border-radius: 0 4px 4px 0;

        table {
          &::ng-deep {
            tbody tr td {
              border-bottom-width: 1px !important;

            }
          }
        }

        span {
          display: inline-block;
          padding: 10px 40px;
          color: #ffffff;
          font-weight: bold;
          font-size: 32px;
        }

        p {
          display: inline-block;
          position: absolute;
          color: #ffffff;
          font-weight: bold;
          font-size: 16px;
          margin-top: 20px;
        }
      }
    }

    .brand {
      margin: 20px auto 0;
      width: 200px;
      height: 60px;

      img {
        float: left;
        display: block;
        width: 56px;
        height: 56px;
      }

      .brand_list {
        float: left;
        margin-left: 10px;

        .brand_num {
          color: #21333F;
          font-size: 32px;
          font-weight: bold;
          margin: 0;
        }

        .brand_name {
          font-size: 14px;
          color: #333;
          margin: 0;
        }
      }
    }
  }
}

ion-list {
  ion-list-header {
    position: relative;
    padding-inline-end: calc(var(--ion-safe-area-left, 0px) + 16px);
    font-weight: 400;
    font-size: 14px;
    color: #5F717D;

    a {
      float: right;
      font-weight: 400;
    }
  }

  ion-item {
    &::ng-deep {
      .item-inner {
        border-style: none;
      }
    }
  }
}

ion-row.service {
  ion-tab-button {
    img {
      width: 70px;
      height: 70px;
    }

    ion-label {
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      color: #21333F;
      padding-top: 30px;
    }
  }
}

ion-progress-bar {
  height: 10px;
  background: inherit;
  background-color: rgba(44, 158, 247, 1);
  border-radius: 5px;
}

ion-row {
  border-radius: 50px;

  ion-item {
    &.deposit {
      --background: #F7F9FC;
    }

    span {
      font-size: 14px;
      display: block;
      margin: 0;

      &.start {
        text-align: left;
        width: 120px;
      }

      &.end {
        text-align: right;
        width: 34px;
      }
    }

    ion-label {
      &.deposit_label {
        padding-top: 10px;
        padding-left: 48px;

        p {
          font-size: 14px;
          margin-bottom: 5px;
          margin-top: 28px;
        }
      }

      &.box_label {
        padding: 10px 20px;

        p {
          font-size: 14px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.deposit_label {
  height: 126px;
}

.checkout {
  width: 450px;
  height: 150px;
  background-color: #F4F7FF;
  display: block;
  cursor: pointer;

  h3 {
    vertical-align: middle;
    text-align: center;
    padding-top: 50px;
    color: #027CFF;
    font-weight: 400;
  }

  img {
    position: absolute;
    right: 40px;
    top: 58px;
  }
}

.statistics {
  .statistic {
    margin: 20px 0;

    h3 {
      margin: 0;
      text-align: center;
      font-weight: 500;
      font-size: 0;

      svg {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
      }

      span {
        display: inline-block;
        font-size: 40px;
        vertical-align: middle;
        margin-left: 8px;
      }
    }

    p {
      margin: 0;
      text-align: center;
      font-size: 14px;
      color: rgba(0, 0, 0, .4);
    }

    &:first-child {
      margin: 40px 0 20px 0;
    }

    .statistic-box {
      padding: 10px 10px 10px 90px;
      position: relative;
      margin: 8px 0;

      h3, p {
        text-align: left;
      }

      svg {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translate3d(0, -50%, 0);
      }
    }

    .statistics-content {
      margin: 8px;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px 0;
    }
  }
}

.monitor {
  text-align: center;

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.circles {
  width: 24px;
  height: 24px;

  img {
    display: block;
    width: 24px;
    height: 24px;
    animation: circle 0.5s infinite;
  }
}

ion-note {
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.circle-content {
  position: relative;

  .circle-ani {
    transform-origin: 50%;
    animation: 3s linear 0s infinite normal none running circle-ani;
  }
}


@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(-30deg);
  }
  30% {
    transform: rotate(-70deg);
  }
  40% {
    transform: rotate(-150deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes circle-ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
