<div id="container" class="container">
    <ion-grid *ngIf="data">
        <ion-row>
            <ion-col size="12">
                <mat-card style="background: rgba(246,247,249,1)">
                    <div class="company">
                        <div class="company_left"></div>
                        <div class="company_right"><p>{{company?.companyName}}</p></div>
                    </div>
                </mat-card>
            </ion-col>
            <ion-col size="6">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>企业情况
                        </mat-card-title>
                        <mat-card-subtitle>
                            <span>行业 <em>{{data?.busindustry.industryName ? data?.busindustry.industryName : '-'}}</em></span><i>｜</i>
                            <span>运作时长 <em>{{getCondValue(7)}}年</em></span><i>｜</i>
                            <span>企业体量 <em>{{getGroupValue(11).name}}</em></span>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6">
                                    <ion-list>
                                        <ion-item lines="none">
                                            <ion-thumbnail slot="start">
                                                <img src="/assets/images/dashboard/icon_brand.png"/>
                                            </ion-thumbnail>
                                            <ion-label>品牌布局</ion-label>
                                        </ion-item>
                                        <ion-item *ngFor="let item of brand" lines="none">
                                            <ion-thumbnail slot="start"></ion-thumbnail>
                                            <ion-label>
                                                <p>{{item.label}}</p>
                                                <ion-progress-bar [value]="item.score / 100"
                                                                  [color]="item.score / 100 | progress"></ion-progress-bar>
                                            </ion-label>
                                            <ion-thumbnail slot="end" class="end">
                                                <img [src]="'/assets/images/dashboard/icon_' + (item.score >= 81 ? 'good' : item.score >= 60 ? 'well' : 'strengthen') + '.svg'"/>
                                            </ion-thumbnail>
                                        </ion-item>
                                        <ion-item lines="none" style="margin-top: 13px;">
                                            <ion-thumbnail slot="start"></ion-thumbnail>
                                            <ion-button color="primary" style="width: 60%;"
                                                        [routerLink]="['/admin/company/qualification',company.id]">
                                                查看智能画像
                                            </ion-button>
                                        </ion-item>
                                    </ion-list>
                                </ion-col>
                                <ion-col size="6">
                                    <ion-list>
                                        <ion-item lines="none">
                                            <ion-thumbnail slot="start">
                                                <img src="/assets/images/dashboard/icon_ability.png"/>
                                            </ion-thumbnail>
                                            <ion-label>科创能力</ion-label>
                                        </ion-item>
                                        <ion-item *ngFor="let item of scientific" lines="none">
                                            <ion-thumbnail slot="start"></ion-thumbnail>
                                            <ion-label>
                                                <p>{{item.label}}</p>
                                                <ion-progress-bar [value]="item.score / 100"
                                                                  [color]="item.score / 100 | progress"></ion-progress-bar>
                                            </ion-label>
                                            <ion-thumbnail slot="end" class="end">
                                                <img [src]="'/assets/images/dashboard/icon_' + (item.score >= 81 ? 'good' : item.score >= 60 ? 'well' : 'strengthen') + '.svg'"/>
                                            </ion-thumbnail>
                                        </ion-item>
                                    </ion-list>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                    </mat-card-content>
                </mat-card>
            </ion-col>
            <ion-col size="6">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>政府项目智能培育
                            <span style="margin-left: 10px" matTooltip="根据企业资质匹配政策补贴金额" matTooltipPosition="after">
                                <img src="/assets/images/qualification.png"
                                     style="width: 20px;height: 20px; position:relative;top:3px;">
                            </span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col *ngIf="quick" size="6">
                                    <div id="c1" style="display: flex;justify-content: center;margin: 0 auto"></div>
                                    <!--<div echarts [options]="quick"
                                         class="main-chart subsidy-chart"
                                         style="height: 220px;"></div>-->
                                    <p style="text-align: center;margin-top: -40px;font-size:14px;font-weight:400;color:rgba(42,159,247,1);line-height:24px;">
                                        <em style="font-style: normal;font-weight:500;color:rgba(42,159,247,1);font-size:24px;line-height:30px;">{{quick.series[0]?.data[0].value}}</em>万元
                                    </p>
                                    <p style="text-align: center;font-size:12px;font-weight:400;color:rgba(95,113,125,1);line-height:17px;margin-top: -15px">
                                        快速培育可获得</p>
                                    <p style="text-align: center;font-size:14px;font-weight:400;color:#5F717D;line-height:20px;">
                                        可培育项目数<em
                                            style="font-style: normal;color: #21333F;font-size: 18px;font-weight: 500">{{quick.series[0]?.data[0].count}}</em>
                                    </p>
                                    <ion-item lines="none">
                                        <ion-thumbnail slot="start"></ion-thumbnail>
                                        <ion-button color="primary" style="width: 60%;"
                                                    [routerLink]="['/admin/policy/index']">查看匹配政策
                                        </ion-button>
                                    </ion-item>
                                </ion-col>
                                <ion-col *ngIf="keChuangBao" size="6">
                                    <!--<div echarts [options]="keChuangBao"
                                         class="main-chart subsidy-chart"
                                         style="height: 220px;"></div>-->
                                    <div id="c2" style="display: flex;justify-content: center;margin: 0 auto"></div>
                                    <p style="text-align: center;margin-top: -40px;font-size:14px;font-weight:400;color:rgba(42,159,247,1);line-height:24px;">
                                        <em style="font-style: normal;font-weight:500;color:rgba(42,159,247,1);font-size:24px;line-height:30px;">{{keChuangBao.series[0]?.data[0].value}}</em>万元
                                    </p>
                                    <p style="text-align: center;font-size:12px;font-weight:400;color:rgba(95,113,125,1);line-height:17px;margin-top: -15px">
                                        科创直通车(2年)可获得</p>
                                    <p style="text-align: center;font-size:14px;font-weight:400;color:#5F717D;line-height:20px;">
                                        可培育项目数<em
                                            style="font-style: normal;color: #21333F;font-size: 18px;font-weight: 500">{{keChuangBao.series[0]?.data[0].count}}</em>
                                    </p>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </mat-card-content>
                </mat-card>
            </ion-col>
            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>匹配政策
                            <span style="margin-left: 10px" matTooltip="由中科华海搜集全国范围内的企业相关政策" matTooltipPosition="after">
                                <img src="/assets/images/qualification.png"
                                     style="width: 20px;height: 20px; position:relative;top:3px;">
                            </span>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <span>华海政策库已收录 <em>2,000条</em></span><i>｜</i>
                            <span>最近30天更新政策 <em>500条</em></span>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>


                        <div class="hot">
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="3" *ngFor="let item of policy.list.slice(0,4);let i = index">
                                        <div class="hot_right" [routerLink]="['/admin/policy/item',item.id]"
                                             [ngStyle]="{'margin-right': i === 3 ? '0' : '22px'}">
                                            <div class="hot_img">
                                                <img src="/assets/images/dashboard/icon_hot.svg">
                                            </div>
                                            <p style="font-size:18px;font-weight:400;color:rgba(33,51,63,1);line-height:25px;margin-bottom:10px;margin-top: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                                                {{item.policyName}}</p>
                                            <p style="font-size:14px;font-weight:400;color:rgba(95,113,125,1);line-height:20px;">
                                                预计补贴金额<span
                                                    style="float: right"><em
                                                    style="font-style: normal;font-size:14px;font-weight:400;color:rgba(63,162,244,1);line-height:20px;">{{item.subsidyAmtEnd}}</em>万元</span>
                                            </p>
                                            <p style="font-size:14px;font-weight:400;color:rgba(95,113,125,1);line-height:20px;margin-top: 6px;">
                                                预计所需时间<span
                                                    style="float: right"><em
                                                    style="font-style: normal;font-size:14px;font-weight:400;color:rgba(63,162,244,1);line-height:20px;">{{item.reportTiming}}</em>个月</span>
                                            </p>
                                            <p style="font-size:14px;font-weight:400;color:rgba(95,113,125,1);line-height:20px;margin-top: 15px;">
                                                <span style="padding: 6px 15px;border-radius:4px;border:1px solid rgba(63,162,244,1);font-size:14px;font-weight:500;color:rgba(42,159,247,1);line-height:20px;">立即了解</span>
                                                <span style="float: right;margin-top: -5px;"><img
                                                        src="/assets/images/dashboard/icon_clock.png" height="20"
                                                        width="20" style="position: relative;top:5px;right:3px"/><em
                                                        style="font-weight:500;color:rgba(224,32,32,1);font-style: normal">{{getDate(item.reportDateEnd)}}</em>天</span>
                                            </p>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>

                    </mat-card-content>
                </mat-card>
            </ion-col>
            <ion-col *ngIf="ticket.dataSource?.data.length > 0" size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>企业工单</mat-card-title>
                        <mat-card-subtitle>
                            <ion-button color="primary"
                                        style="width: 114px;height: 32px !important;margin-top: -5px"
                                        [routerLink]="['/admin/ticket/list']">
                                查看全部工单
                            </ion-button>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-row>
                            <ion-col size="3.5">
                                <ion-list class="my_work">
                                    <ion-item lines="none">
                                        <ion-thumbnail slot="start">
                                            <img src="/assets/images/dashboard/order_statistic.png"/></ion-thumbnail>
                                        <ion-label>工单统计
                                            <img src="/assets/images/qualification.png"
                                                 style="width: 20px;height: 20px; position:relative;top:4px;"
                                                 matTooltip="用户工单概况统计" matTooltipPosition="after"></ion-label>
                                    </ion-item>
                                    <ion-item style="margin-top: 0" lines="none">
                                        <ion-thumbnail slot="start"></ion-thumbnail>
                                        <div class="work">
                                            <ion-item lines="none" style="margin-top: 8px;">
                                                <ion-thumbnail slot="start" style="margin:16px 10px 16px 16px">
                                                    <img src="/assets/images/dashboard/order_ing.png"/>
                                                </ion-thumbnail>
                                                <ion-label>进行中工单<span
                                                        style="float:right;font-size:32px;font-weight:bold;color:#2A9FF7;">{{ticket.ing}}</span>
                                                </ion-label>
                                            </ion-item>
                                        </div>
                                    </ion-item>

                                    <ion-item lines="none">
                                        <ion-thumbnail slot="start"></ion-thumbnail>
                                        <div class="work">
                                            <ion-item lines="none" style="margin-top: 8px;">
                                                <ion-thumbnail slot="start" style="margin:16px 10px 16px 16px">
                                                    <img src="/assets/images/dashboard/order_finish.png"/>
                                                </ion-thumbnail>
                                                <ion-label>已完成工单<em
                                                        style="color:#B5C4D0;font-size: 12px;font-style: normal">(近三月)</em>
                                                    <span style="float:right;font-size:32px;font-weight:bold;color:#2A9FF7;">{{ticket.end}}</span>
                                                </ion-label>
                                            </ion-item>
                                        </div>
                                    </ion-item>

                                    <ion-item [routerLink]="['/admin/ticket/list']" [queryParams]="{workStatus:'2'}"
                                              lines="none">
                                        <ion-thumbnail slot="start"></ion-thumbnail>
                                        <div class="work redbor">
                                            <ion-item lines="none" style="margin-top: 8px;">
                                                <ion-thumbnail slot="start" style="margin:16px 10px 16px 16px">
                                                    <img src="/assets/images/dashboard/order_err.png"/>
                                                </ion-thumbnail>
                                                <ion-label>异常工单<span
                                                        style="float:right;font-size:32px;font-weight:bold;color:rgba(224,32,32,1);">{{ticket.error}}</span>
                                                </ion-label>
                                            </ion-item>
                                        </div>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                            <ion-col size="8.5">
                                <ion-list class="my_work">
                                    <ion-item lines="none">
                                        <ion-thumbnail slot="start">
                                            <img src="/assets/images/dashboard/order_status.png"/></ion-thumbnail>
                                        <ion-label>工单最新状态
                                            <img src="/assets/images/qualification.png"
                                                 style="width: 20px;height: 20px; position:relative;top:4px;"
                                                 matTooltip="用户工单概况统计" matTooltipPosition="after"></ion-label>
                                    </ion-item>
                                    <ion-row>
                                        <ion-col size="1"></ion-col>
                                        <ion-col size="11" style="margin: 6px 0 0 -15px">
                                            <table *ngIf="ticket.dataSource" mat-table [dataSource]="ticket.dataSource"
                                                   style="border: 1px solid #dce5ec;border-radius:3px;display: block;">

                                                <!-- Position Column -->
                                                <ng-container matColumnDef="content">
                                                    <th mat-header-cell *matHeaderCellDef
                                                        style="color:#21333F;padding-left: 22px !important;width: 240px;height: 54px;background:none !important;border-bottom-color: none !important;text-align: left !important;border-right: none !important;border-bottom-width: 0;">
                                                        <b>工单内容</b>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"
                                                        title="{{element.serviceName}}"
                                                        style="color:#5F717D;padding-left:22px !important;text-align: left !important;border-bottom-width: 0 !important; ">
                                                        <img src="/assets/images/dashboard/icon_star.png" height="13"
                                                             width="13"
                                                             style="margin-right: 3px;top: 2px;position: relative;"/>
                                                        {{element.serviceName.slice(0, 12)}}{{element.serviceName.length > 12 ? '...' : ''}}
                                                    </td>
                                                </ng-container>

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="status">
                                                    <th mat-header-cell *matHeaderCellDef
                                                        style="color:#21333F;padding-left: 22px !important;width: 120px;background:none !important;border-bottom-color: 0 !important;text-align: left !important;border-right: none !important;border-bottom-width: 0;">
                                                        <b>流程节点</b></th>
                                                    <td mat-cell *matCellDef="let element"
                                                        style="color:#5F717D;padding-left:22px !important; text-align:left !important;border-bottom-width:0 !important;height: 50px">
                                                        {{element.workSatusName}}
                                                    </td>
                                                </ng-container>

                                                <!-- Weight Column -->
                                                <ng-container matColumnDef="progress">
                                                    <th mat-header-cell *matHeaderCellDef
                                                        style="color:#21333F;padding-left: 22px !important;width: 245px;background:none !important;border-bottom-color: 0 !important;text-align: left !important;border-right: none !important;border-bottom-width: 0;">
                                                        <b>进度</b></th>
                                                    <td mat-cell *matCellDef="let element"
                                                        style="padding-left:22px !important;border-bottom-width: 0 !important;height: 50px">
                                                        <div style="display: flex;align-items: center;padding: 0">
                                                            <ion-progress-bar [value]="element.workSatusRate / 100"
                                                                              [color]="element.workSatusRate / 100 | progress"
                                                                              style="height: 5px"></ion-progress-bar>
                                                            <span style="margin-left: 10px;width: 50px;color: #B5C4D0;font-size: 10px;">{{element.workSatusRate}}
                                                                %</span>
                                                        </div>
                                                    </td>
                                                </ng-container>

                                                <!-- Symbol Column -->
                                                <ng-container matColumnDef="actions">
                                                    <th mat-header-cell *matHeaderCellDef
                                                        style="color:#21333F;width: 120px;background:none !important;border-bottom-color: 0 !important;border-right: none !important;border-bottom-width: 0;">
                                                        <b>操作</b>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"
                                                        style="border-bottom-width:0 !important;height: 50px;">
                                                        <a class="actions-icon"
                                                           [routerLink]="['/admin/ticket/item',element.id]" title="查看">
                                                            <img src="/assets/images/view.png">
                                                        </a>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="ticket.displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: ticket.displayedColumns;">
                                                </tr>
                                            </table>
                                        </ion-col>
                                    </ion-row>
                                </ion-list>
                            </ion-col>
                        </ion-row>

                    </mat-card-content>
                </mat-card>
            </ion-col>
            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>知识产权概况
                            <span style="margin-left: 10px" matTooltip="知识产权概况" matTooltipPosition="after">
                                <img src="/assets/images/qualification.png"
                                     style="width: 20px;height: 20px; position:relative;top:3px;"></span>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <ion-button color="primary"
                                        style="width: 146px;height: 32px !important;margin-top: -5px"
                                        [routerLink]="['/admin/checkout']">
                                商标自助智能注册
                            </ion-button>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-row>
                            <ion-col size="4">
                                <!--<app-empty
                                        *ngIf="(copyOption.count > 0 || patentOption.count > 0 || brandOption.count > 0) && brandOption.count === 0"
                                        title="暂时没有相关数据"></app-empty>-->
                                <ion-list class="property">
                                    <ion-list-header style="padding: 0 20px;line-height: 70px;">
                                        商标<span style="float: right">{{brandOption.count}}</span>
                                    </ion-list-header>
                                    <ion-item lines="none">
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="6">
                                                    <div *ngIf="brandOption.line" echarts [options]="brandOption.line"
                                                         style="width: 200px;height: 300px" class="main-chart"></div>
                                                </ion-col>
                                                <ion-col size="6">
                                                    <div *ngIf="brandOption.pie" echarts [options]="brandOption.pie"
                                                         style="width: 200px;height: 300px" class="main-chart"></div>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </ion-item>
                                </ion-list>

                            </ion-col>
                            <ion-col size="4">

                                <!--<app-empty
                                        *ngIf="(copyOption.count > 0 || patentOption.count > 0 || brandOption.count > 0) && patentOption.count === 0"
                                        title="暂时没有相关数据"></app-empty>-->
                                <ion-list class="property">
                                    <ion-list-header style="padding: 0 20px;line-height: 70px;">
                                        专利<span style="float: right">{{patentOption.count}}</span>
                                    </ion-list-header>
                                    <ion-item lines="none">
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="6">
                                                    <div *ngIf="patentOption.line" echarts [options]="patentOption.line"
                                                         style="width: 200px;height: 300px" class="main-chart"></div>
                                                </ion-col>
                                                <ion-col size="6">
                                                    <div *ngIf="patentOption.pie" echarts [options]="patentOption.pie"
                                                         style="width: 200px;height: 300px" class="main-chart"></div>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                            <ion-col size="4">
                                <!--<app-empty
                                        *ngIf="(copyOption.count > 0 || patentOption.count > 0 || brandOption.count > 0) && copyOption.count === 0"
                                        title="暂时没有相关数据"></app-empty>-->
                                <ion-list class="property" style="margin-right: 0">
                                    <ion-list-header style="padding: 0 20px;line-height: 70px;">
                                        版权<span style="float: right">{{copyOption.count}}</span>
                                    </ion-list-header>
                                    <ion-item lines="none">
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="6">
                                                    <div *ngIf="copyOption.line" echarts [options]="copyOption.line"
                                                         style="width: 200px;height: 300px" class="main-chart"></div>
                                                </ion-col>
                                                <ion-col size="6">
                                                    <div *ngIf="copyOption.pie" echarts [options]="copyOption.pie"
                                                         style="width: 200px;height: 300px;z-index:1"
                                                         class="main-chart"></div>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                        </ion-row>
                    </mat-card-content>
                </mat-card>
            </ion-col>
            <!--<ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>企业雷达监控
                            <span style="margin-left: 10px" matTooltip="通过智能系统监控企业变化" matTooltipPosition="after">
                                <img src="/assets/images/qualification.png" style="width: 20px;height: 20px;">
                            </span>
                        </mat-card-title>
                        <mat-card-subtitle class="link">
                            <img routerLink="/admin/monitor/list" src="/assets/images/dashboard/setting.png">
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <app-empty *ngIf="monitorDataSource?.data.length < 1" title="暂时没有相关数据"></app-empty>
                        <table *ngIf="monitorDataSource?.data.length > 0" mat-table [dataSource]="monitorDataSource">

                            &lt;!&ndash; Name Column &ndash;&gt;
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef><b>目标企业</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.companyName}}
                                </td>
                            </ng-container>

                            &lt;!&ndash; Weight Column &ndash;&gt;
                            <ng-container matColumnDef="time">
                                <th mat-header-cell *matHeaderCellDef style="width: 200px"><b>添加时间</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}
                                </td>
                            </ng-container>

                            &lt;!&ndash; Symbol Column &ndash;&gt;
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef style="width: 250px"><b>状态</b></th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="monitor">
                                        <span style="margin-right: 10px;">监控中</span>
                                        <span class="circles">
                                            <img src="/assets/images/circle.png">
                                        </span>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="monitorDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: monitorDisplayedColumns;"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </ion-col>-->
        </ion-row>
    </ion-grid>
</div>
