<mat-card class="profile">
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <img src="/assets/images/avatar.jpg">
    </div>
    <mat-card-title>彭琛岚</mat-card-title>
    <mat-card-subtitle>前端开发工程师 <span>高级</span></mat-card-subtitle>
  </mat-card-header>
  <mat-card-footer class="page-extra">
    <div>
      <p>项目数</p>
      <p>2</p>
    </div>
    <div>
      <p>团队成员</p>
      <p> 4 </p>
    </div>
    <div>
      <p>上月考勤</p>
      <p> 20 <span>/ 24</span></p>
    </div>
  </mat-card-footer>
</mat-card>

<div class="content">
  <div class="content-left">
    <mat-card>
      <mat-card-header>
        <mat-card-title>我的项目</mat-card-title>
        <mat-card-subtitle>更多</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ion-list>
          <ion-list-header>
            进行中
          </ion-list-header>

          <ion-item>
            <ion-label>
              <h2>南航外包管理平台</h2>
              <h3>62% 完成</h3>
              <p>负责人：彭琛岚，团队成员：彭琛岚、卢立江</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>
            已完成
          </ion-list-header>

          <ion-item>
            <ion-label>
              <h2>广州品诺企业网站</h2>
              <h3>100% 完成</h3>
              <p>负责人：彭琛岚，团队成员：彭琛岚、卢立江</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <h2>场所治安管理平台</h2>
              <h3>100% 完成</h3>
              <p>负责人：彭琛岚，团队成员：彭琛岚、卢立江、汤准生、唐相杰</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="content-right">
    <mat-card>
      <mat-card-header>
        <mat-card-title>我的待办事项</mat-card-title>
        <mat-card-subtitle>更多</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ion-list>
          <ion-item detail>
            <ion-label>
              <h2>签到</h2>
              <p>签到状态：未签到</p>
            </ion-label>
            <ion-note>补签<p style="margin: 0">2019-11-07</p></ion-note>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <h2>工时</h2>
              <p>今日工时：未提交</p>
            </ion-label>
            <ion-note>补签<p style="margin: 0">2019-11-07</p></ion-note>
          </ion-item>
        </ion-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
