.container {
  background: #EFF2F9;
}

ion-grid {
  --ion-grid-padding: 0;

  ion-col {
    --ion-grid-column-padding: 0;
  }
}

mat-card {
  margin: 10px;

  mat-card-header {

    mat-card-title {
      font-size: 14px;
      font-weight: bold;
    }

    mat-card-subtitle {
      top: 16px;
      right: 16px;
      position: absolute;
      margin: 0;
    }

    &::ng-deep {
      .mat-card-header-text {
        margin: 0;
      }
    }
  }
}

circle-progress {
  display: block;
  margin: 16px auto 0 !important;
  text-align: center;
}

mat-card {
  &.auto-height {
    height: calc(100% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    /*a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      font-size: 12px;
    }*/
  }

  mat-card-content {
    height: calc(100% - 32px);
  }
}

ion-list {
  ion-list-header {
    position: relative;
    background: #F7F9FC;
    padding-inline-end: calc(var(--ion-safe-area-left, 0px) + 16px);
    font-weight: 600;
    font-size: 12px;

    a {
      float: right;
      font-weight: 400;
    }
  }
}

ion-row {
  border-radius: 50px;

  ion-item {
    &.deposit {
      --background: #F7F9FC;
    }

    ion-label {
      &.deposit_label {
        padding-top: 10px;
        padding-left: 48px;

        p {
          font-size: 14px;
          margin-bottom: 5px;
          margin-top: 28px;
        }
      }

      &.box_label {
        padding: 10px 20px;

        p {
          font-size: 14px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.deposit_label {
  height: 126px;
}

.checkout{
  width: 450px;
  height: 150px;
  background-color: #F4F7FF;
  display: block;
  cursor: pointer;
  h3{
    vertical-align: middle;
    text-align: center;
    padding-top: 50px;
    color: #027CFF;
    font-weight: 400;
  }
  img{
    position: absolute;
    right: 40px;
    top: 58px;
  }
}

.statistics {
  .statistic {
    margin: 20px 0;

    h3 {
      margin: 0;
      text-align: center;
      font-weight: 500;
      font-size: 0;

      svg {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
      }

      span {
        display: inline-block;
        font-size: 40px;
        vertical-align: middle;
        margin-left: 8px;
      }
    }

    p {
      margin: 0;
      text-align: center;
      font-size: 14px;
      color: rgba(0, 0, 0, .4);
    }

    &:first-child {
      margin: 40px 0 20px 0;
    }

    .statistic-box {
      padding: 10px 10px 10px 90px;
      position: relative;
      margin: 8px 0;

      h3, p {
        text-align: left;
      }

      svg {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translate3d(0, -50%, 0);
      }
    }

    .statistics-content {
      margin: 8px;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px 0;
    }
  }
}

.circles {
  width: 24px;
  height: 24px;

  img {
    display: block;
    width: 24px;
    height: 24px;
    animation: circle 0.5s infinite;
  }
}

ion-note {
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.circle-content {
  position: relative;

  .circle-ani {
    transform-origin: 50%;
    animation: 3s linear 0s infinite normal none running circle-ani;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(-30deg);
  }
  30% {
    transform: rotate(-70deg);
  }
  40% {
    transform: rotate(-150deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes circle-ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}


