.container{
  background: #EFF2F9;
}
ion-grid {
  --ion-grid-padding: 0;

  ion-col {
    --ion-grid-column-padding: 0;
  }
}

mat-card {
  margin: 10px;

  mat-card-header {

    mat-card-title {
      font-size: 14px;
      font-weight: bold;
    }

    mat-card-subtitle {
      top: 16px;
      right: 16px;
      position: absolute;
      margin: 0;
    }

    &::ng-deep {
      .mat-card-header-text {
        margin: 0;
      }
    }
  }
}

circle-progress {
  display: block;
  margin: 16px auto 0 !important;
  text-align: center;
}

mat-card {
  &.auto-height {
    height: calc(100% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    /*a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      font-size: 12px;
    }*/
  }

  mat-card-content {
    height: calc(100% - 32px);
  }
}

ion-list {
  ion-list-header {
    position: relative;
    background: #F7F9FC;
    padding-inline-end: calc(var(--ion-safe-area-left, 0px) + 16px);
    font-weight:600;
    font-size: 12px;
    a {
      float: right;
      font-weight: 400;
    }
  }
}

ion-row {
  border-radius: 50px;
  ion-item {
    &.deposit {
      --background: #F7F9FC;
    }

    ion-label {
      &.deposit_label{
        padding-top: 10px;
        padding-left: 48px;
        p {
          font-size: 14px;
          margin-bottom: 5px;
          margin-top: 28px;
        }
      }
      &.box_label{
        padding: 10px 20px;
        p{
          font-size: 14px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

.deposit_label{
  height: 126px;
}
.checkout{
  width: 450px;
  height: 150px;
  background-color: #F4F7FF;
  margin: 50px auto;
  display: block;
  cursor: pointer;
  h3{
    vertical-align: middle;
    text-align: center;
    padding-top: 55px;
    color: #027CFF;
    font-weight: 400;
  }
  img{
    position: absolute;
    right: 40px;
    top: 50px;
  }
}
