.container {
  background: rgba(246, 247, 249, 1);
  padding: 0;
}

mat-card {

  &:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
}

ion-col.search-label {
  line-height: 40px;
  text-align: left;
  font-size: 14px;
  color: #5F717D;

  &.hot {
    color: #FD5451;
  }
}

ion-col.search-label_r {
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #5F717D;
  width: 40px !important;
}

.search-div {
  & > span, mat-form-field {
    display: inline-block;
  }

  span {
    margin: 0 10px;
    color: #5F717D;
  }

  mat-form-field {
    width: 140px;
    margin: 0 10px;
  }
}

.search-labels {
  .search-label {
    line-height: 40px;
    text-align: left;
    font-size: 14px;
    color: #5F717D;
    display: inline-block;
    margin: 0 10px;

    &.hot {
      color: #FD5451;
    }
  }
}

table {
  &::ng-deep {
    tbody {
      tr{
        td.mat-column-name {
          &:hover{
            color: #2C9EF7 !important;
          }
        }
      }
    }
  }
}


