<div class="container">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <mat-card>
                    <mat-card-content>
                        <form [formGroup]="form">
                            <mat-form-field appearance="outline" style="width: 50%">
                                <mat-label>请输入您需要搜索的政策项目名称</mat-label>
                                <input type="text" formControlName="word" placeholder="请输入您需要搜索的政策项目名称" matInput
                                       autocomplete="off">
                                <mat-icon (click)="search()" matSuffix>search</mat-icon>
                            </mat-form-field>

                            <div class="search-labels" style="margin-top: -20px">
                                <span size="1" class="search-label" style="color: #2C9EF7">热门搜索</span>
                                <span (click)="setWord('疫情政策')" size="1" class="search-label hot">疫情政策</span>
                                <span (click)="setWord('国高认定')" size="1" class="search-label hot">国高认定</span>
                                <span (click)="setWord('重大项目')" size="1" class="search-label hot">重大项目</span>
                                <span (click)="setWord('股权资助')" size="1" class="search-label hot">股权资助</span>
                                <span (click)="setWord('事前资助')" size="1" class="search-label">事前资助</span>
                                <span (click)="setWord('科技奖励')" size="1" class="search-label">科技奖励</span>
                                <span (click)="setWord('节能减排')" size="1" class="search-label">节能减排</span>
                            </div>
                            <div class="search-div">
                                <span class="label">适用区域</span>
                                <mat-form-field appearance="outline">
                                    <mat-select formControlName="province" placeholder="省" required>
                                        <mat-option *ngFor="let item of provinces" [value]="item.name">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-select formControlName="city" placeholder="市" required>
                                        <mat-option *ngFor="let item of cities" [value]="item.name">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-select formControlName="area" placeholder="区" required>
                                        <mat-option *ngFor="let item of districts" [value]="item.name">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span>申报时间</span>
                                <mat-form-field appearance="outline">
                                    <sat-datepicker-toggle [for]="time" matSuffix></sat-datepicker-toggle>
                                    <form [formGroup]="form">
                                        <input matInput placeholder="选择日期" (dateChange)="timeChange($event)"
                                               [satDatepicker]="time" readonly>
                                    </form>
                                    <sat-datepicker #time [rangeMode]="true"></sat-datepicker>
                                </mat-form-field>
                            </div>


                            <div class="search-div">
                                <span class="label">补贴金额范围(万元)</span>
                                <mat-form-field appearance="outline">
                                    <input name="subsidyAmtBegin" formControlName="subsidyAmtBegin"
                                           placeholder="金额下限" matInput>
                                </mat-form-field>
                                <span class="label">至</span>
                                <mat-form-field appearance="outline">
                                    <input name="subsidyAmtEnd" formControlName="subsidyAmtEnd"
                                           placeholder="金额上限" matInput>
                                </mat-form-field>
                                <span class="label">政策适用程度(%)</span>
                                <mat-form-field appearance="outline">
                                    <input name="weightBegin" formControlName="weightBegin"
                                           placeholder="程度下限" matInput>
                                </mat-form-field>
                                <span class="label">至</span>
                                <mat-form-field appearance="outline">
                                    <input name="weightEnd" formControlName="weightEnd"
                                           placeholder="程度上限" matInput>
                                </mat-form-field>
                            </div>
                        </form>
                        <table mat-table [dataSource]="dataSource">

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef><b>政策名称</b></th>
                                <td mat-cell *matCellDef="let element" style="text-align: left !important;text-indent: 20px">
                                    {{element.policyName}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="area">
                                <th mat-header-cell *matHeaderCellDef><b>适用区域</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.province ? element.province : '全国'}}
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="money">
                                <th mat-header-cell *matHeaderCellDef style="width: 142px"><b>最高补贴金额（万元）</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.subsidyAmtEnd}}
                                </td>
                                <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>

                            <ng-container matColumnDef="rate">
                                <th mat-header-cell *matHeaderCellDef><b>政策适用程度</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.weight}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="scope">
                                <th mat-header-cell *matHeaderCellDef><b>申报时间范围</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.reportDateBegin | date : 'yyyy-MM-dd'}}
                                    至{{element.reportDateEnd | date : 'yyyy-MM-dd'}}
                                </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="time">
                                <th mat-header-cell *matHeaderCellDef style="width: 90px"><b>申报所需时长</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.reportTiming}}个月
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef><b>操作</b></th>
                                <td mat-cell *matCellDef="let element"
                                    style="height: 50px">
                                    <a class="actions-icon"
                                       [routerLink]="['/admin/policy/item',element.id]" title="查看">
                                        <img src="/assets/images/view.png">
                                    </a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>

                        </table>
                        <mat-paginator [pageIndex]="params.page - 1" [pageSize]="params.rows" [length]="total"
                                       (page)="page($event)"
                                       [pageSizeOptions]="[10,20,50]" showFirstLastButtons>123
                        </mat-paginator>
                    </mat-card-content>
                </mat-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
