<mat-card class="profile">
    <div class="position">
        <a routerLink="/admin/dashboard" class="link">
            <mat-icon slot="start">home</mat-icon>
            首页</a>
        <span class="divider">></span>
        <span>我的主体</span>
    </div>
    <mat-card-header>
        <mat-card-title>我的主体</mat-card-title>
    </mat-card-header>
</mat-card>
<div class="container">
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <mat-form-field class="example-full-width" style="width: 100%">
                    <mat-label>搜索公司主体</mat-label>
                    <input [(ngModel)]="params.companyName" type="text" matInput autocomplete="off">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </ion-col>
            <ion-col size="6">
                <div class="row-buttons" style="text-align: right">
                    <button [routerLink]="['/admin/company/item',0]" mat-raised-button matSuffix style="background: #027CFF;color: #fff">
                        <mat-icon matPrefix>add</mat-icon>
                        添加
                    </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef style="width: 50px">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> 名称</th>
            <td mat-cell *matCellDef="let element"><a [routerLink]="['/admin/company/item',element.id]" class="link"
                                                      href="javascript:;">{{element.companyName}}</a></td>
        </ng-container>

        <!-- contract Column -->
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> 机构代码</th>
            <td mat-cell *matCellDef="let element">{{element.creditNumber}}</td>
        </ng-container>

        <!-- department Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> 创建日期</th>
            <td mat-cell *matCellDef="let element">{{element.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
        </ng-container>

        <!-- suppliers Column -->
        <ng-container matColumnDef="default">
            <th mat-header-cell *matHeaderCellDef style="width: 150px"> 设为默认</th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle (click)="default(element.id)"
                                  [checked]="!!element.isPrimary"></mat-slide-toggle>
            </td>
        </ng-container>

        <!-- suppliers Column -->
        <ng-container matColumnDef="current">
            <th mat-header-cell *matHeaderCellDef style="width: 150px"> 当前主体</th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle (click)="change(element)" [checked]="element.id === company.id"></mat-slide-toggle>
            </td>
        </ng-container>

        <!-- suppliers Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> 操作</th>
            <td mat-cell *matCellDef="let element">
                <ion-button (click)="$event.stopPropagation()"
                            [routerLink]="['/admin/company/qualification',element.id]" size="small" color="primary">
                    <ion-icon slot="start" name="add"></ion-icon>
                    生成报告
                </ion-button>
                <ion-button (click)="$event.stopPropagation()"
                            [routerLink]="['/admin/plan/list']" [queryParams]="{company:element.id}" size="small"
                            color="primary">
                    <ion-icon slot="start" name="stats"></ion-icon>
                    查看报告
                </ion-button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
    </table>
    <mat-paginator [pageIndex]="params.page - 1" [pageSize]="params.rows" [length]="total" (page)="page($event)" [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
</div>
