<mat-card class="profile">
    <div class="position">
        <a routerLink="/admin/dashboard" class="link">
            <mat-icon slot="start">home</mat-icon>
            首页</a>
        <span>我的主体</span>
    </div>
    <mat-card-header>
        <mat-card-title>我的主体</mat-card-title>
    </mat-card-header>
</mat-card>
<div class="container">
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>搜索企业主体</mat-label>
                    <input [(ngModel)]="params.companyName" type="text" placeholder="搜索企业主体" matInput
                           autocomplete="off">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </ion-col>
            <ion-col size="6">
                <div class="row-buttons" style="text-align: right;margin: 0">
                    <ion-button color="primary" [routerLink]="['/admin/company/create/step1']">新增企业主体</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <table *ngIf="dataSource" mat-table [dataSource]="dataSource">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef style="width: 50px">
                <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>目标企业</th>
            <td mat-cell *matCellDef="let element" style="text-align: left!important;text-indent: 20px">
                <a [routerLink]="['/admin/company/item',element.id]"
                   class="link"
                   href="javascript:;"
                   style="text-decoration: underline;color: #2C9EF7;">
                    {{element.companyName}}
                </a></td>
        </ng-container>

        <!-- contract Column -->
        <!--<ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> 机构代码</th>
            <td mat-cell *matCellDef="let element">{{element.creditNumber}}</td>
        </ng-container>-->

        <!-- department Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>添加时间</th>
            <td mat-cell *matCellDef="let element">{{element.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
        </ng-container>

        <!-- suppliers Column -->
        <ng-container matColumnDef="default">
            <th mat-header-cell *matHeaderCellDef style="width: 150px">默认主体</th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle color="primary" (click)="default(element.id)"
                                  [checked]="!!element.isPrimary"></mat-slide-toggle>
            </td>
        </ng-container>

        <!-- suppliers Column -->
        <ng-container matColumnDef="current">
            <th mat-header-cell *matHeaderCellDef style="width: 150px">当前主体</th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle color="primary" (click)="change(element)"
                                  [checked]="element.id === company.id"></mat-slide-toggle>
            </td>
        </ng-container>

        <!-- suppliers Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> 操作</th>
            <td mat-cell *matCellDef="let element">
                <ion-button (click)="$event.stopPropagation()"
                            [routerLink]="['/admin/company/item',element.id]"
                            color="primary">
                    修改信息
                </ion-button>
                <ion-button (click)="$event.stopPropagation()"
                            [routerLink]="['/admin/company/qualification',element.id]"
                            color="primary">
                    智能画像
                </ion-button>
                <ion-button color="primary"
                            [routerLink]="['/admin/plan/item']" [queryParams]="{id:element.id}"
                            (click)="$event.stopPropagation()">
                    体检报告
                </ion-button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
    </table>
    <mat-paginator [pageIndex]="params.page - 1" [pageSize]="params.rows" [length]="total" (page)="page($event)"
                   [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
</div>
