<div class="container">
    <mat-card>
        <mat-card-content>
            <mat-horizontal-stepper [selectedIndex]="2" labelPosition="bottom" linear>
                <mat-step disabled>
                    <ng-template matStepLabel>确认主体信息</ng-template>
                </mat-step>
                <mat-step disabled>
                    <ng-template matStepLabel>填写经营及重要信息</ng-template>
                </mat-step>
                <mat-step [stepControl]="form">
                    <ng-template matStepLabel>填写政策匹配信息</ng-template>
                    <form *ngIf="form" class="{{reportType === 1 ? 'form-s' : 'form-c'}}" [formGroup]="form" novalidate>
                        <ion-grid>
                            <ion-row>
                                <ion-col *ngIf="reportType === 2" size="12">
                                    <h3>必填资质（{{required.valueNum}} / {{required.num}}）</h3>
                                </ion-col>
                                <ion-col class="{{(i + 1) % 3 !== 0 ? 'form-field' : ''}}" *ngFor="let condition of required.list;let i = index" [size]="reportType === 1 ? 12 : 4">
                                    <mat-form-field class="nl"
                                                    *ngIf="condition.fieldType === '0001' && ((reportType === 1 && !!condition.required) || reportType === 2)"
                                                    appearance="outline">
                                        <label><em *ngIf="!!condition.required">*</em>{{condition.conditionName}}<i [matTooltip]="condition.conditionRemark" (click)="remark(condition.conditionRemark,$event)" *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i></label>
                                        <input style="display: none" [formControlName]="condition.conditionId" matInput
                                               [required]="!!condition.required">
                                        <mat-radio-group [formControlName]="condition.conditionId">
                                            <mat-radio-button [value]="true">是</mat-radio-button>
                                            <mat-radio-button [value]="false">否</mat-radio-button>
                                        </mat-radio-group>
                                    </mat-form-field>
                                    <mat-form-field
                                            *ngIf="condition.fieldType === '0002' && dict[condition.conditionId] && ((reportType === 1 && !!condition.required) || reportType === 2)"
                                            appearance="outline">
                                        <label><em *ngIf="!!condition.required">*</em>{{condition.conditionName}}<i [matTooltip]="condition.conditionRemark" (click)="remark(condition.conditionRemark,$event)" *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i></label>
                                        <input *ngIf="dict[condition.conditionId]?.length < 1" [placeholder]="'请输入' + condition.conditionName" [formControlName]="condition.conditionId"
                                               matInput
                                               pattern="(^([-]?)[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^([-]?)(0){1}$)|(^([-]?)[0-9]\.[0-9]([0-9])?$)"
                                               [maxlength]="12" [required]="!!condition.required">
                                        <mat-select *ngIf="dict[condition.conditionId]?.length > 0"
                                                    [formControlName]="condition.conditionId" [placeholder]="'请选择'"
                                                    [required]="!!condition.required">
                                            <mat-option *ngFor="let item of dict[condition.conditionId]" [value]="item.dictValue">
                                                {{item.dictName}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                                *ngIf="form.get(condition.conditionId + '').hasError('pattern') && !form.get(condition.conditionId + '').hasError('required')">
                                            {{condition.conditionName}}必须是 <strong>数字</strong>
                                        </mat-error>
                                        <mat-error
                                                *ngIf="form.get(condition.conditionId + '').hasError('maxlength') && !form.get(condition.conditionId + '').hasError('required')">
                                            {{condition.conditionName}}的长度不能大于 <strong>12</strong>
                                        </mat-error>
                                        <mat-error *ngIf="form.get(condition.conditionId + '').hasError('required')">
                                            {{condition.conditionName}}是 <strong>必填</strong> 项
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field
                                            *ngIf="condition.fieldType === '0003' && ((reportType === 1 && !!condition.required) || reportType === 2)"
                                            appearance="outline">
                                        <label><em *ngIf="!!condition.required">*</em>{{condition.conditionName}}<i [matTooltip]="condition.conditionRemark" (click)="remark(condition.conditionRemark,$event)" *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i></label>
                                        <input [formControlName]="condition.conditionId" matInput placeholder="请选择" [matDatepicker]="picker"
                                               [required]="!!condition.required">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-grid *ngIf="reportType === 2">
                            <ion-row>
                                <ion-col size="12">
                                    <h3>选填资质（{{optional.valueNum}} / {{optional.num}}）</h3>
                                </ion-col>
                                <ng-container *ngFor="let item of optional.list;let i = index">
                                    <ion-col [size]="12">
                                        <span class="value">{{item._name}}</span>
                                    </ion-col>
                                    <ion-col class="{{(i + 1) % 3 !== 0 ? 'form-field' : ''}}" *ngFor="let condition of item.list;let i = index" [size]="4">
                                        <mat-form-field class="nl"
                                                        *ngIf="condition.fieldType === '0001'"
                                                        appearance="outline">
                                            <label><em *ngIf="!!condition.required">*</em>{{condition.conditionName}}<i [matTooltip]="condition.conditionRemark" (click)="remark(condition.conditionRemark,$event)" *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i></label>
                                            <input style="display: none" [formControlName]="condition.conditionId" matInput>
                                            <mat-radio-group [formControlName]="condition.conditionId">
                                                <mat-radio-button [value]="true">是</mat-radio-button>
                                                <mat-radio-button [value]="false">否</mat-radio-button>
                                            </mat-radio-group>
                                        </mat-form-field>
                                        <mat-form-field
                                                *ngIf="condition.fieldType === '0002'"
                                                appearance="outline">
                                            <label><em *ngIf="!!condition.required">*</em>{{condition.conditionName}}<i [matTooltip]="condition.conditionRemark" (click)="remark(condition.conditionRemark,$event)" *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i></label>
                                            <input *ngIf="dict[condition.conditionId]?.length < 1" [placeholder]="'请输入' + condition.conditionName" [formControlName]="condition.conditionId"
                                                   matInput
                                                   pattern="(^([-]?)[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^([-]?)(0){1}$)|(^([-]?)[0-9]\.[0-9]([0-9])?$)"
                                                   [maxlength]="12" [required]="!!condition.required">
                                            <mat-select *ngIf="dict[condition.conditionId]?.length > 0"
                                                        [formControlName]="condition.conditionId" [placeholder]="'请选择'"
                                                        [required]="!!condition.required">
                                                <mat-option *ngFor="let item of dict[condition.conditionId]" [value]="item.dictValue">
                                                    {{item.dictName}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                    *ngIf="form.get(condition.conditionId + '').hasError('pattern') && !form.get(condition.conditionId + '').hasError('required')">
                                                {{condition.conditionName}}必须是 <strong>数字</strong>
                                            </mat-error>
                                            <mat-error
                                                    *ngIf="form.get(condition.conditionId + '').hasError('maxlength') && !form.get(condition.conditionId + '').hasError('required')">
                                                {{condition.conditionName}}的长度不能大于 <strong>12</strong>
                                            </mat-error>
                                            <mat-error *ngIf="form.get(condition.conditionId + '').hasError('required')">
                                                {{condition.conditionName}}是 <strong>必填</strong> 项
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field
                                                *ngIf="condition.fieldType === '0003'"
                                                appearance="outline">
                                            <label><em *ngIf="!!condition.required">*</em>{{condition.conditionName}}<i [matTooltip]="condition.conditionRemark" (click)="remark(condition.conditionRemark,$event)" *ngIf="condition.conditionRemark"><img src="/assets/images/remark.png"></i></label>
                                            <input [formControlName]="condition.conditionId" placeholder="请选择" matInput [matDatepicker]="picker"
                                                   [required]="!!condition.required">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </ion-col>
                                </ng-container>
                            </ion-row>
                        </ion-grid>
                        <!--<div class="row-buttons">
                            <button [disabled]="form.invalid" (click)="submit(reportType === 2)" mat-raised-button color="primary">
                                生成报告
                            </button>
                        </div>-->
                    </form>
                    <div class="form_bottom">
                        <button (click)="submit()" mat-raised-button color="primary">完成</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>
