<div class="container {{data?.type === 0 ? 's' : 'c'}}">
    <ion-grid *ngIf="data">
        <ion-row>
            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>情况概述</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="condition" style="display: flex;flex-direction: row">
                            <div style="border-right: 1px solid #ccc;width: 20%">
                                <label>知识产权</label>
                                <div *ngIf="option.pie" echarts [options]="option.pie"
                                     style="width: 200px;height: 250px" class="main-chart"></div>
                            </div>
                            <div style="margin:0 40px;border-right: 1px solid #ccc;width: 50%">
                                <label>人员结构</label>
                                <div echarts [options]="option.line" class="main-chart"
                                     style="width: 500px;height: 250px;margin: 0 auto"></div>
                            </div>
                            <div style="width: 30%">
                                <label>政策补贴</label>
                                <div class="policy">
                                    <div class="policy_small">
                                        <div style="float: left">
                                            <img src="/assets/images/dashboard/check.png"
                                                 style="width: 60px;height: 60px;display: block;margin: 20px">
                                        </div>
                                        <div style="float: left">
                                            <p style="font-size: 32px;color: #fff;margin: 20px 5px">{{data.subsidyAmount}}</p>
                                            <p style="color: #fff;margin-top: -20px">最高可获得补贴及扶持金额（万元）</p>
                                        </div>
                                    </div>
                                    <div class="policy_small" style="background: rgba(13, 215, 141, 1)">
                                        <div style="float: left">
                                            <img src="/assets/images/dashboard/check.png"
                                                 style="width: 60px;height: 60px;display: block;margin: 20px">
                                        </div>
                                        <div style="float: left">
                                            <p style="font-size: 32px;color: #fff;margin: 20px 5px">{{data.matchingQuantity}}</p>
                                            <p style="color: #fff;margin-top: -20px">匹配政策</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ion-col>
            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>知识产权盘点与分析</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="right" style="width: 100%">
                            <div style="height: 260px;width: 32%;border: 1px solid #DCE5EB;margin: 0 20px">
                                <div class="right_head">
                                    <div style="float: left">
                                        <img src="/assets/images/plan/1.png"
                                             style="width: 20px;height: 20px;display: block;margin: 10px">
                                    </div>
                                    <div style="float: left">
                                        <p style="margin: 10px 5px;color: #21333F">数量</p>
                                    </div>
                                </div>
                                <div class="right_content">
                                    {{data.countAnalysis}}
                                </div>
                            </div>

                            <div style="height: 260px;width: 32%;border: 1px solid #DCE5EB;margin: 0 20px">
                                <div class="right_head">
                                    <div style="float: left">
                                        <img src="/assets/images/plan/1.png"
                                             style="width: 20px;height: 20px;display: block;margin: 10px">
                                    </div>
                                    <div style="float: left">
                                        <p style="margin: 10px 5px;color: #21333F">申请时间</p>
                                    </div>
                                </div>
                                <div class="right_content">
                                    {{data.applicationTimeAnalysis}}
                                </div>
                            </div>

                            <div style="height: 260px;width: 32%;border: 1px solid #DCE5EB;margin: 0 20px">
                                <div class="right_head">
                                    <div style="float: left">
                                        <img src="/assets/images/plan/1.png"
                                             style="width: 20px;height: 20px;display: block;margin: 10px">
                                    </div>
                                    <div style="float: left">
                                        <p style="margin: 10px 5px;color: #21333F">支撑作用及先进性</p>
                                    </div>
                                </div>
                                <div class="right_content">
                                    {{data.progressivenessAnalysis}}
                                </div>
                            </div>
                        </div>

                        <div class="suggest right" style="width: 100%">
                            <div style="height: 230px;border: 1px solid #DCE5EB;margin: 20px">
                                <div class="right_head">
                                    <div style="float: left">
                                        <img src="/assets/images/plan/info.png"
                                             style="width: 20px;height: 20px;display: block;margin: 10px">
                                    </div>
                                    <div style="float: left">
                                        <p style="margin: 10px 5px;color: #21333F">建议</p>
                                    </div>
                                </div>
                                <div class="right_content" style="display: flex;flex-direction: row">
                                    <div class="suggest_small"
                                         style="width: 48%;border-right: 1px dashed #84929c;padding-right: 20px">
                                        <div style="float: left">
                                            <img src="/assets/images/plan/s1.png"
                                                 style="width: 40px;height: 40px;display: block;margin:40px 20px">
                                        </div>
                                        <article style="color: #21333F;font-size: 14px;margin: 30px 20%;width: 80%;line-height: 23px;">
                                            目前企业的知识产权数量较少，但已经进行了 6
                                            项知识产权的申请，知识产权数量是有所保证的。后续如有专利申请计划可在华海云商城申请发明专利及实用新型专利以作为企业知识产权储备。建议每年进行
                                            5项以上知识产权的申请，保持知识产权时效性。
                                        </article>
                                    </div>

                                    <div class="suggest_small" style="width: 48%;margin-left: 20px">
                                        <div style="float: left">
                                            <img src="/assets/images/plan/s2.png"
                                                 style="width: 40px;height: 40px;display: block;margin:40px 20px">
                                        </div>
                                        <article style="color: #21333F;font-size: 14px;margin: 20px 20%;width: 80%;line-height: 23px;">
                                            将知识产权管理、项目申报等纳入日常工作，建立专门管理知识产权及政府项目申报的岗位，包括知识产权申请、专利年费的上缴、专利奖励的申请以及知识产权档案、项目材料、技术材料的建立，建立知识产权管理体系，强化企业知识产权的管理水平及项目管理能力。企业可建立企业知识产权管理规范体系，提升知识产权管理能力。
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </mat-card-content>
                </mat-card>
            </ion-col>

            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>财务盘点与分析</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div style="display: flex;flex-direction: row">
                            <div class="hot">
                                <div class="hot_left">
                                    <img src="/assets/images/plan/2.png"
                                         style="width: 60px;height: 60px;display: block;margin: 10px auto">
                                    <p style="text-align: center;font-size: 32px;color: #fff;">
                                        {{data.rndAmount}}</p>
                                    <p style="text-align: center;color: #fff;margin-top: -20px;font-weight: 200">
                                        研发设备总值（万元）</p>
                                </div>

                                <div class="hot_left" style="background-color: #333951">
                                    <img src="/assets/images/plan/3.png"
                                         style="width: 60px;height: 60px;display: block;margin: 10px auto">
                                    <p style="text-align: center;font-size: 32px;color: #fff;">
                                        {{data.liabilitiesRate}}%</p>
                                    <p style="text-align: center;color: #fff;margin-top: -20px;font-weight: 200">负债率</p>
                                </div>

                                <div class="hot_left" style="background-color: #FEAE4D">
                                    <img src="/assets/images/plan/4.png"
                                         style="width: 60px;height: 60px;display: block;margin: 10px auto">
                                    <p style="text-align: center;font-size: 32px;color: #fff;">
                                        {{data.revenueGrowthRate}}%</p>
                                    <p style="text-align: center;color: #fff;margin-top: -20px;font-weight: 200">
                                        营业收入增长率</p>
                                </div>

                                <div class="hot_left" style="background-color: #339999">
                                    <img src="/assets/images/plan/5.png"
                                         style="width: 60px;height: 60px;display: block;margin: 10px auto">
                                    <p style="text-align: center;font-size: 32px;color: #fff;">
                                        {{data.profit}}</p>
                                    <p style="text-align: center;color: #fff;margin-top: -20px;font-weight: 200">
                                        营业利润（万元）</p>
                                </div>

                                <div *ngIf="data.isCreateAcc === '是'" class="hot_left"
                                     style="background-color: #0DD78D">
                                    <img src="/assets/images/plan/6.png"
                                         style="width: 60px;height: 60px;display: block;margin: 30px auto">
                                    <p style="text-align: center;font-size: 20px;color: #fff;font-weight: 200">
                                        研发支出专账</p>
                                </div>
                                <div *ngIf="data.isCreateAcc === '否'" class="hot_left"
                                     style="background-color: #0DD78D">
                                    <img src="/assets/images/dashboard/check.png"
                                         style="width: 60px;height: 60px;display: block;margin: 30px auto">
                                    <p style="text-align: center;font-size: 20px;color: #fff;font-weight: 200">
                                        研发支出专账</p>
                                </div>
                            </div>
                        </div>

                        <div style="margin: 20px;border: 1px solid #DCE5EB;border-radius: 4px">
                            <div class="work">
                                <div class="work_left">
                                    <p style="font-size: 16px;color: #21333F;text-align: center;line-height: 45px">企业成长性分析</p>
                                </div>
                                <div class="work_right">
                                    {{data.growthAnalysis}}
                                </div>
                            </div>
                            <div class="work">
                                <div class="work_left">
                                    <p style="font-size: 16px;color: #21333F;text-align: center;line-height: 45px">企业负债率分析</p>
                                </div>
                                <div class="work_right">
                                    {{data.liabilitiesRateAnalysis}}
                                </div>
                            </div>
                            <div class="work">
                                <div class="work_left">
                                    <p style="font-size: 16px;color: #21333F;text-align: center;line-height: 45px">企业营业利润分析</p>
                                </div>
                                <div class="work_right">
                                    {{data.operatingProfitAnalysis}}
                                </div>
                            </div>
                            <div class="work">
                                <div class="work_left">
                                    <p style="font-size: 16px;color: #21333F;text-align: center;line-height: 45px">企业研发设备总值分析</p>
                                </div>
                                <div class="work_right">
                                    {{data.equipmentAnalysis}}
                                </div>
                            </div>
                            <div class="work">
                                <div class="work_left">
                                    <p style="font-size: 16px;color: #21333F;text-align: center;line-height: 45px">企业研发费用管理分析</p>
                                </div>
                                <div class="work_right">
                                    {{data.costManagementAnalysis}}
                                </div>
                            </div>
                        </div>

                        <div class="suggest right" style="width: 100%">
                            <div style="height: auto;border: 1px solid #DCE5EB;margin: 20px">
                                <div class="right_head">
                                    <div style="float: left">
                                        <img src="/assets/images/plan/info.png"
                                             style="width: 20px;height: 20px;display: block;margin: 10px">
                                    </div>
                                    <div style="float: left">
                                        <p style="margin: 10px 5px;color: #21333F">建议</p>
                                    </div>
                                </div>
                                <div class="right_content" style="display: flex;flex-direction: row">
                                    <div class="suggest_small"
                                         style="width: 48%;border-right: 1px dashed #84929c;padding-right: 20px">
                                        <div style="float: left">
                                            <img src="/assets/images/plan/s1.png"
                                                 style="width: 40px;height: 40px;display: block;margin:40px 20px">
                                        </div>
                                        <article style="color: #21333F;font-size: 14px;margin: 30px 20%;width: 80%;line-height: 23px;">
                                            企业处于稳步发展阶段，条件允许的情况下建议保持财务数据的增长，主要为营业收入和净资产这两项数据，建议2019年营业收入和净资产增长使得近三年总体增长35%以上，继续扩大企业规模。营业利润方面，建议企业创造利润，缴纳一定的企业所得税。
                                        </article>
                                    </div>

                                    <div class="suggest_small" style="width: 48%;margin-left: 20px">
                                        <div style="float: left">
                                            <img src="/assets/images/plan/s2.png"
                                                 style="width: 40px;height: 40px;display: block;margin:40px 20px">
                                        </div>
                                        <article style="color: #21333F;font-size: 14px;margin: 35px 20%;width: 80%;line-height: 23px;">
                                            建议企业资产负债率保持50-70%范围内，减少企业经营潜在风险，保持良好健康的财务数据指标。
                                        </article>
                                    </div>
                                </div>

                                <div class="right_content" style="display: flex;flex-direction: row">
                                    <div class="suggest_small"
                                         style="width: 48%;border-right: 1px dashed #84929c;padding-right: 20px">
                                        <div style="float: left">
                                            <img src="/assets/images/plan/s3.png"
                                                 style="width: 40px;height: 40px;display: block;margin:40px 20px">
                                        </div>
                                        <article style="color: #21333F;font-size: 14px;margin: 30px 20%;width: 80%;line-height: 23px;">
                                            加大研发支出及设备投入，发票务必规范入账，重视固定资产及研究开发设备的入账问题。建议可尽快将未入账的设备或新购置的电脑、研发设备等相关设备入固定资产，购买的软件可以入无形资产。
                                        </article>
                                    </div>

                                    <div class="suggest_small" style="width: 48%;margin-left: 20px">
                                        <div style="float: left">
                                            <img src="/assets/images/plan/s4.png"
                                                 style="width: 40px;height: 40px;display: block;margin:40px 20px">
                                        </div>
                                        <article style="color: #21333F;font-size: 14px;margin: 20px 20%;width: 80%;line-height: 23px;">
                                            建议企业设立研发支出专账，在管理费用下设研发费用二级科目（适用于小企业会计准则），规范核算；研发费用归集范围包含项目研发人员工资保险、研发直接投入、技术服务费等，设立研发费用专账，研发费用投入按现企业规模建议维持在营业收入的 5-10%。另外所得税纳税申报表、汇算清缴报告里面需披露研发费用，并且进行研发费用加计扣除备案，规范研发费用做账处理。
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </mat-card-content>
                </mat-card>
            </ion-col>
            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>企业人员组成结构</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-row>
                            <ion-col [size]="data?.type === 0 ? 12 : 6">
                                <div *ngIf="option.line" echarts [options]="option.line" class="smart-chart main-chart"
                                     style="width:500px;height: 250px;"></div>
                                <article
                                        style="color:#84929c;margin: 20px 40px;font-size: 14px">{{data.personnelCompositionAnalysis}}</article>
                            </ion-col>
                            <ion-col size="6">

                                <div class="suggest right" style="width: 100%">
                                    <div style="height: auto;border: 1px solid #DCE5EB;margin: 20px">
                                        <div class="right_head">
                                            <div style="float: left">
                                                <img src="/assets/images/plan/info.png"
                                                     style="width: 20px;height: 20px;display: block;margin: 10px">
                                            </div>
                                            <div style="float: left">
                                                <p style="margin: 10px 5px;color: #21333F">建议</p>
                                            </div>
                                        </div>
                                        <div class="right_content" style="display: flex;flex-direction: column">
                                            <div class="suggest_small" style="border-bottom: 1px dashed #84929c;">
                                                <div style="float: left">
                                                    <img src="/assets/images/plan/s1.png"
                                                         style="width: 40px;height: 40px;display: block;margin:40px 20px">
                                                </div>
                                                <article style="color: #21333F;font-size: 14px;margin: 15px 20%;width: 80%;line-height: 23px;">
                                                    鉴于个税/社保为项目申报佐证的必备要件，建议继续保持企业员工的个税申报和社保购买，为全体在职员工申报个人所得税及购买社保，尤其是科研人员、高学历人员，要着重个税申报及社保购买；同时加强研发团队建设，壮大团队人数，继续完善人员架构，继吸纳高学历，专业对口（大专以上，网络通信相关专业）的人才；建议企业的研发团队人数占比10%以上，全员本科学历以上为目标。
                                                </article>
                                            </div>

                                            <div class="suggest_small">
                                                <div style="float: left">
                                                    <img src="/assets/images/plan/s2.png"
                                                         style="width: 40px;height: 40px;display: block;margin:40px 20px">
                                                </div>
                                                <article style="color: #21333F;font-size: 14px;margin: 30px 20%;width: 80%;line-height: 23px;">
                                                    基于目前科技计划专项项目及人才项目对项目负责人，项目成员职称的要求，鼓励并尽可能创造条件让研发人员参与职称评定工作。
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </mat-card-content>
                </mat-card>
            </ion-col>

            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>适应政策及资质</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <table *ngIf="dataSource" mat-table [dataSource]="dataSource">
                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef style="width: 50px">
                                    <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                                  [checked]="selection.hasValue() && isAllSelected()"
                                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                  [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                                  (change)="$event ? selection.toggle(row) : null"
                                                  [checked]="selection.isSelected(row)"
                                                  [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                                <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef><b>政策名称</b></th>
                                <td mat-cell *matCellDef="let element" style="text-align: left !important;">
                                    {{element.policyName}}
                                </td>
                                <td mat-footer-cell *matFooterCellDef>合计</td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="money">
                                <th mat-header-cell *matHeaderCellDef><b>最高获得金额（万元）</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.subsidyAmtEnd}}
                                </td>
                                <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="time">
                                <th mat-header-cell *matHeaderCellDef style="width: 200px"><b>申请时间</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.reportTiming}}个月
                                </td>
                                <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency : '人民币 '}}（万元）</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                (click)="selection.toggle(row)">
                            </tr>
                            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </ion-col>

            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>合作模式</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            <p style="color: #21333F;font-size: 16px">科创项目咨询及规划服务--科创宝</p>
                            <article style="text-indent: 10px;margin: 20px;font-size: 13px;color: #21333F;line-height: 20px">
                                针对目前企业对科技政策全面体验的需求，推出科创宝咨询规划服务。科创宝在服务周期内，对企业所属行业所属阶段展开深入分析，对相关国家优惠政策推送并针对性监控，对企业量身定制科技项目，就政府项目规划培育申报等提供全方位、前瞻性的咨询顾问服务。从而帮助企业享受政策红利，减低产业升级成本，通过政府资金的途径解决资金链难题。
                            </article>
                            <div class="content">
                                <table cellpadding="0" cellspacing="0" border="0" class="kc">
                                    <thead>
                                    <tr>
                                        <th class="user">服务内容</th>
                                        <th class="grade">一级科创宝</th>
                                        <th class="consumption">二级科创宝</th>
                                        <th class="date">三级科创宝</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="user">服务期</td>
                                        <td class="grade">2年</td>
                                        <td class="consumption">2年</td>
                                        <td class="date">2年</td>
                                    </tr>
                                    <tr>
                                        <td class="user">产品内容</td>
                                        <td class="grade">科技项目规划与申报，扶持资金达 60 万</td>
                                        <td class="consumption">科技项目规划与申报，扶持资金达 100 万</td>
                                        <td class="date">科技项目规划与申报，扶持资金达 350 万</td>
                                    </tr>
                                    <tr>
                                        <td class="user">价格</td>
                                        <td class="grade">¥58000</td>
                                        <td class="consumption">¥98000</td>
                                        <td class="date">¥288000</td>
                                    </tr>
                                    <tr>
                                        <td class="user">超出部分收获奖励</td>
                                        <td class="grade">20%</td>
                                        <td class="consumption">15%</td>
                                        <td class="date">10%</td>
                                    </tr>
                                    <tr>
                                        <td class="user">客户需求分析（上门）</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">诊断规划报告</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">政策监控</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">科技政策定期推送与培训</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">项目申报专业咨询</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">项目培育与申报实施</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">项目监理与申报系统维护</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div>
                            <p style="color: #21333F;font-size: 16px">企业知产以及双创服务智能云平台—华海知产云</p>
                            <article style="text-indent: 10px;margin: 20px;font-size: 13px;color: #21333F;line-height: 20px">
                                华海知产云系统涵盖了1亿+企业的工商信息、知产信息（商标、专利、版权、域名），各地局的项目申报信息，全球的精品技术资源，并对数据资源进行定期的清理以及标准化处理，确权为企业提供最优质快速的资讯。
                            </article>
                            <article style="text-indent: 10px;margin:0 20px;font-size: 13px;color: #21333F;line-height: 20px">
                                华海知产云系统的强大之处在于：它作为一站式的企业知识产权管理与双创服务云平台，既满足企业知识产权管理人员的日常事务性要求，又实现了数据共享，打破了信息壁垒，其独创的企业知产预警功能也很好地实现了企业前瞻性的知产部署防御。
                            </article>
                            <div class="content">
                                <table cellpadding="0" cellspacing="0" border="0" class="zc">
                                    <thead>
                                    <tr>
                                        <th class="user">服务内容</th>
                                        <th class="grade">时尚版</th>
                                        <th class="consumption">致悦版</th>
                                        <th class="date">豪华版</th>
                                        <th class="name">尊享版</th>
                                        <th class="sex">旗舰版</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="user">售价</td>
                                        <td class="grade">1.8万/年</td>
                                        <td class="consumption">5.8万/年</td>
                                        <td class="date">12.8万/年</td>
                                        <td class="name">28.8万/年</td>
                                        <td class="sex">58.8万/年</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免费出具商标近似查询报告、专利基础检索报告</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="name" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="sex" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">商标注册、商标案件、专利申请、版权登记状态智能自动托管</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="name" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="sex" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">企业商标、专利、版权预警监控</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="name" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="sex" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免费出具年度行业竞争对手商标、专利、版权分析报告</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="name" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="sex" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免费推送科技、产业等政府项目政策</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="name" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="sex" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免费定期推送行业最新技术动态信息</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="name" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="sex" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免费出具年度知识产权精细化规划方案</td>
                                        <td class="grade" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="consumption" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="date" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="name" style="font-weight: bold;color: #2C9EF7">√</td>
                                        <td class="sex" style="font-weight: bold;color: #2C9EF7">√</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免服务费代理企业年度各类国内商标注册、国内商标案件、国内版权登记</td>
                                        <td class="grade">-</td>
                                        <td class="consumption">不超过 100 件</td>
                                        <td class="date" style="color: #2C9EF7">不限量</td>
                                        <td class="name" style="color: #2C9EF7">不限量</td>
                                        <td class="sex" style="color: #2C9EF7">不限量</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免服务费代理企业年度各类国内专利新申请</td>
                                        <td class="grade">-</td>
                                        <td class="consumption">不超过 10 件</td>
                                        <td class="date">不超过 30 件</td>
                                        <td class="name" style="color: #2C9EF7">不限量</td>
                                        <td class="sex" style="color: #2C9EF7">不限量</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免国内服务费代理企业海外商标、海外专利、海外公司注册</td>
                                        <td class="grade">-</td>
                                        <td class="consumption">-</td>
                                        <td class="date">30 件</td>
                                        <td class="name" style="color: #2C9EF7">不限量</td>
                                        <td class="sex" style="color: #2C9EF7">不限量</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免服务费代理企业商标疑难案件</td>
                                        <td class="grade">-</td>
                                        <td class="consumption">-</td>
                                        <td class="date">-</td>
                                        <td class="name">1件（显示初审公告）</td>
                                        <td class="sex">3件（显示初审公告）</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免服务费代理企业商标、专利、版权免费交易经纪服务（购买或转出）</td>
                                        <td class="grade">-</td>
                                        <td class="consumption">3件</td>
                                        <td class="date">3件</td>
                                        <td class="name" style="color: #2C9EF7">不限量</td>
                                        <td class="sex" style="color: #2C9EF7">不限量</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免服务费代理企业科技项目申报，规划政府扶持资金</td>
                                        <td class="grade">-</td>
                                        <td class="consumption">累计达60万</td>
                                        <td class="date">累计160万</td>
                                        <td class="name">累计350万</td>
                                        <td class="sex">累计800万</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免服务费代理企业品牌、标准体系类项目申报</td>
                                        <td class="grade">-</td>
                                        <td class="consumption">2件</td>
                                        <td class="date">10件</td>
                                        <td class="name" style="color: #2C9EF7">不限量</td>
                                        <td class="sex" style="color: #2C9EF7">不限量</td>
                                    </tr>
                                    <tr>
                                        <td class="user">免服务费代理企业合同审核</td>
                                        <td class="grade">-</td>
                                        <td class="consumption">5件</td>
                                        <td class="date">10件（可代草拟）</td>
                                        <td class="name">30件（可代草拟）</td>
                                        <td class="sex" style="color: #2C9EF7">不限量</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ion-col>

            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>中科华海企业介绍</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="work" style="border: none">
                            <div class="work_left" style="height: 200px;background-color: #fff">
                                <img src="/assets/images/plan/logo.png"
                                     style="width: 100px;height: auto;display: block;margin: 50px auto">
                            </div>
                            <div class="work_right" style="padding: 0;height: auto">
                                <article style="text-indent: 10px;margin: 10px;font-size: 13px;color: #21333F;line-height: 20px">
                                    深圳中科华海科技有限公司成立于2015年，立足知识产权和双创（科创、文创）两大核心战略，专注于知识产权SAAS服务云平台、双创服务云平台等相关配套业务的发展。基于中科华海所构建的知识产权产业云脑，现已形成以国高培育版、知产云、科创宝、文创宝、创新宝、单项知识产权服务等多元主营业务为支撑的知产生态圈，是最懂商业的知识产权与双创智能服务云平台。
                                </article>
                                <article style="text-indent: 10px;margin: 10px;font-size: 13px;color: #21333F;line-height: 20px">
                                    公司拥有超过百人规模的全球化团队，核心成员来自于宾夕法尼亚大学、人民大学、武汉大学、西安交通大学、华南理工大学、约克大学等国内外知名高校，并以深圳总部为中心，立足于粤港澳大湾区，产业服务网络辐射全球120多个国家，是中燃宝集团、康佳集团、海航集团、海南橡胶集团、深圳市设计与艺术联盟、深圳市南山区文化科技促进会等多家全球或国内500强企业和5A级协会组织的知识产权与双创战略合作伙伴。
                                </article>
                                <article style="text-indent: 10px;margin: 10px;font-size: 13px;color: #21333F;line-height: 20px">
                                    中科华海积极响应习主席及中国国家知识产权局“国家知识产权战略纲要”和“一带一路”的发展政策，以知识产权与双创产业为基础，以云链化为竞争壁垒，通过互联网技术链接，加上知识产权金融撮合服务助推力，将持续为中国“知识产权与双创产业+互联网+人工智能”综合产业生态开创更加广阔的应用前景，深刻影响和改变知识产权与双创产业的服务方式和营商环境。
                                </article>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--<div class="row-buttons" style="background-color: rgba(33, 40, 68, 1);margin: 0">
        <ion-button (click)="download()" color="primary" style="margin: 20px 50%;">下载报告</ion-button>
    </div>-->
</div>


