.container {
  background: rgba(246, 247, 249, 1);
  padding: 0;

  &.s {
    .suggest {
      display: none;
    }
  }

  mat-card {
    margin: 10px;

    &:not([class*=mat-elevation-z]) {
      box-shadow: none;
    }

    mat-card-header {

      mat-card-title {
        font-size: 20px;
        font-weight: bold;
      }

      mat-card-subtitle {
        top: 16px;
        right: 16px;
        position: absolute;
        margin: 0;

        img {
          width: 30px;
          height: 30px;
        }
      }

      &::ng-deep {
        .mat-card-header-text {
          margin: 0;
        }
      }
    }
  }
}

.policy {
  display: flex;
  flex-direction: column;

  .policy_small {
    width: 330px;
    height: 100px;
    background: inherit;
    background-color: rgba(44, 158, 247, 1);
    border: none;
    border-radius: 4px;
    margin: 20px;
  }
}

.right {
  display: flex;
  flex-direction: row;

  .right_head {
    height: 40px;
    background: inherit;
    background-color: #F6F7F9;
    border: none;
  }

  .right_content {
    margin: 20px;
    line-height: 22px;
    text-indent: 25px;
    color: #87949d;
    font-size: 14px;
  }
}

.suggest {
  display: flex;
  flex-direction: column;

  .suggest_small {
    width: 97%;
    height: 100px;
    background: inherit;
    background-color: #F6F7F9;
    border: none;
    border-radius: 4px;
    margin: 20px;
  }
}

.hot {
  display: flex;
  flex-direction: row;
  margin: 15px auto;

  .hot_left {
    width: 200px;
    height: 180px;
    background: inherit;
    background-color: rgba(44, 158, 247, 1);
    border: none;
    border-radius: 4px;
    margin: 0 5px;
  }

}

.work {
  display: flex;
  flex-direction: row;
  border: 1px solid #DCE5EB;

  .work_left {
    width: 20%;
    height: 80px;
    background: inherit;
    background-color: #F6F7F9;
    border-radius: 4px 0 0 4px;
  }

  .work_right {
    width: 80%;
    height: 80px;
    background: inherit;
    font-size: 14px;
    padding: 10px;
    color: #afb8be;
    background-color: #fff;
    border-radius: 0 4px 4px 0;

    table {
      &::ng-deep {
        tbody tr td {
          border-bottom-width: 1px !important;
        }
      }
    }

    span {
      display: inline-block;
      padding: 10px 40px;
      color: #ffffff;
      font-weight: bold;
      font-size: 32px;
    }

    p {
      display: inline-block;
      position: absolute;
      color: #ffffff;
      font-weight: bold;
      font-size: 16px;
      margin-top: 20px;
    }
  }
}

.content {
  background: #fff;
  width: 100%;
  color: #aaa;
  margin-top: 10px;

  table.kc {
    background: #fff;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    padding: 0 10px;

    thead {
      border-top: 1px solid #DCE5EB;
      background: #F6F7F9;

      tr {
        th {
          font-weight: normal;
          color: #898989;
          padding: 15px 10px;

          &.user {
            width: 25%;
            text-align: center;
          }

          &.grade {
            width: 25%;
            text-align: center;
          }

          &.consumption {
            width: 25%;
            text-align: center;
          }

          &.date {
            width: 25%;
            text-align: center;
          }
        }
      }
    }

    tbody {
      padding: 15px 10px;
      border-bottom: 1px solid #DCE5EB;

      tr {
        td {
          font-weight: normal;
          color: #666;
          padding: 15px 10px;
          position: relative;

          &.user {
            width: 25%;
            text-align: center;
          }

          &.grade {
            width: 25%;
            text-align: center;
          }

          &.consumption {
            width: 25%;
            text-align: center;
          }

          &.date {
            width: 25%;
            text-align: center;
          }
        }
      }
    }
  }

  table.zc {
    background: #fff;
    width: 100%;
    font-size: 12px;
    line-height: 1;

    thead {
      border-top: 1px solid #DCE5EB;
      background: #F6F7F9;

      tr {
        th {
          font-weight: normal;
          color: #898989;
          padding: 15px 2px;

          &.user {
            width: 39%;
            text-align: center;
          }

          &.grade {
            width: 12%;
            text-align: center;
          }

          &.consumption {
            width: 12%;
            text-align: center;
          }

          &.date {
            width: 12%;
            text-align: center;
          }

          &.name {
            width: 15%;
            text-align: center;
          }

          &.sex {
            width: 15%;
            text-align: center;
          }
        }
      }
    }

    tbody {
      padding: 15px 10px;
      border-bottom: 1px solid #DCE5EB;

      tr {
        td {
          font-weight: normal;
          color: #666;
          padding: 15px 2px;
          position: relative;

          &.user {
            width: 39%;
            text-align: center;
          }

          &.grade {
            width: 12%;
            text-align: center;
          }

          &.consumption {
            width: 12%;
            text-align: center;
          }

          &.date {
            width: 12%;
            text-align: center;
          }

          &.name {
            width: 15%;
            text-align: center;
          }

          &.sex {
            width: 15%;
            text-align: center;
          }
        }
      }
    }
  }

}
