<div class="container">
    <ion-grid *ngIf="data">
        <ion-row style="border: none">
            <ion-col size="12">
                <mat-card style="background: rgba(246,247,249,1)">
                    <div class="company">
                        <div class="company_left"></div>
                        <div class="company_right"><p>{{company?.companyName}}</p></div>
                    </div>
                </mat-card>
            </ion-col>
            <ion-col size="12">
                <mat-card style="padding: 0">
                    <ion-row style="border: none;background: #F6F7F9">
                        <ion-col size="4">
                            <div class="company_condition_l">
                                <p>运作时长<span>{{getCondValue(7)}}年</span></p>
                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <div class="company_condition_m">
                                <p>所属行业<span>{{data.busindustry.industryName ? data.busindustry.industryName : '-'}}</span></p>
                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <div class="company_condition_r">
                                <p>企业体量<span>{{getGroupValue(11).name}}</span></p>
                            </div>
                        </ion-col>
                    </ion-row>
                </mat-card>
            </ion-col>
            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>行业信息</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-row style="margin-top: 20px !important;">
                            <ion-col size="4">
                                <ion-item lines="none" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/service.png"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <p>行业</p>
                                        <h3>{{data.busindustry.industryName ? data.busindustry.industryName : '-'}}</h3>
                                    </ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col size="8">
                                <ion-item lines="none"style="--background:rgba(246,247,249,1);border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                    <article style="padding: 30px 40px;height:140px;overflow: auto">
                                        {{data.busindustry.explainContent ? data.busindustry.explainContent : '-'}}
                                    </article>
                                    <div style="width:4px;height:28px;background:rgba(211,211,211,1);border-radius:2px;position: absolute;top: 33px;right: 21px; display: none"></div>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </mat-card-content>
                </mat-card>
            </ion-col>
            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>企业体量分析结果</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-row style="margin-top: 20px !important;" [ngStyle]="{'border-color':getGroupValue(15).score < 60 ? '#EEDADA' : '' }">
                            <ion-col size="4">
                                <ion-item lines="none" class="result_l"  style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                                          [ngStyle]="{'border-right-color':getGroupValue(15).score < 60 ? '#EEDADA' : '' }">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/income.png"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <p>年营业收入范围</p>
                                        <h2 [ngStyle]="{'color': getGroupValue(15).score >= 60 ? '#3fa2f4' : '#B81F1C'}">{{getCondValue(19)}}万元</h2>
                                    </ion-label>
                                    <div class="result_img">
                                        <img src="/assets/images/company/hand.png"/>
                                    </div>
                                </ion-item>
                            </ion-col>
                            <ion-col size="8">
                                <ion-item lines="none" class="result_r" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                    <ion-label [innerHTML]="getGroupValue(15).suggest"></ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: 10px !important;" [ngStyle]="{'border-color':getGroupValue(16).score < 60 ? '#EEDADA' : '' }">
                            <ion-col size="4">
                                <ion-item lines="none" class="result_l" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                                          [ngStyle]="{'border-right-color':getGroupValue(16).score < 60 ? '#EEDADA' : '' }">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/assets.png"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <p>固定资产范围</p>
                                        <h2 [ngStyle]="{'color': getGroupValue(16).score >= 60 ? '#3fa2f4' : '#B81F1C'}">{{getCondValue(17)}}万元</h2>
                                    </ion-label>
                                    <div class="result_img">
                                        <img src="/assets/images/company/tick.png"/>
                                    </div>
                                </ion-item>
                            </ion-col>
                            <ion-col size="8">
                                <ion-item lines="none" class="result_r" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                    <ion-label [innerHTML]="getGroupValue(16).suggest"></ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: 10px !important;" [ngStyle]="{'border-color':getGroupValue(17).score < 60 ? '#EEDADA' : '' }">
                            <ion-col size="4">
                                <ion-item lines="none"
                                          class="result_l"
                                          style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                                          [ngStyle]="{'border-right-color':getGroupValue(17).score < 60 ? '#EEDADA' : '' }">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/amount.png"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <p>企业总人数范围</p>
                                        <h2 [ngStyle]="{'color': getGroupValue(17).score >= 60 ? '#3fa2f4' : '#B81F1C'}">{{getCondValue(18)}} 人</h2>
                                    </ion-label>
                                    <div class="result_img">
                                        <img [src]="'/assets/images/company/' + (getGroupValue(17).score >= 81 ? 'hand' : getGroupValue(17).score >= 60 ? 'tick' : 'warn') + '.png'"/>
                                    </div>
                                </ion-item>
                            </ion-col>
                            <ion-col size="8">
                                <ion-item lines="none" class="result_r" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                    <ion-label [innerHTML]="getGroupValue(17).suggest"></ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </mat-card-content>
                </mat-card>
            </ion-col>

            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>人力结构分析结果</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-row style="margin-top: 20px !important;" [ngStyle]="{'border-color':getGroupValue(18).score < 60 ? '#EEDADA' : '' }">
                            <ion-col size="4">
                                <ion-item lines="none" class="result_l" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                                          [ngStyle]="{'border-right-color':getGroupValue(18).score < 60 ? '#EEDADA' : '' }">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/member.png"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <p>管理人员比例</p>
                                        <h2 [ngStyle]="{'color': getGroupValue(18).score >= 60 ? '#3fa2f4' : '#B81F1C'}">{{getCondValue(2)}}%</h2>
                                    </ion-label>
                                    <div class="result_img">
                                        <img [src]="'/assets/images/company/' + (getGroupValue(18).score >= 81 ? 'hand' : getGroupValue(18).score >= 60 ? 'tick' : 'warn') + '.png'"/>
                                    </div>
                                </ion-item>
                            </ion-col>
                            <ion-col size="8">
                                <ion-item lines="none" class="result_r" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                    <ion-label [innerHTML]="getGroupValue(18).suggest"></ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: 10px">
                            <ion-col size="4">
                                <ion-list>
                                    <ion-list-header>职能比例</ion-list-header>
                                    <ion-item lines="none">
                                        <div *ngIf="circle.job" echarts [options]="circle.job"
                                             style="width: 200px;height: 200px;margin: 0 auto"
                                             class="main-chart;"></div>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                            <ion-col size="8">
                                <div style="width: 100%;height: 100%;background: #F6F7F9;border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                    <ion-row style="border: none">
                                        <ion-col size="6">
                                            <table cellpadding="0" cellspacing="0" border="0" class="result_table">
                                                <thead>
                                                <tr>
                                                    <th class="user">职能</th>
                                                    <th class="grade">正常范围</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="user">研发</td>
                                                    <td class="grade">15-25%</td>
                                                </tr>
                                                <tr>
                                                    <td class="user">销售</td>
                                                    <td class="grade">35-45%</td>
                                                </tr>
                                                <tr>
                                                    <td class="user">服务</td>
                                                    <td class="grade">15-25%</td>
                                                </tr>
                                                <tr>
                                                    <td class="user">其他</td>
                                                    <td class="grade">10-20%</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </ion-col>
                                        <ion-col size="6">
                                            <article [innerHTML]="getGroupValue(12).suggest"></article>
                                        </ion-col>
                                    </ion-row>
                                </div>
                            </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: 10px">
                            <ion-col size="4">
                                <ion-list>
                                    <ion-list-header>学历组成</ion-list-header>
                                    <ion-item lines="none">
                                        <div *ngIf="circle.edu" echarts [options]="circle.edu"
                                             style="width: 200px;height: 200px;margin: 0 auto"
                                             class="main-chart;"></div>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                            <ion-col size="8">
                                <div style="width: 100%;height: 100%;background: #F6F7F9;border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                    <ion-row style="border: none">
                                        <ion-col size="6">
                                            <table cellpadding="0" cellspacing="0" border="0" class="result_table">
                                                <thead>
                                                <tr>
                                                    <th class="user">职能</th>
                                                    <th class="grade">正常范围</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="user">专科</td>
                                                    <td class="grade">10-20%</td>
                                                </tr>
                                                <tr>
                                                    <td class="user">本科</td>
                                                    <td class="grade">40-50%</td>
                                                </tr>
                                                <tr>
                                                    <td class="user">研究生及以上</td>
                                                    <td class="grade">20-40%</td>
                                                </tr>
                                                <tr>
                                                    <td class="user">其他</td>
                                                    <td class="grade">5-10%</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </ion-col>
                                        <ion-col size="6">
                                            <article [innerHTML]="getGroupValue(13).suggest"></article>
                                        </ion-col>
                                    </ion-row>
                                </div>
                            </ion-col>
                        </ion-row>
                    </mat-card-content>
                </mat-card>
            </ion-col>

            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>品牌布局分析结果</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-row style="margin-top: 20px" [ngStyle]="{'border-color':getGroupValue(-100).score < 60 ? '#EEDADA' : '' }">
                            <ion-col size="4">
                                <ion-item *ngFor="let item of brand;let i = index" lines="none" class="layout_l"
                                          style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                                [ngStyle]="{'border-bottom':i === brand.length-1 ? 'none' : '1px solid rgba(229,235,240,1)',
                                            'border-right-color':getGroupValue(-100).score < 60 ? '#EEDADA' : '',
                                            'border-bottom-color':getGroupValue(-100).score < 60 ? '#EEDADA' : ''}">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/depth.png"/>
                                    </ion-thumbnail>
                                    <ion-label>{{item.label}}<span [ngStyle]="{'color': getGroupValue(-100).score >= 60 ? '#3fa2f4' : '#B81F1C'}">{{item.name}}</span></ion-label>
                                    <div class="result_img">
                                        <img [src]="'/assets/images/company/' + (item.score >= 81 ? 'hand' : item.score >= 60 ? 'tick' : 'warn') + '.png'"/>
                                    </div>
                                </ion-item>
                            </ion-col>
                            <ion-col size="8" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                <ion-item lines="none">
                                    <article style="color: #5F717D;padding: 48px 37px 47px 40px;">
                                        <ion-label [innerHTML]="getGroupValue(-100).suggest"></ion-label>
                                        <ion-label [innerHTML]="getGroupValue(-101).suggest"></ion-label>
                                    </article>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row style="border: none;margin-top: 22px">
                            <ion-col size="6">
                                <ion-item lines="none" class="top">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/top.png"/>
                                    </ion-thumbnail>
                                    <ion-label>品牌TOP 3</ion-label>
                                </ion-item>
                                <ion-item lines="none">
                                    <table cellpadding="0" cellspacing="0" border="0" class="table_top">
                                        <thead>
                                        <tr>
                                            <th class="user"></th>
                                            <th class="grade">商标名称</th>
                                            <th class="consumption">类别数量</th>
                                            <th class="date">使用时长</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of getChatValue(1);let i = index">
                                            <td class="user">
                                                <img [src]="'/assets/images/company/' + (i + 1) + '.png'" height="auto" width="24"/>
                                            </td>
                                            <td class="grade">{{item.text}}</td>
                                            <td class="consumption">{{item.count}}</td>
                                            <td class="date">{{item.count1}}年</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </ion-item>
                            </ion-col>
                            <ion-col size="6">
                                <ion-item lines="none" class="top">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/pie.png"/>
                                    </ion-thumbnail>
                                    <ion-label>商标注册总数情况</ion-label>
                                </ion-item>
                                <ion-item lines="none" style="margin-top: -10px;">
                                    <ion-thumbnail style="margin: 0 27px"></ion-thumbnail>
                                    <ion-label
                                            style="font-size:14px;font-weight:500;color:rgba(95,113,125,1);line-height:32px;">
                                        商标注册总数 <em style="font-style: normal;color: #3FA2F4;font-size: 24px">{{getCondValue(5)}}</em>
                                    </ion-label>
                                </ion-item>
                                <ion-item lines="none">
                                    <div *ngIf="option[2]" echarts [options]="option[2]"
                                         class="main-chart subsidy-chart"
                                         style="height: 230px;"></div>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row style="border: none;margin-top: 21px">
                            <ion-col size="6">
                                <ion-item lines="none" class="top">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/main.png"/>
                                    </ion-thumbnail>
                                    <ion-label>主要类别注册情况</ion-label>
                                </ion-item>
                                <ion-item lines="none">
                                    <div *ngIf="option[3]" echarts [options]="option[3]"
                                         class="main-chart subsidy-chart"
                                         style="height: 230px;"></div>
                                </ion-item>
                            </ion-col>
                            <ion-col size="6">
                                <ion-item lines="none" class="top">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/brand.png"/>
                                    </ion-thumbnail>
                                    <ion-label>商标注册类别情况</ion-label>
                                </ion-item>
                                <ion-item lines="none" style="margin-top: -10px;">
                                    <ion-thumbnail style="margin: 0 27px"></ion-thumbnail>
                                    <ion-label
                                            style="font-size:14px;font-weight:500;color:rgba(95,113,125,1);line-height:32px;">
                                        注册类别总数 <em style="font-style: normal;color: #3FA2F4;font-size: 24px">{{getCondValue(6)}}</em>
                                    </ion-label>
                                </ion-item>
                                <div>
                                    <ul class="types">
                                        <li [class.selected]="type.selected" *ngFor="let type of types">{{type.id}}</li>
                                    </ul>
                                </div>
                                <div class="type-labels"><span class="selected">已注册类别</span><span>未注册类别</span></div>
                            </ion-col>
                        </ion-row>
                    </mat-card-content>
                </mat-card>
            </ion-col>

            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>科研创造力分析结果</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-row style="margin-top: 20px">
                            <ion-col size="4">
                                <ion-item lines="none" class="layout_l"
                                           style="border-bottom: 1px solid rgba(229,235,240,1);border-top-left-radius: 4px;border-bottom-left-radius: 4px;">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/achievement.png"/>
                                    </ion-thumbnail>
                                    <ion-label>科研成果<span style="color: #4DC36D">优秀</span></ion-label>
                                    <div class="result_img">
                                        <img src="/assets/images/company/hand.png"/>
                                    </div>
                                </ion-item>
                                <ion-item lines="none" class="layout_l" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/ability.png"/>
                                    </ion-thumbnail>
                                    <ion-label>科研能力<span>良好</span></ion-label>
                                    <div class="result_img">
                                        <img src="/assets/images/company/tick.png"/>
                                    </div>
                                </ion-item>
                            </ion-col>
                            <ion-col size="8" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                <ion-item lines="none">
                                    <article style="color: #5F717D;padding: 48px 37px 38px 40px;">
                                        <ion-label [innerHTML]="getGroupValue(9).suggest"></ion-label>
                                        <ion-label [innerHTML]="getGroupValue(10).suggest"></ion-label>
                                    </article>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: 11px">
                            <ion-col size="4">
                                <ion-item lines="none">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/patent.png"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <p>发明专利</p>
                                        <h3>{{getCondValue(8)}}个</h3>
                                    </ion-label>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/patent_n.png"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <p>实用新型专利</p>
                                        <h3>{{getCondValue(9)}}个</h3>
                                    </ion-label>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/copyright.png"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <p>软件著作权</p>
                                        <h3>{{getCondValue(11)}}个</h3>
                                    </ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col size="8">
                                <div style="width: 100%;height: 100%;background:rgba(246,247,249,1);border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                    <p style="font-size:18px;font-weight:400;color:#5F717D;line-height:32px;margin: 0;padding: 31px;">
                                        科研成果情况</p>
                                    <div *ngIf="option[7]" echarts [options]="option[7]"
                                         class="main-chart subsidy-chart"
                                         style="height: 230px;"></div>
                                </div>
                            </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: 11px;" [ngStyle]="{'border-color':getGroupValue(19).score < 60 ? '#EEDADA' : '' }">
                            <ion-col size="4">
                                <ion-item lines="none" class="result_l" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                                          [ngStyle]="{'border-right-color':getGroupValue(19).score < 60 ? '#EEDADA' : '' }">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/proportion.png"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <p>科研人员占比</p>
                                        <h2 [ngStyle]="{'color': getGroupValue(19).score >= 60 ? '#3fa2f4' : '#B81F1C'}">{{getCondValue(21)}}%</h2>
                                    </ion-label>
                                    <div class="result_img">
                                        <img [src]="'/assets/images/company/' + (getGroupValue(19).score >= 81 ? 'hand' : getGroupValue(19).score >= 60 ? 'tick' : 'warn') + '.png'"/>
                                    </div>
                                </ion-item>
                            </ion-col>
                            <ion-col size="8">
                                <ion-item lines="none" class="result_r" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                    <ion-label [innerHTML]="getGroupValue(19).suggest"></ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: 11px;" [ngStyle]="{'border-color':getGroupValue(20).score < 60 ? '#EEDADA' : '' }">
                            <ion-col size="4">
                                <ion-item lines="none" class="result_l" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                                          [ngStyle]="{'border-right-color':getGroupValue(20).score < 60 ? '#EEDADA' : '' }">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/education.png"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <p>科研人员本科学历及以上</p>
                                        <h2 [ngStyle]="{'color': getGroupValue(20).score >= 60 ? '#3fa2f4' : '#B81F1C'}">{{getCondValue(28)}}%</h2>
                                    </ion-label>
                                    <div class="result_img">
                                        <img [src]="'/assets/images/company/' + (getGroupValue(20).score >= 81 ? 'hand' : getGroupValue(20).score >= 60 ? 'tick' : 'warn') + '.png'"/>
                                    </div>
                                </ion-item>
                            </ion-col>
                            <ion-col size="8">
                                <ion-item lines="none" class="result_r" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                    <ion-label [innerHTML]="getGroupValue(20).suggest"></ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row style="margin-top: 11px;" [ngStyle]="{'border-color':getGroupValue(21).score < 60 ? '#EEDADA' : '' }">
                            <ion-col size="4">
                                <ion-item lines="none" class="result_l" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;"
                                          [ngStyle]="{'border-right-color':getGroupValue(21).score < 60 ? '#EEDADA' : '' }">
                                    <ion-thumbnail>
                                        <img src="/assets/images/company/input.png"/>
                                    </ion-thumbnail>
                                    <ion-label>
                                        <p>科研费用投入占比</p>
                                        <h2 [ngStyle]="{'color': getGroupValue(21).score >= 60 ? '#3fa2f4' : '#B81F1C'}">{{getCondValue(24)}}%</h2>
                                    </ion-label>
                                    <div class="result_img">
                                        <img [src]="'/assets/images/company/' + (getGroupValue(21).score >= 81 ? 'hand' : getGroupValue(21).score >= 60 ? 'tick' : 'warn') + '.png'"/>
                                    </div>
                                </ion-item>
                            </ion-col>
                            <ion-col size="8">
                                <ion-item lines="none" class="result_r" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">
                                    <ion-label [innerHTML]="getGroupValue(21).suggest"></ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </mat-card-content>
                </mat-card>
            </ion-col>

            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>匹配政策
                            <span style="margin-left: 10px" matTooltip="由中科华海搜集全国范围内的企业相关政策" matTooltipPosition="after">
                                <img src="/assets/images/qualification.png" style="width: 20px;height: 20px; position:relative;top:3px;">
                            </span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-row style="border: none">
                            <ion-col size="6">
                                <div class="policy-left">
                                    <p>
                                        快速培育可获得<em>{{amt.quick}}</em>万元
                                        <span>快速培育
                                            <img src="/assets/images/company/into.png" height="13" width="13"/>
                                        </span>
                                    </p>
                                </div>
                            </ion-col>
                            <ion-col size="6">
                                <div class="policy-right">
                                    <p style="text-shadow:0px 2px 4px rgba(255,90,90,0.5);">
                                        科创直通车(2年)可获得<em style="text-shadow:0px 2px 4px rgba(255,90,90,0.5);">{{amt.keChuangBao}}</em>万元
                                        <span class="right">政策收益提升
                                        <em style="text-shadow:0px 2px 4px rgba(255,90,90,0.5);">{{amt.rate}}%</em>
                                        <img src="/assets/images/company/into.png" height="13" width="13"/>
                                        </span>
                                    </p>
                                </div>
                            </ion-col>
                        </ion-row>
                        <div class="hot">
                            <ion-grid>
                                <ion-row style="border: none">
                                    <ion-col size="3" *ngFor="let item of policy.list.slice(0,4);let i = index">
                                        <div class="hot_right" [routerLink]="['/admin/policy/item',item.id]"
                                             [ngStyle]="{'margin-right': i === 3 ? '0' : '22px'}">
                                            <div class="hot_img" *ngIf="item.policyName.indexOf('疫情政策') !== -1 ">
                                                <img src="/assets/images/dashboard/icon_hot.png">
                                            </div>
                                            <p style="font-size:18px;font-weight:400;color:rgba(33,51,63,1);line-height:25px;margin-bottom:10px;margin-top: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                                                {{item.policyName}}</p>
                                            <p style="font-size:14px;font-weight:400;color:rgba(95,113,125,1);line-height:20px;">
                                                预计补贴金额<span
                                                    style="float: right"><em
                                                    style="font-style: normal;font-size:14px;font-weight:400;color:rgba(63,162,244,1);line-height:20px;">{{item.subsidyAmtEnd}}</em>万元</span>
                                            </p>
                                            <p style="font-size:14px;font-weight:400;color:rgba(95,113,125,1);line-height:20px;margin-top: 6px;">
                                                预计所需时间<span
                                                    style="float: right"><em
                                                    style="font-style: normal;font-size:14px;font-weight:400;color:rgba(63,162,244,1);line-height:20px;">{{item.reportTiming}}</em>个月</span>
                                            </p>
                                            <p style="font-size:14px;font-weight:400;color:rgba(95,113,125,1);line-height:20px;margin-top: 15px;">
                                                <span style="padding: 6px 15px;border-radius:4px;border:1px solid rgba(63,162,244,1);font-size:14px;font-weight:500;color:rgba(42,159,247,1);line-height:20px;">立即了解</span>
                                                <span style="float: right;margin-top: -5px;"><img
                                                        src="/assets/images/dashboard/icon_clock.png" height="20"
                                                        width="20" style="position: relative;top:5px"/><em
                                                        style="font-weight:500;color:rgba(224,32,32,1);font-style: normal">{{getDate(item.reportDateEnd)}}</em>天</span>
                                            </p>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>

