.container {
  background: rgba(246, 247, 249, 1);
  padding: 0;

  &.s {
    .suggest {
      display: none;
    }
  }

  .smart-chart {
    width: calc(100% - 1px) !important;
  }

  mat-card {
    margin: 10px;

    &:not([class*=mat-elevation-z]) {
      box-shadow: none;
    }

    span.btn-span {
      padding: 6px 15px;
      border-radius: 4px;
      border: 1px solid #3FA2F4;
      font-size: 14px;
      font-weight: 500;
      color: #2A9FF7;
      line-height: 20px;

      &:hover {
        color: #fff;
        background: #3FA2F4;
      }
    }

    mat-card-header {
      border-bottom: 1px solid #DCE5EC;
      margin: 0 -16px;
      padding: 5px 16px 8px 16px;

      mat-card-title {
        font-weight: 600;
        color: rgba(33, 51, 63, 1);
        line-height: 28px;
        font-size: 20px;
      }

      mat-card-subtitle {
        top: 16px;
        right: 16px;
        position: absolute;
        margin: 0;

        img {
          width: 30px;
          height: 30px;
        }
      }

      &::ng-deep {
        .mat-card-header-text {
          margin: 0;
        }
      }
    }
  }
}

ion-grid {
  --ion-grid-padding: 0;

  ion-col {
    --ion-grid-column-padding: 0;
  }
}

ion-row {
  border-radius: 4px;
  border: 1px solid rgba(229, 235, 240, 1);

  ion-col {
    article {
      font-size: 14px;
      font-weight: 400;
      color: rgba(96, 113, 125, 1);
      line-height: 20px;
      margin: 31px 24px 0 50px;
    }
  }

  ion-list {
    ion-list-header {
      margin: 32px 0 0 20px;
      font-size: 18px;
      font-weight: 400;
      color: rgba(95, 113, 125, 1);
      line-height: 32px;
    }
  }

  ion-item {
    --padding-start: 0;

    .subsidy-chart {
      width: calc(100% - 1px);
    }

    table.table_top {
      background: #fff;
      width: 100%;
      margin: 0 14px 0 85px;

      thead {
        tr {
          th {
            font-size: 12px;
            font-weight: 600;
            color: rgba(95, 113, 125, 1);
            line-height: 17px;
            text-align: center;
            padding: 14px 0;

            &.user {
              width: 16%;
            }

            &.grade {
              width: 28%;
            }

            &.consumption {
              width: 28%;
            }

            &.date {
              width: 28%;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background: #F9F9F9;
          }

          td {
            font-size: 12px;
            font-weight: 600;
            color: rgba(33, 51, 63, 1);
            line-height: 12px;
            padding: 14px 0;
            position: relative;
            text-align: center;

            &.user {
              width: 16%;
            }

            &.grade {
              width: 28%;
            }

            &.consumption {
              width: 28%;
            }

            &.date {
              width: 28%;
            }
          }
        }
      }
    }

    &.top {
      ion-thumbnail {
        margin: 28px 27px
      }

      ion-label {
        font-size: 18px;
        font-weight: 500;
        color: rgba(33, 51, 63, 1);
        line-height: 32px;
      }
    }

    &.layout_l {
      border-right: 1px solid rgba(229, 235, 240, 1);

      ion-thumbnail {
        margin: 24px 27px;
      }

      ion-label {
        font-size: 18px;
        font-weight: 400;
        color: rgba(95, 113, 125, 1);
        line-height: 32px;
        margin-right: 41px;

        span {
          float: right;
          font-size: 18px;
          font-weight: 500;
          color: rgba(63, 162, 244, 1);
          line-height: 33px;
        }
      }

      .result_img {
        position: absolute;
        right: 0;
        top: 0;
        width: 46px;
        height: 46px;

        img {
          position: relative;
          width: 46px;
          height: auto;
        }
      }
    }

    &.result_l {
      border-right: 1px solid rgba(229, 235, 240, 1);

      ion-thumbnail {
        margin: 29px 37px 67px 37px;
      }

      ion-label {
        margin-top: -1px;

        h2 {
          font-size: 18px;
          font-weight: 500;
          color: rgba(63, 162, 244, 1);
          line-height: 33px;
        }
      }

      .result_img {
        position: absolute;
        right: 0;
        top: 0;
        width: 46px;
        height: 46px;

        img {
          position: relative;
          width: 46px;
          height: auto;
        }
      }
    }

    &.result_r {
      ion-label {
        margin: 28px 0 18px 40px;
        overflow: visible;
        white-space: pre-wrap;
        text-overflow: unset;

        h3 {
          font-size: 18px;
          font-weight: 500;
          color: rgba(95, 113, 125, 1);
          line-height: 32px;
        }

        p {
          font-size: 14px;
          font-weight: 400;
          color: rgba(96, 113, 125, 1);
          line-height: 20px;
        }
      }

    }

    ion-thumbnail {
      width: 34px;
      height: 34px;
      margin: 48px 27px;

      &.end {
        width: 36px;
        height: 51px;
        margin-top: 40px;
      }
    }

    ion-label {
      p {
        font-size: 18px;
        font-weight: 400;
        color: rgba(95, 113, 125, 1);
        line-height: 32px;
      }

      h3 {
        font-size: 18px;
        font-weight: 500;
        color: rgba(32, 51, 63, 1);
        line-height: 33px;
      }
    }

    article {
      font-size: 14px;
      font-weight: 400;
      color: rgba(96, 113, 125, 1);
      line-height: 20px;
      padding: 33px 37px 37px 40px;
      margin: 0;
    }

  }

  table.result_table {
    width: 100%;
    margin: 34px 21px;

    thead {
      background: #DCE5EC;

      tr {
        th {
          font-size: 14px;
          font-weight: 550;
          color: rgba(0, 0, 0, 0.85);
          line-height: 21px;
          text-align: center;
          padding: 13px 15px 6px 15px;
          border-bottom: 1px solid #B5C4D0;

          &:not(:last-child) {
            border-right: 1px solid #B5C4D0;
          }

          &.user {
            width: 33.3%;
          }

          &.grade {
            width: 33.3%;
          }

          &.consumption {
            width: 33.3%;
          }

        }
      }
    }

    tbody {
      background: #fff;

      tr {
        border-bottom: 1px solid #e8e8e8;

        td {
          font-size: 14px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.65);
          line-height: 21px;
          padding: 13px 15px 6px 15px;
          position: relative;
          text-align: center;

          &.user {
            width: 33.3%;
          }

          &.grade {
            width: 33.3%;
          }

          &.consumption {
            width: 33.3%;
          }

        }
      }
    }
  }
}

.hot {
  display: flex;
  flex-direction: row;
  margin: 15px auto;

  .hot_img {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 30px;

    img {
      position: relative;
      width: 22px;
      height: auto;
    }
  }

  .hot_left {
    width: 200px;
    height: 120px;
    background: inherit;
    background-color: rgba(44, 158, 247, 1);
    border: none;
    border-radius: 4px;
  }

  .hot_right {
    height: 167px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border: 1px solid rgba(220, 229, 236, 1);;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    margin: 0 10px;

    p {
      margin: 0 17px;
    }
  }
}

.policy-left {
  height: 92px;
  background: url("/assets/images/company/policy_l.png") no-repeat center center;
  background-size: cover;
  border-radius: 4px;
  margin: 20px 20px 0 0;
}

.policy-right {
  height: 92px;
  background: url("/assets/images/company/policy_r.png") no-repeat center center;
  background-size: cover;
  border-radius: 4px;
  margin: 20px 0 0 0;
}

.policy-left, .policy-right {
  p {
    padding: 20px 30px 27px 22px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 32px;
    text-shadow: 0 2px 4px rgba(0, 118, 212, 0.5);

    em {
      padding: 0 5px;
      font-size: 40px;
      font-weight: bold;
      font-style: normal;
      color: rgba(255, 255, 255, 1);
      line-height: 40px;
      text-shadow: 0 2px 4px rgba(72, 125, 233, 0.5);
      -webkit-text-stroke: 0 rgba(255, 255, 255, 1);
      text-stroke: 0px rgba(255, 255, 255, 1);
    }

    span {
      float: right;
      padding: 10px 45px;
      font-size: 12px;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      line-height: 20px;
      background: linear-gradient(221deg, rgba(112, 188, 255, 1) 0%, rgba(64, 115, 216, 1) 100%);
      box-shadow: 0 6px 13px 0 rgba(63, 194, 243, 0.5);
      border-radius: 4px;
      margin-top: 5px;

      img {
        top: 2px;
        left: 5px;
        position: relative;
      }

      &.right {
        padding: 10px 20px;
        background: linear-gradient(219deg, rgba(255, 119, 90, 1) 0%, rgba(240, 77, 74, 1) 100%);
        box-shadow: 0px 6px 13px 0px rgba(243, 120, 63, 0.5);
        border-radius: 4px;

        em {
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }
  }
}

.company {
  width: 100%;
  margin-left: -15px;

  .company_left {
    border: none;
    width: 4px;
    height: 31px;
    background: inherit;
    background-color: rgba(44, 160, 245, 1);
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
  }

  .company_right {
    display: inline-block;
    position: absolute;
    margin: 0 8px;

    p {
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      color: #000;
      line-height: 33px;
    }
  }

}

.company_condition_l {
  height: 90px;
  background: url("/assets/images/company/condition_l.png") no-repeat center center;
  background-size: cover;
  border-radius: 4px;
  margin-right: 20px;
}

.company_condition_m {
  height: 90px;
  background: url("/assets/images/company/condition_m.png") no-repeat center center;
  background-size: cover;
  border-radius: 4px;
  margin-right: 20px;
}

.company_condition_r {
  height: 90px;
  background: url("/assets/images/company/condition_r.png") no-repeat center center;
  background-size: cover;
  border-radius: 4px;
}

.company_condition_l, .company_condition_m, .company_condition_r {
  p {
    padding: 25px 0px 31px 78px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 25px;

    span {
      font-size: 24px;
      font-weight: 500;
      line-height: 33px;
      margin-left: 33px;
    }
  }
}

.policy {
  display: flex;
  flex-direction: column;

  .policy_small {
    width: 330px;
    height: 100px;
    background: inherit;
    background-color: rgba(44, 158, 247, 1);
    border: none;
    border-radius: 4px;
    margin: 20px;
  }
}

.right {
  display: flex;
  flex-direction: row;

  .right_head {
    height: 40px;
    background: inherit;
    background-color: #F6F7F9;
    border: none;
  }

  .right_content {
    margin: 20px;
    line-height: 22px;
    text-indent: 25px;
    color: #21333F;
    font-size: 14px;
  }
}

.suggest {
  display: flex;
  flex-direction: column;

  .suggest_small {
    width: 97%;
    height: 130px;
    background: inherit;
    border: none;
    border-radius: 4px;
    margin: 20px;
  }
}


.work {
  display: flex;
  flex-direction: row;
  border: 1px solid #DCE5EB;

  .work_left {
    width: 20%;
    height: 80px;
    background: inherit;
    background-color: #F6F7F9;
    border-radius: 4px 0 0 4px;
  }

  .work_right {
    width: 80%;
    height: 80px;
    background: inherit;
    font-size: 14px;
    padding: 10px;
    color: #21333F;
    background-color: #fff;
    border-radius: 0 4px 4px 0;

    table {
      &::ng-deep {
        tbody tr td {
          border-bottom-width: 1px !important;
        }
      }
    }

    span {
      display: inline-block;
      padding: 10px 40px;
      color: #ffffff;
      font-weight: bold;
      font-size: 32px;
    }

    p {
      display: inline-block;
      position: absolute;
      color: #ffffff;
      font-weight: bold;
      font-size: 16px;
      margin-top: 20px;
    }
  }
}

.content {
  background: #fff;
  width: 100%;
  color: #21333F;
  margin-top: 10px;

  table.kc {
    background: #fff;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    padding: 0 10px;

    thead {
      border-top: 1px solid #DCE5EB;
      background: #F6F7F9;

      tr {
        th {
          font-weight: normal;
          color: #21333F;
          padding: 15px 10px;

          &.user {
            width: 25%;
            text-align: center;
          }

          &.grade {
            width: 25%;
            text-align: center;
          }

          &.consumption {
            width: 25%;
            text-align: center;
          }

          &.date {
            width: 25%;
            text-align: center;
          }
        }
      }
    }

    tbody {
      padding: 15px 10px;
      border-bottom: 1px solid #DCE5EB;

      tr {
        td {
          font-weight: normal;
          color: #666;
          padding: 15px 10px;
          position: relative;

          &.user {
            width: 25%;
            text-align: center;
          }

          &.grade {
            width: 25%;
            text-align: center;
          }

          &.consumption {
            width: 25%;
            text-align: center;
          }

          &.date {
            width: 25%;
            text-align: center;
          }
        }
      }
    }
  }

  table.zc {
    background: #fff;
    width: 100%;
    font-size: 12px;
    line-height: 1;

    thead {
      border-top: 1px solid #DCE5EB;
      background: #F6F7F9;

      tr {
        th {
          font-weight: normal;
          color: #21333F;
          padding: 15px 2px;

          &.user {
            width: 39%;
            text-align: center;
          }

          &.grade {
            width: 12%;
            text-align: center;
          }

          &.consumption {
            width: 12%;
            text-align: center;
          }

          &.date {
            width: 12%;
            text-align: center;
          }

          &.name {
            width: 15%;
            text-align: center;
          }

          &.sex {
            width: 15%;
            text-align: center;
          }
        }
      }
    }

    tbody {
      padding: 15px 10px;
      border-bottom: 1px solid #DCE5EB;

      tr {
        td {
          font-weight: normal;
          color: #21333F;
          padding: 15px 2px;
          position: relative;

          &.user {
            width: 39%;
            text-align: center;
          }

          &.grade {
            width: 12%;
            text-align: center;
          }

          &.consumption {
            width: 12%;
            text-align: center;
          }

          &.date {
            width: 12%;
            text-align: center;
          }

          &.name {
            width: 15%;
            text-align: center;
          }

          &.sex {
            width: 15%;
            text-align: center;
          }
        }
      }
    }
  }
}

table {
  &::ng-deep {
    tbody {
      tr {
        td.mat-column-name {
          &:hover {
            color: #2C9EF7 !important;
          }
        }
      }
    }
  }
}

.types {
  list-style: none;
  padding: 0;
  margin: 0;

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  li {
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    width: calc(100% / 9 - 1px);
    background: #97C0F0;
    border-radius: 2px;
    color: #fff;
    height: 30px;
    text-align: center;
    line-height: 30px;

    &.selected {
      background: #5F8FF3;
    }
  }
}

.type-labels {
  margin-top: 10px;

  span {
    display: inline-block;
    height: 20px;
    color: #777;
    font-size: 12px;
    margin-right: 15px;
    position: relative;
    padding-left: 16px;

    &:after {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      left: 0;
      top: 5px;
      background: #97C0F0;
      border-radius: 2px;
    }

    &.selected {
      &:after {
        background: #5F8FF3;
      }
    }
  }
}

ion-label {
  text-overflow: unset !important;
  white-space: normal !important;
  overflow: auto !important;
}

.scientific {
  border: none;

  ion-item {
    border-style: solid;
    border-color: #e5ebf0;

    &:first-child {
      border-radius: 4px 0 0 0;
      border-width: 1px 1px 0 1px;
    }

    &:last-child {
      border-radius: 0 0 0 4px;
      border-width: 1px 1px 1px 1px;
    }

    &.low {
      border-color: #EEDADA;
      border-top: 1px solid #EEDADA;

      & + .low {
        border-top: 0;
      }
    }

    &.height {
      border-color: #EEDADA;
      border-top: 1px solid #EEDADA;

      & + .low {
        border-top: 0;
      }
    }
  }

  ion-col {
    &:last-child {
      border-color: #e5ebf0;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-radius: 0 4px 4px 0;

      ion-item {
        border: none;
      }
    }
  }
}


@media screen and (max-width:1280px){

  .policy-left, .policy-right {
    p {
      padding: 3px 30px 0px 22px !important;
      font-size: 14px !important;
      line-height:20px !important;


      em {
        font-size: 24px !important;
        display: inline-block;
        vertical-align: middle;
      }
      span {
        display: inline-block !important;
        float: none !important;
        padding: 0 20px !important;
        margin-top:0 !important;
        height:40px;
        line-height:40px !important;
      }
      strong{ display: block}
    }
  }

  .policy-left{

    span {width:203px; text-align: center;}
  }

}
