<mat-card class="profile">
    <div class="position">
        <a routerLink="/admin/dashboard" href="javascript:;" class="link">
            <mat-icon>home</mat-icon>
            首页</a>
        <a routerLink="/admin/order/list" href="javascript:;" class="link">
            我的订单</a>
        <span>支付订单</span>
    </div>
    <mat-card-header>
        <mat-card-title>订单支付</mat-card-title>
    </mat-card-header>
</mat-card>
<div class="container">
    <mat-card>
        <mat-card-content>
            <ion-list>
                <ion-item lines="none">
                    <ion-thumbnail slot="start" style="width: 72px;height: 72px">
                        <ion-icon color="success" style="font-size: 72px;width: 72px;height: 72px"
                                  name="md-checkmark-circle"></ion-icon>
                    </ion-thumbnail>
                    <ion-label>
                        <h3 style="font-size: 24px">应付金额：￥{{order.amount}}.00</h3>
                        <p>(业务总价：¥{{order.amount}}.00，优惠：¥ 0.00)</p>
                        <p>订单编号：{{order.no}}，购买服务：智能自助注册</p>
                    </ion-label>
                </ion-item>
            </ion-list>
            <mat-divider></mat-divider>
            <div class="additional">
                <h3>余额支付</h3>
                <ion-grid>
                    <ion-row>
                        <ion-col size="3">
                            <div (click)="setAdditionalPay('zct',0,account.zct === 0 || payType === 'OFFLINE_PAY')"
                                 class="{{additionalPayTypes[0] === 'zct' ? 'curr' : ''}} pay-box {{account.zct === 0 || payType === 'OFFLINE_PAY' ? 'disabled' : ''}}">
                                <img src="/assets/images/paymode/zct.png">
                                <span>知产通</span>
                                <ion-text color="danger">（余额：￥{{account.zct}}）</ion-text>
                            </div>
                        </ion-col>
                        <ion-col size="3">
                            <div (click)="setAdditionalPay('qb',1,account.qb === 0 || payType === 'OFFLINE_PAY')"
                                 class="{{additionalPayTypes[1] === 'qb' ? 'curr' : ''}} pay-box {{account.qb === 0 || payType === 'OFFLINE_PAY' ? 'disabled' : ''}}">
                                <img src="/assets/images/paymode/qb.png">
                                <span>钱包</span>
                                <ion-text color="danger">（余额：￥{{account.qb}}）</ion-text>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <h3>其它支付</h3>
            <ion-grid>
                <ion-row>
                    <ion-col size="2">
                        <div (click)="setPay('wxpay',account.amount >= order.amount)"
                             class="{{payType === 'wxpay' ? 'curr' : ''}} pay-box {{account.amount >= order.amount ? 'disabled' : ''}}">
                            <img src="/assets/images/paymode/wx.png">
                            <span>微信支付</span>
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div (click)="setPay('alipay',true)"
                             class="{{payType === 'alipay' ? 'curr' : ''}} pay-box disabled {{account.amount >= order.amount ? 'disabled' : ''}}">
                            <img src="/assets/images/paymode/alipay.png">
                            <span>支付宝支付</span>
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div (click)="setPay('OFFLINE_PAY',account.amount >= order.amount)"
                             class="{{payType === 'OFFLINE_PAY' ? 'curr' : ''}} pay-box {{account.amount >= order.amount ? 'disabled' : ''}}">
                            <img src="/assets/images/paymode/underline.png">
                            <span>线下支付</span>
                        </div>
                    </ion-col>
                    <ion-col size="2"></ion-col>
                </ion-row>
            </ion-grid>
            <div class="step-actions" style="margin-top: 20px;">
                <button (click)="submit()" color="primary" mat-raised-button style="background: #027CFF;">
                    确认支付
                </button>
                <!--<button (click)="reset(stepper)" mat-raised-button color="primary">再来一单</button>-->
            </div>
        </mat-card-content>
    </mat-card>
</div>