.container {
  background: rgba(246, 247, 249, 1);
  padding: 0;
}
ion-grid {
  --ion-grid-padding: 0;

  ion-col {
    --ion-grid-column-padding: 0;
  }
}
mat-card {
  margin: 10px;

  &:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

  mat-card-header {

    mat-card-title {
      font-size: 20px;
      font-weight: bold;
    }

    mat-card-subtitle {
      top: 16px;
      right: 16px;
      position: absolute;
      margin: 0;

      img {
        width: 30px;
        height: 30px;
      }
    }

    &::ng-deep {
      .mat-card-header-text {
        margin: 0;
      }
    }
  }

  mat-card-content{
    .subsidy-chart {
      width: calc(100% - 1px);
    }

    .policy{
      margin: 50px auto 40px;
      p{
        text-align: center;
        margin: 0;
      }
      &.text{
        font-size: 14px;
        color: #333;
        font-weight: 400;
      }
    }
  }
}
table {
  &::ng-deep {
    tbody {
      tr:first-child {
        td {
          border-bottom-width:1px !important;
        }
      }
    }
  }
}