<div class="container">
    <ion-grid>
        <ion-row>
            <ion-col size="8">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>匹配政策补贴
                            <span style="margin-left: 10px" matTooltip="根据企业资质匹配政策补贴金额" matTooltipPosition="after">
                                <img src="/assets/images/qualification.png" style="width: 20px;height: 20px;">
                            </span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <!--<app-empty *ngIf="subsidyOption === null" title="暂时没有相关数据"></app-empty>-->
                        <!--<div *ngIf="subsidyOption" echarts [options]="subsidyOption" class="main-chart subsidy-chart"
                             style="height: 230px;"></div>-->
                        <ion-grid>
                            <ion-row>
                                <ion-col *ngIf="quick" size="6">
                                    <div id="c1" style="display: flex;justify-content: center;margin: 0 auto"></div>
                                    <!--<div echarts [options]="quick"
                                         class="main-chart subsidy-chart"
                                         style="height: 220px;"></div>-->
                                    <p style="text-align: center;margin-top: -40px;font-size:14px;font-weight:400;color:rgba(42,159,247,1);line-height:24px;">
                                        <em style="font-style: normal;font-weight:500;color:rgba(42,159,247,1);font-size:24px;line-height:30px;">{{quick.series[0]?.data[0]?.value}}</em>万元
                                    </p>
                                    <p style="text-align: center;font-size:12px;font-weight:400;color:rgba(95,113,125,1);line-height:17px;margin-top: -15px">
                                        快速培育可获得</p>
                                    <p style="text-align: center;font-size:14px;font-weight:400;color:#5F717D;line-height:20px;">
                                        可培育项目数<em
                                            style="font-style: normal;color: #21333F;font-size: 18px;font-weight: 500">{{quick.series[0]?.data[0]?.count}}</em>
                                    </p>
                                </ion-col>
                                <ion-col *ngIf="keChuangBao" size="6">
                                    <!--<div echarts [options]="keChuangBao"
                                         class="main-chart subsidy-chart"
                                         style="height: 220px;"></div>-->
                                    <div id="c2" style="display: flex;justify-content: center;margin: 0 auto"></div>
                                    <p style="text-align: center;margin-top: -40px;font-size:14px;font-weight:400;color:rgba(42,159,247,1);line-height:24px;">
                                        <em style="font-style: normal;font-weight:500;color:rgba(42,159,247,1);font-size:24px;line-height:30px;">{{keChuangBao.series[0]?.data[0]?.value}}</em>万元
                                    </p>
                                    <p style="text-align: center;font-size:12px;font-weight:400;color:rgba(95,113,125,1);line-height:17px;margin-top: -15px">
                                        科创直通车(2年)可获得</p>
                                    <p style="text-align: center;font-size:14px;font-weight:400;color:#5F717D;line-height:20px;">
                                        可培育项目数<em
                                            style="font-style: normal;color: #21333F;font-size: 18px;font-weight: 500">{{keChuangBao.series[0]?.data[0]?.count}}</em>
                                    </p>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </mat-card-content>
                </mat-card>
            </ion-col>
            <ion-col size="4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>华海政策库</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ion-row>
                            <ion-col size="6">
                                <div class="policy">
                                    <p style="font-size: 32px;color: #2C9EF7;font-weight: 700">{{policy?.totalCount}}</p>
                                    <p class="text" style="margin-top: 20px">华海政策库</p>
                                    <p class="text" style="margin-top: 3px">已收录政策</p>
                                </div>
                            </ion-col>
                            <ion-col size="6">
                                <div class="policy">
                                    <p style="font-size: 32px;color: #0DD78D;font-weight: 700">{{policy?.updateCount}}</p>
                                    <p class="text" style="margin-top: 20px">近一个月更新政策</p>
                                    <p class="text" style="margin-top: 5px">{{dateTime | date : 'yyyy-MM-dd HH:mm'}}</p>
                                </div>
                            </ion-col>
                            <ion-col size="12">
                                <ion-button (click)="toPolicyItem()" color="primary" style="display: block;width: 35%;margin: 0 auto">查看全部政策</ion-button>
                            </ion-col>
                        </ion-row>

                    </mat-card-content>
                </mat-card>
            </ion-col>
            <ion-col size="12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>匹配政策</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <table mat-table [dataSource]="dataSource">

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef><b>政策名称</b></th>
                                <td mat-cell *matCellDef="let element" style="text-align: left !important;text-indent: 20px;cursor: pointer">
                                    <a *ngIf="element.id" [routerLink]="['/admin/policy/item',element.id]" href="javascript:;">{{element.policyName.slice(0,30)}}{{element.policyName.length > 30 ? '...' : ''}}</a>
                                    <span *ngIf="!element.id">{{element.policyName}}</span>
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="money">
                                <th mat-header-cell *matHeaderCellDef style="width: 142px"><b>最高补贴金额（万元）</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.subsidyAmtEnd}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef><b>获取方式</b></th>
                                <td mat-cell *matCellDef="let element" [ngStyle]="{'color':element.weight<80 ? '#0DD78D' : ''}">
                                    {{element.weight ? (element.weight<80 ? '科创直通车' : '快速培育') : ''}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="scope">
                                <th mat-header-cell *matHeaderCellDef><b>申报时间范围</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.reportDateBegin | date : 'yyyy-MM-dd'}}<span *ngIf="element.reportDateBegin">至</span>{{element.reportDateEnd | date : 'yyyy-MM-dd'}}
                                </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="time">
                                <th mat-header-cell *matHeaderCellDef style="width: 90px"><b>申报所需时长</b></th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.reportTiming ? element.reportTiming + '个月' : ''}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef><b>操作</b></th>
                                <td mat-cell *matCellDef="let element"
                                    style="height: 50px;">
                                    <a class="actions-icon" *ngIf="element.id"
                                       [routerLink]="['/admin/policy/item',element.id]" title="查看">
                                        <img src="/assets/images/view.png">
                                    </a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                        <ion-button color="primary" style="margin-top: 10px;" (click)="applyPolicy()">一键申请全部政策</ion-button>
                        <mat-paginator [pageIndex]="params.page - 1" [pageSize]="params.rows" [length]="total" (page)="page($event)"
                                       [pageSizeOptions]="[10,20,50]" showFirstLastButtons>123</mat-paginator>
                    </mat-card-content>
                </mat-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
